<template>
  <div class="basic_wrap">
    <div class="bg">
      <div class="head">
        <div class="title">{{ $t("home.team") }}</div>
        <!-- <lang-select :showIcon="false" :showMsg="true"></lang-select> -->
      </div>

      <!-- 用户头像等 -->
      <div class="flex user-box">
        <div class="user">
          <img :src="user_info.user_icon" alt="" />
        </div>
        <div class="flex-1">
          <div class="user-name flex flex-b">
            <div>{{ user_info.username }}</div>
            <div class="code flex" @click="showCode">
              <div>
                <!-- 邀请二维码 -->
                {{ $t("new.yqm") }}
              </div>
              <div class="icon code"></div>
            </div>
          </div>

          <div class="flex bgs">
            <!-- v-if="info.group_level_name" -->
            <span class="td-bg"
              ><span class="icon td"></span>{{ $t("new.td") }}:
              {{ info.group_level_name ? info.group_level_name : " " }}
            </span>
            <span class="dj-bg"
              ><span class="icon dj"></span>{{ $t("new.hy") }}:
              {{ info.vip_name || " " }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- 信息 -->
    <div class="info">
      <div class="flex flex-b">
        <div class="flex-1">
          <div class="txt" :class="{ ts: $i18n.locale == 'vi_vn' }">
            {{ $t("new.zcz") }}
          </div>
          <div class="num">
            {{ report.income ? $thousands(report.income) : 0 }}
          </div>
        </div>
        <div class="flex-1">
          <div class="txt" :class="{ ts: $i18n.locale == 'vi_vn' }">
            {{ $t("new.zrs") }}
          </div>
          <div class="num">
            <!-- {{ report.add_count }} -->
            <!-- 团队人数 -->
            {{ report.indirect_count ? $thousands(report.indirect_count) : 0 }}
          </div>
        </div>
      </div>

      <div class="flex flex-b mtb10">
        <div class="flex-1">
          <!-- 团队今日总充值 -->
          <!-- <div class="txt">{{ $t("new.jrcz") }}</div>
          <div class="num">{{ report.income_to }}</div> -->

          <!-- 团队总提现 -->
          <div class="txt" :class="{ ts: $i18n.locale == 'vi_vn' }">
            {{ $t("new.ztx") }}
          </div>
          <div class="num">
            {{ report.withdraw_sum ? $thousands(report.withdraw_sum) : 0 }}
          </div>
        </div>
        <div class="flex-1">
          <!-- 今日新增 -->
          <!-- <div class="txt">{{ $t("new.jrxz") }}</div>
          <div class="num">{{ report.add_count_to }}</div> -->

          <div class="txt" :class="{ ts: $i18n.locale == 'vi_vn' }">
            {{ $t("new.ztrs") }}
          </div>
          <div class="num">
            <!-- {{ report.parents ? $thousands(report.parents) : 0 }} -->
            {{ $thousands(info.invites || 0) }}
          </div>
        </div>
      </div>
    </div>

    <!-- 未使用 -->
    <div class="block_div top_header" v-if="false">
      <div class="flex_center user_detail_wrap">
        <div class="user_detail">
          <div class="user_header">
            <img :src="user_info.user_icon" alt="" />
          </div>
          <div class="user_name">
            <div class="user_all">
              <p class="user_nickname">{{ user_info.username }}</p>
            </div>
          </div>
        </div>
        <div class="invite_code">
          <p class="invite_tips">{{ $t("user.invite_code") }}</p>
          <div
            class="flex_center copy"
            v-clipboard="() => user_info.invite_code"
            v-clipboard:success="copy"
          >
            <p>{{ user_info.invite_code }}</p>
            <img class="copy_img" src="../img/user/copy.png" />
          </div>
        </div>
      </div>
      <div class="flex_center invite_link_wrap">
        <div
          class="invite_link"
          v-clipboard="() => user_info.share_link"
          v-clipboard:success="copy"
        >
          <span>{{ $t("team.inviteLink") }}</span>
          <span class="link">{{ user_info.share_link }}</span>
        </div>
        <img class="copy_img" src="../img/user/copy.png" />
      </div>
      <div class="user_earing">
        <div class="flex_center today_earing">
          <div class="total_earing">
            <p>
              {{ common.currency_symbol_basic()
              }}{{ common.precision_basic(report.income) }}
            </p>
            <p>{{ $t("team.totalRevenue") }}</p>
          </div>
          <div class="today">
            <p>
              {{ common.currency_symbol_basic()
              }}{{ common.precision_basic(report.income_to) }}
            </p>
            <p>{{ $t("team.today") }}</p>
          </div>
          <div class="yesterday">
            <p>
              {{ common.currency_symbol_basic()
              }}{{ common.precision_basic(report.income_ye) }}
            </p>
            <p>{{ $t("team.yesterday") }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div  class="block_div my_team_wrap">
      <div class="flex_center team_detail">
        <div>
          <p>{{ report.add_count }}</p>
          <p>{{ $t("team.total") }}({{ $t("team.people") }})</p>
        </div>
        <div>
          <p>{{ report.add_count_to }}</p>
          <p>{{ $t("team.today") }}({{ $t("team.people") }})</p>
        </div>
      </div>
    </div> -->

    <!-- 团队列表 -->

    <div class="list">
      <div class="mb flex">
        <div class="icon tdlb"></div>
        <span class="text">{{ $t("team.teamList") }}</span>
      </div>
      <div class="dbg">
        <div class="cot">
          <div class="title-box flex flex-b">
            <div class="flex-1">{{ $t("new.djt") }}</div>
            <div class="flex-1 t-center">{{ $t("login.username") }}</div>
            <!-- <div class="flex-1 t-center">名字</div> -->
            <div class="flex-1 t-center">{{ $t("new.zcz") }}</div>
            <div class="flex-1 t-center">{{ $t("new.ztx") }}</div>
          </div>

          <!-- <div
          class="list-item flex flex-b"
          v-for="(item, index) in list"
          :key="index"
        >
          <div class="flex-1 flex">
            <div class="icon l1" :class="" @click.stop=""></div>
            1级
          </div>
          <div class="flex-1 t-center">{{ item.username }}</div>
          <div class="flex-1 t-center">名字</div>
          <div class="flex-1 t-center">{{ item.recharge_sum }}</div>
          <div class="flex-1 t-right">总提现</div>
        </div> -->

          <van-collapse
            v-model="activeNames"
            @change="changeItem"
            v-if="list.length"
          >
            <van-collapse-item
              :name="item.id"
              v-for="(item, i) in list"
              :key="i"
            >
              <template #title>
                <div @click="openItem(item)">
                  <div class="list-item lbg flex flex-b">
                    <div class="flex-1 flex">
                      <!-- 有下级才显示，没有就不显示图标 -->
                      <div
                        class="icon l1"
                        :class="
                          activeId.find((it) => it == item.id) ? 'active' : ''
                        "
                        v-if="item.hassub"
                      ></div>
                      <!-- activeId里面就是当前展开项的id数组 -->
                      <div class="zw" v-else></div>
                      1{{ $t("new.dj") }}
                    </div>
                    <div class="flex-1 t-center">{{ item.username }}</div>
                    <!-- <div class="flex-1 t-center">名字</div> -->
                    <div class="flex-1 t-center">
                      {{ $thousands(item.recharge_sum || 0) }}
                    </div>
                    <div class="flex-1 t-center">
                      {{ $thousands(item.withdraw_sum || 0) }}
                    </div>
                  </div>
                </div>
              </template>

              <!-- 二级 -->
              <van-collapse-item
                :name="item1.id"
                v-for="(item1, i1) in item.children"
                :key="i1"
              >
                <template #title>
                  <div @click="openItem(item1)">
                    <div class="list-item lbg flex flex-b">
                      <div class="flex-1 flex">
                        <div
                          class="icon l2"
                          :class="
                            activeId.find((it) => it == item1.id)
                              ? 'active'
                              : ''
                          "
                          v-if="item1.hassub"
                        ></div>
                        <div class="zw zw1" v-else></div>
                        2{{ $t("new.dj") }}
                      </div>
                      <div class="flex-1 t-center">{{ item1.username }}</div>
                      <div class="flex-1 t-center">
                        {{ $thousands(item1.recharge_sum || 0) }}
                      </div>
                      <div class="flex-1 t-center">
                        {{ $thousands(item1.withdraw_sum || 0) }}
                      </div>
                    </div>
                  </div>
                </template>

                <!-- 三级 -->
                <van-collapse-item
                  :name="item2.id"
                  v-for="(item2, i2) in item1.children"
                  :key="i2"
                >
                  <template #title>
                    <div @click="openItem(item2)">
                      <div class="list-item lbg flex flex-b">
                        <div class="flex-1 flex">
                          <div
                            class="icon l3"
                            :class="
                              activeId.find((it) => it == item2.id)
                                ? 'active'
                                : ''
                            "
                            v-if="item2.hassub"
                          ></div>
                          <div class="zw zw2" v-else></div>
                          3{{ $t("new.dj") }}
                        </div>
                        <div class="flex-1 t-center">{{ item2.username }}</div>
                        <div class="flex-1 t-center">
                          {{ $thousands(item2.recharge_sum || 0) }}
                        </div>
                        <div class="flex-1 t-center">
                          {{ $thousands(item2.withdraw_sum || 0) }}
                        </div>
                      </div>
                    </div>
                  </template>

                  <!-- 4级 -->
                  <van-collapse-item
                    :name="item3.id"
                    v-for="(item3, i3) in item2.children"
                    :key="i3"
                  >
                    <template #title>
                      <div @click="openItem(item3)">
                        <div class="list-item lbg flex flex-b">
                          <div class="flex-1 flex">
                            <div
                              class="icon l4"
                              :class="
                                activeId.find((it) => it == item3.id)
                                  ? 'active'
                                  : ''
                              "
                              v-if="item3.hassub"
                            ></div>
                            <div class="zw zw3" v-else></div>
                            4{{ $t("new.dj") }}
                          </div>
                          <div class="flex-1 t-center">
                            {{ item3.username }}
                          </div>
                          <div class="flex-1 t-center">
                            {{ $thousands(item3.recharge_sum || 0) }}
                          </div>
                          <div class="flex-1 t-center">
                            {{ $thousands(item3.withdraw_sum || 0) }}
                          </div>
                        </div>
                      </div>
                    </template>

                    <!-- 5级 -->
                    <van-collapse-item
                      :name="item4.id"
                      v-for="(item4, i4) in item3.children"
                      :key="i4"
                    >
                      <template #title>
                        <div>
                          <div class="list-item lbg flex flex-b">
                            <div class="flex-1 flex">
                              <!--  :class="
                                  activeId.find((it) => it == item4.id)
                                    ? 'active'
                                    : ''
                                "
                                v-if="item4.children && item4.children.length" -->
                              <div class="icon l5"></div>
                              <!-- <div class="zw" v-else></div> -->
                              5{{ $t("new.dj") }}
                            </div>
                            <div class="flex-1 t-center">
                              {{ item4.username }}
                            </div>
                            <div class="flex-1 t-center">
                              {{ $thousands(item4.recharge_sum || 0) }}
                            </div>
                            <div class="flex-1 t-center">
                              {{ $thousands(item4.withdraw_sum || 0) }}
                            </div>
                          </div>
                        </div>
                      </template>
                    </van-collapse-item>
                  </van-collapse-item>
                </van-collapse-item>
              </van-collapse-item>
            </van-collapse-item>
          </van-collapse>

          <div class="no-data" v-else>
            <div class="no-img"></div>
            <div class="no-txt">
              {{ $t("utils.noData") }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="block_div team_list_wrap" v-if="false">
      <div class="team_list_title">
        {{ $t("team.teamList") }}
      </div>
      <div class="list_item">
        <van-list
          v-model="loading"
          offset="0"
          :finished="finished"
          @load="onLoad"
        >
          <div class="item" v-for="(item, index) in list">
            <div class="flex_center">
              <p>{{ item.act_time }}</p>
              <p v-if="item.level == 1" class="color_red">
                {{ $t("team.direct") }}
              </p>
              <p v-if="item.level != 1">{{ $t("team.indirect") }}</p>
            </div>
            <div class="flex_center">
              <p>{{ item.username }}</p>
              <p>
                {{
                  common.currency_symbol_basic() +
                  common.precision_basic(item.recharge_sum)
                }}
              </p>
            </div>
            <div class="flex_center">
              <p>{{ $t("team.username") }}</p>
              <p>{{ $t("team.totalRecharge") }}</p>
            </div>
          </div>
        </van-list>
        <van-empty v-if="empty" :description="$t('utils.noData')" />
      </div>
    </div>
    <div class="share_wrap">
      <van-dialog
        v-model:show="show_share"
        :closeOnClickOverlay="true"
        :showConfirmButton="false"
      >
        <div class="share">
          <div class="share_code">
            <img :src="user_info.share_code" alt="" />
          </div>
          <div class="invite_code">
            {{ $t("user.invite_code") }}:<span
              v-clipboard="() => user_info.invite_code"
              v-clipboard:success="copy"
            >
              {{ user_info.invite_code }}
              <img class="copy_img" src="../img/user/copy.png" />
            </span>
          </div>
        </div>
      </van-dialog>
    </div>

    <!-- 邀请二维码弹出层 -->
    <van-dialog
      v-model="show"
      title=""
      :showConfirmButton="false"
      :show-cancel-button="false"
      :closeOnClickOverlay="true"
    >
      <div class="popup">
        <div class="icon codebg">
          <div class="txt">
            {{ $t("new.yqm") }}
          </div>

          <div class="qr_code">
            <img :src="user_info.share_code" />
          </div>
        </div>

        <!-- <div class="save-btn" @click="downs">
          {{ $t("new.bcm") }}
        </div> -->
        <div class="save-btn">
          <a :href="user_info.share_code" download>{{ $t("new.bcm") }}</a>
        </div>
      </div>
    </van-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import Fetch from "../../utils/fetch";
import Clipboard from "v-clipboard";
import { Icon, List, Empty, Collapse, CollapseItem } from "vant";

Vue.use(Icon)
  .use(Clipboard)
  .use(List)
  .use(Empty)
  .use(Collapse)
  .use(CollapseItem);
export default {
  name: "team",
  data() {
    return {
      activeId: [],
      activeNames: [],
      show: false,
      user_info: [],
      report: {
        direct_count: 0,
        indirect_count: 0,
        income: 0,
        income_to: 0,
        income_ye: 0,
        add_count: 0,
        add_count_to: 0,
        add_count_ye: 0,
      },
      show_share: false,
      empty: false,
      loading: false,
      finished: false,
      list: [],
      // page: 1,
      // listRows: 8,
      info: {
        group_level_name: "",
      },
      uid: 0,
      level: 0,
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#0F6EFF");
      plus.navigator.setStatusBarStyle("light");
    }
    this.$parent.footer("team");
  },
  mounted() {
    this.start();
    this.onLoad();
    this.getInfo();
  },
  methods: {
    changeItem(value) {
      // console.log("value", value);
      this.activeId = value;
    },
    openItem(item) {
      // console.log("item", item);

      this.uid = item.id;
      this.level = item.level;
      // 如果已经被展开过了，那就不再请求数据,没有下级的点击也不请求数据
      if (this.activeId.find((it) => it == this.uid) || !item.hassub) {
        return;
      }
      this.onLoad();
    },
    showCode() {
      // this.show = true;
      this.$router.push('/inviteFriends');
    },
    downs() {
      //必须同源才能下载
      var alink = document.createElement("a");
      alink.href = this.user_info.share_code;
      alink.download = "qrcode"; //图片名
      alink.click();
    },
    copy() {
      this.$toast(this.$t("recharge.copySuccess"));
    },
    start() {
      Fetch("/user/myTeam").then((r) => {
        this.user_info = r.data.user_info;
        this.report = r.data.report;
        this.rate = 100;
      });
    },
    async onLoad() {
      // Fetch("/user/teamList", {
      //   page: this.page,
      //   listRows: this.listRows,
      // }).then((r) => {
      //   if (r.data.length == 0) this.empty = true;
      //   var list = r.data.list;
      //   for (var i = 0; i < list.length; i++) {
      //     this.list.push(list[i]);
      //   }
      //   if (this.list.length >= r.data.length) {
      //     this.finished = true;
      //     return;
      //   }
      //   this.page = this.page + 1;
      //   this.loading = false;
      // });

      const res = await this.$Fetch("/user/teams", {
        uid: this.uid,
        level: this.level,
      });

      // console.log("this.activeId1", this.activeId);
      if (res.code == 1 && res.data.length) {
        res.data.forEach((item) => {
          item.children = [];

          //返回数据如果已经在激活项里面，那就重置已打开的状态为关闭，避免越过等级打开，导致展开图标状态不刷新
          this.activeId = this.activeId
            .map((it) => {
              if (item.id == it) {
                return;
              }
              return it;
            })
            .filter((item2) => item2);

          this.activeNames = this.activeNames
            .map((it) => {
              if (item.id == it) {
                return;
              }
              return it;
            })
            .filter((item2) => item2);
        });

        // console.log("this.activeId2", this.activeId);
        // 有等级说明是获取的下级数据，需要重新处理
        if (this.level) {
          let arr = [];
          // console.log("123456");
          if (this.level == 1) {
            arr = this.list.map((item) => {
              if (item.id == this.uid) {
                item.children = res.data;
              }
              return item;
            });
          }

          if (this.level == 2) {
            arr = this.list.map((item) => {
              item.children.forEach((item1) => {
                if (item1.id == this.uid) {
                  item1.children = res.data;
                }
              });

              return item;
            });
          }

          if (this.level == 3) {
            arr = this.list.map((item) => {
              item.children.forEach((item1) => {
                item1.children.forEach((item2) => {
                  if (item2.id == this.uid) {
                    item2.children = res.data;
                  }
                });
              });

              return item;
            });
          }
          if (this.level == 4) {
            arr = this.list.map((item) => {
              item.children.forEach((item1) => {
                item1.children.forEach((item2) => {
                  item2.children.forEach((item3) => {
                    if (item3.id == this.uid) {
                      item3.children = res.data;
                    }
                  });
                });
              });

              return item;
            });
          }

          this.list = arr;
          // console.log("this.list", this.list);
        } else {
          // 第一级数据
          this.list = res.data;
        }
      }
    },
    // 获取团队等级和会员你等级
    async getInfo() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      const res = await this.$Fetch("/user/info", { isapp });
      if (res.code == 1) {
        this.info = res.data;
      }
    },
  },
};
</script>

<style lang="less" scoped>
::v-deep .van-dialog {
  background-color: transparent;
}
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

::v-deep .van-cell,
::v-deep .van-collapse-item__content {
  padding: 0;
}

::v-deep .van-cell__right-icon {
  display: none;
}

::v-deep .van-cell::after {
  border-bottom: none;
}

.popup {
  .codebg {
    padding: 20px 0;
    .txt {
      font-size: 16px;
      font-weight: bold;
      color: #333333;
      text-align: center;
    }
    .qr_code {
      background-color: #fff;
      width: 70%;
      height: 190px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .save-btn {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(90deg, #e55100, #fb5b04, #ff7e00);
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
    width: 50%;
    margin: 20px auto 0;
    a {
      color: #ffffff;
    }
  }
}

.list {
  padding: 20px 10px;
  //   background-color: #f7f7f7;
  .dbg {
    background: #ebedff;
    min-height: 50vh;
    border-radius: 10px;
  }
  .mb {
    margin-bottom: 15px;
  }
  .text {
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding: 0 5px;
    background: linear-gradient(60deg, #e1e4ff, #f3f4ff);
    vertical-align: middle;
  }
  .cot {
    background: #ebedff;
    border-radius: 10px;
    //  border-radius: 0 0 10px 10px;
    .title-box {
      background: #d2d6ff;
      border-radius: 10px 10px 0px 0px;
      padding: 10px;
      // font-size: 14px;
      font-size: 12px;
      font-weight: 500;
      color: #333333;
    }
    .list-item {
      padding: 10px;
      border-bottom: 1px solid #abb1ed;
      font-size: 12px;
      font-weight: 500;
      color: #333333;
      // background: #d2d6ff;
      &.lbg {
        background: #ebedff;
      }
      .zw {
        width: 6px;
        height: 9px;
        margin-right: 5px;
        &.zw1 {
          margin-left: 5px;
        }
        &.zw2 {
          margin-left: 10px;
        }
        &.zw3 {
          margin-left: 15px;
        }
      }
    }
  }
}
.info {
  background: #ffffff;
  border-radius: 10px;
  // box-shadow: 0px 1px 2px 2px #f0f0f0;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
  margin: -70px 10px 0;
  padding: 15px 10px;
  line-height: 30px;
  .mtb10 {
    margin: 10px 0;
  }
  .txt {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    &.ts {
      font-size: 12px;
    }
  }
  .num {
    font-size: 24px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #333333;
  }
}
.bg {
  height: 235px;
  background: #6270ff;
  .head {
    .title {
      font-size: 16px;
      color: #fff;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-weight: bold;
    }
  }
  .user-box {
    padding: 20px 10px;
    .user {
      width: 70px;
      height: 70px;
      // border: 1px solid #ffffff;
      // border-radius: 50%;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        // border-radius: 50%;
      }
    }
    .user-name {
      font-size: 18px;
      font-family: PingFang-SC-Bold PingFang SC;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 5px;
      .code {
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
      }
    }
    .bgs {
      flex-wrap: wrap;
    }
    .td-bg {
      background: linear-gradient(90deg, #ffe242, #ffc742);
      border-radius: 7px 11px 11px 3px;
      padding: 5px;
      // margin-right: 5px;
      font-size: 12px;
      font-weight: 500;
      color: #2c3bdb;
      margin: 5px 5px 0 0;
    }
    .dj-bg {
      background: linear-gradient(90deg, #42d5ff, #42baff);
      border-radius: 7px 11px 11px 3px;
      padding: 5px;
      font-size: 12px;
      font-weight: 500;
      color: #ffffff;
      margin: 5px 0 0;
    }
  }
}

.basic_wrap {
  //   margin-bottom: 60px;
  padding-bottom: 60px;
  //   background-color: #f7f7f7;
  //   min-height:100vh;
}

.top_header {
  justify-content: space-between;
  margin-bottom: 10px;
  background: #0f6eff;
  width: 100%;
  margin: 0;
  border-radius: 0;
  color: #ffffff;
  height: 240px;
  .user_detail_wrap {
    position: fixed;
    background: #0f6eff;
    width: 100%;
    z-index: 10;
  }

  .user_detail {
    // width: 100%;
    padding: 28px 15px 15px 20px;
    top: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .user_header {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid rgba(255, 255, 255, 0.3);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .user_name {
      margin-left: 3px;
      margin-top: 3px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .user_all {
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;

        .user_nickname {
          line-height: 21px;
          font-size: 18px;
          font-weight: bold;
          margin-top: 2px;
        }

        img {
          width: 22px;
          border-radius: 50%;
          margin-right: 3px;
        }

        .auth {
          justify-content: unset;
          margin-top: 3px;
        }

        .active {
          border: 2px solid #ffeb3b;
        }
      }
    }
  }

  .invite_code {
    margin-right: 30px;
    text-align: center;

    .invite_tips {
      margin-bottom: 10px;
    }

    .copy {
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;

      .copy_img {
        width: 14px;
        height: 14px;
        margin-left: 2px;
      }
    }
  }
  .invite_link_wrap {
    top: 105px;
    margin: 0 10%;
    position: relative;
    .invite_link {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      font-weight: bold;
      .link {
        font-weight: 100;
      }
    }
    .copy_img {
      justify-content: space-between;
      width: 14px;
      height: 14px;
      margin-left: 2px;
    }
  }

  .user_earing {
    padding-bottom: 15px;
    text-align: center;
    position: relative;
    top: 125px;

    .today_earing {
      justify-content: space-around;

      .total_earing {
        p:nth-child(1) {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
          margin-top: 5px;
        }

        p:nth-child(2) {
          // color: #999;
        }
      }

      .today {
        p:nth-child(1) {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
          margin-top: 5px;
        }

        p:nth-child(2) {
          // color: #999;
        }
      }

      .yesterday {
        p:nth-child(1) {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 8px;
          margin-top: 5px;
        }

        p:nth-child(2) {
          // color: #999;
        }
      }
    }
  }
}

.my_team_wrap {
  margin-top: -50px;
  padding: 20px;
  margin-bottom: 10px;

  .team_detail {
    justify-content: space-around;
    padding: 10px 0;

    div {
      text-align: center;

      p:nth-child(1) {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      p:nth-child(2) {
        // color: #999;
      }
    }
  }
}

.report_wrap {
  margin-bottom: 20px;

  .report_item {
    margin-bottom: 10px;
    padding: 20px;
  }

  .title {
    padding: 0 0 15px 0px;
    font-size: 16px;
    border-bottom: 1px solid #f7f7f7;
  }

  .report_detail {
    justify-content: space-around;
    padding: 10px 0;

    div {
      text-align: center;

      p:nth-child(1) {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 5px;
        color: #3cb371;
      }

      p:nth-child(2) {
        // color: #999;
      }
    }
  }
}
.team_list_wrap {
  background: unset;
  box-shadow: unset;
  .team_list_title {
    padding: 15px 0 10px 3%;
    font-size: 16px;
  }
  .list_item {
    .item {
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
      padding: 20px;
      background: #ffffff;
      margin-bottom: 10px;

      div:nth-child(1) {
        margin-bottom: 20px;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;
        padding-bottom: 15px;
        color: #999;

        p:nth-child(1) {
          text-align: left;
        }

        p:nth-child(2) {
          text-align: right;
        }
      }

      div:nth-child(2) {
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 14px;

        p:nth-child(1) {
          text-align: left;
        }

        p:nth-child(2) {
          text-align: right;
        }
      }

      div:nth-child(3) {
        justify-content: space-between;
        color: #999;

        p:nth-child(1) {
          text-align: right;
        }

        p:nth-child(2) {
          text-align: left;
        }
      }
    }
  }
}

.share_wrap {
  text-align: center;

  .share {
    margin-top: 6%;
  }

  .invite_code {
    margin-top: 10px;
    margin-bottom: 20px;

    span {
      color: #ff0000;
      font-weight: bold;
      font-size: 18px;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  img {
    max-width: 88%;
  }
}

.color999 {
  color: #999;
  font-size: 12px;
  margin-left: 5px;
}
</style>
