<template>
  <div class="pad-top">
    <top-back title="tzht"></top-back>

    <div class="cot">
      <p>{{$t('c1')}}</p>
      <p>
        <br />
        {{$t('c2')}}：{{user.orderNo}}
      </p>

      <p> {{$t('c3')}}：{{user.real_name}}</p>

      <p>{{$t('c4')}}：{{info.partya}}</p>

<!-- 丙方占缺 -->
      <!-- <p>{{$t('c5')}}：{//担保公司}</p> -->

      <p>
       {{$t('c6')}}：
      </p>

      <p>{{$t('c7')}}</p>

      <p>
       <div>
          {{$t('c8')}} {{ info.title }}
       </div>
     <div>
         {{$t('c9')}} {{ user.real_name }}
     </div>
    <div>
        {{$t('c10')}} {{ user.id_card }}
    </div>
        <div>
           {{$t('c11')}} {{ $thousands(info.min || 0) }}
        </div>
       <div>
          {{$t('c12')}} {{ info.day || 0 }} {{ $t(`t${info.type}`) }}
       </div>
       <div>
           {{$t('c13')}} {{ info.rate }}% ({{ $t(`l${info.type}`) }})
       </div>
       <div>
         {{$t('c14')}} {{info.time}}
       </div>
      <div>
         {{$t('c15')}} {{info.time2}}
      </div>
       <div>
          {{$t('c16')}} {{$thousands(Number(info.money)+Number(info.total_interest))}}
       </div>
       <div>
          {{$t('c17')}} {{$t("index.method" + info.type)}}
       </div>
      </p>

      <p>
        <br />
        {{$t('c18')}} 
      </p>

      <p>
         {{$t('c19')}} 
      </p>

      <p>
        {{$t('c20')}} 
      </p>

      <p>
         {{$t('c21')}} 
      </p>

      <p> {{$t('c22')}} </p>

      <p>
        &nbsp; &nbsp; &nbsp;
        &nbsp;{{$t('c23')}}
      </p>

      <p>
        &nbsp; &nbsp; &nbsp;
        &nbsp;{{$t('c24')}}
      </p>

      <p>
        &nbsp; &nbsp; &nbsp;
        &nbsp;{{$t('c25')}}
      </p>

      <p>
       {{$t('c26')}} 
      </p>

      <p>&nbsp; {{$t('c27')}}：{{user.real_name}}</p>

      <p>&nbsp;{{info.time}}</p>

      <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>

      <p>{{$t('c28')}}：{{info.partya}}</p>

      <p>
        &nbsp;{{info.time}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </p>

<!-- 丙方占缺 -->
      <!-- <p>{{$t('c29')}}：{//担保公司}</p>

      <p>&nbsp;{//签订日期}</p> -->
    </div>

    <div class="t-right">
      <img
        v-if="imgData"
        style="width: 150px; height: 150px; margin: -150px 10px 10px 0"
        :src="imgData"
      />
    </div>

    <!-- <div class="no-data">
      <div class="no-img"></div>
      <div class="no-txt">
        {{ $t("utils.noData") }}
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "contract",
  props: {},
  data() {
    return {
      content: "",
      imgData: "",
      info: {
       
      },
      user:{
      
      }
    };
  },
  components: {},
  methods: {
    async getDetail(id,invest_id) {
      const res = await this.$Fetch("/index/item_detail", { id,invest_id });
      if (res.code == 1) {
        this.info = res.data.item;
         this.user = res.data.user
        // this.content = res.data.item.contract;
        this.imgData = res.data.item.seal;
        this.getUserInfo();
      }
    },

  },
  created() {
    // this.content = this.$route.params.contract;
    // this.imgData = this.$route.params.seal;
    this.$parent.footer("index", false);
    this.getDetail(this.$route.query.id,this.$route.query.invest_id);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.cot {
  padding: 10px 10px 15px;
  position: relative;
  border-top: 10px solid #f5f5f5;
  :nth-child(n) {
    line-height: 30px;
    background: transparent !important;
    font-size:14px;
  }
  span {
    background: transparent !important;
  }
  //   img {
  //     position: absolute;
  //     bottom: 0;
  //     right: 0;
  //   }
}
</style>
