<template>
  <div class="basic_wrap">
    <!-- <div class="red_top_bg">
			<div class="back_left" @click="$router.back()"></div>
			<div class="big_tit">{{item.title}}</div>
		</div> -->
    <top-back title="new.tzxq" :isBg="true"></top-back>
    <!-- 有背景图片的 -->
    <div class="icon tzbg">
      <div class="flex flex-b">
        <div class="title">{{ item.title }}</div>

        <div class="flex jl-btn">
          <div class="icon jl"></div>
          <div @click="$router.push({ path: '/invest/record' })">
            {{ $t("new.tzjl") }}
          </div>
        </div>
      </div>

      <div class="flex flex-b mt">
        <div class="tips">
          {{ $t("index.method" + item.type) }}
        </div>

        <!-- <div class="flex jl-btn">
          <div class="icon zs"></div>
          <div @click="$router.push(`/invest/contract?id=${item.id}`)">
            {{ $t("cpzs")}}
          </div>
        </div> -->
      </div>

      <!--  -->
      <div class="item_info info1">
        <!-- <div class="title">
          {{ item.title }}
        </div> -->
        <div class="detail">
          <!-- <van-cell-group :border="false">
            <van-cell
              :title="item.type == 1 ? $t('index.dailyRate') : $t('index.rate')"
              value-class="value_class"
              :border="false"
              :value="item.rate + '%'"
            />
            <van-cell
              :title="$t('invest.cycle')"
              value-class="value_class"
              :border="false"
              :value="
                item.day + (item.type == 3 ? $t('index.hour') : $t('index.day'))
              "
            />
            <van-cell
              :title="$t('invest.amount')"
              value-class="value_class"
              :border="false"
              :value="
                common.currency_symbol_basic() +
                common.precision_basic(item.min)
              "
            />
            <van-cell
              :title="$t('invest.type')"
              value-class="value_class"
              :border="false"
              :value="$t('index.method' + item.type)"
            />
          </van-cell-group> -->
          <!-- 利率周期等 -->
          <div class="flex flex-c mb10">
            <div>
              <div class="num t-center">{{ item.rate || 0 + "%" }}</div>
              <div class="txt t-center">
                <!-- {{ item.type == 1 ? $t("index.dailyRate") : $t("index.rate") }} -->
                {{ $t(`l${item.type}`) }}
              </div>
            </div>
          </div>

          <div class="flex flex-b">
            <div class="flex-1 t-center">
              <div class="num1">
                <!-- {{ common.precision_basic(item.min) }} -->
                {{ $thousands(item.min || 0) }}
              </div>
              <div class="txt flex flex-c">
                <div class="icon tzje"></div>
                {{ $t("invest.amount") }}
              </div>
            </div>
            <div class="flex-1 t-center">
              <div class="num1">
                <!-- {{
                  item.day +
                  (item.type == 3 ? $t("index.hour") : $t("index.day"))
                }} -->
                {{ item.day || 0 }}
                {{ $t(`t${item.type}`) }}
              </div>
              <div class="txt flex flex-c">
                <div class="icon tzzq"></div>
                {{ $t("invest.cycle") }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="item_info_bg"></div> -->

    <!-- k线 -->
    <!-- <div class="block_div proCharts" ref="charts"></div> -->

    <div class="block_div proCharts">
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt") }}</div>
        <div class="flex-2 color-red el">{{ item.title }}</div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt1") }}</div>
        <div class="flex-2 el">
          <!-- {{ $t("index.method" + item.type) }} -->
          {{ item.class_name }}
        </div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt2") }}</div>
        <div class="flex-2 color-red">{{ $t("index.method" + item.type) }}</div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt3") }}</div>
        <div class="flex-2 color-red">
          <!-- {{ common.precision_basic(item.min) }} -->
          {{ $thousands(item.min || 0) }}
        </div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt4") }}</div>
        <div class="flex-2 color-red">
          {{ item.rate }}% ({{ $t(`l${item.type}`) }})
        </div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt5") }}</div>
        <div class="flex-2">{{ item.day || 0 }} {{ $t(`t${item.type}`) }}</div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt6") }}</div>
        <div class="flex-2">
          <div class="color-red ts">
            {{ $t("p" + item.type) }}
          </div>
        </div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt7") }}</div>
        <div class="flex-2 color-red">{{ item.num || 0 }}%</div>
      </div>

      <div class="flex flex-b" v-if="item.integral_base">
        <div class="flex-1">{{ $t("new.txt8") }}</div>
        <div class="flex-2 color-red">
          {{
            $thousands(
              isNaN(item.min / item.integral_base)
                ? 0
                : item.min / item.integral_base
            )
          }}
        </div>
      </div>
      <!-- 新增 -->
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt9") }}</div>
        <div class="flex-2 color-red">{{ item.item_num || 0 }}</div>
      </div>
      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt10") }}</div>
        <div class="flex-2 color-red">{{ item.user_num || 0 }}</div>
      </div>

      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt11") }}</div>
        <div class="flex-2 color-red">
          {{ item.is_cash_coupons ? $t("new.yes") : $t("new.no") }}
        </div>
      </div>

      <div class="flex flex-b">
        <div class="flex-1">{{ $t("new.txt12") }}</div>
        <div class="flex-2 color-red">
          {{ item.is_rate_coupons ? $t("new.yes") : $t("new.no") }}
        </div>
      </div>

      <div class="flex flex-b" v-if="item.is_gift && item.gift_id">
        <div class="flex-1">{{ $t("new.txt13") }}</div>
        <div class="flex-2 color-red">
          <!-- {{ item.is_gift ? item.item_title : "" }} -->
          {{ item.item_title || "-" }}
        </div>
      </div>

      <!--  -->
      <div
        class="list ls"
        v-if="item.gift_cash_coupons || item.gift_rate_coupons"
      >
        <div class="">{{ $t("new.txt14") }}</div>
        <!-- 赠送的代金券 -->
        <div class="item icon yhq flex flex-b" v-if="item.gift_cash_coupons">
          <div class="t-center num">
            {{ $thousands(item.cash_money || 0) }} VND
          </div>
          <div class="txt">
            <div class="tip">
              {{ $t("new.djq") }}
            </div>
            <div class="time">
              {{ $t("new.yxq") }}:{{ item.cash_day }} {{ $t("index.day") }}
            </div>
          </div>

          <div class="status sl">
            {{ item.cash_num || 0 }}
          </div>
        </div>

        <!-- 加息券 -->
        <div class="item icon jxq flex flex-b" v-if="item.gift_rate_coupons">
          <div class="t-center num">
            {{ $thousands(item.rate_money || 0) }}%
          </div>
          <div class="txt">
            <div class="tip">
              {{ item.type == 1 ? $t("new.djq") : $t("new.jxq") }}
            </div>
            <div class="time">
              {{ $t("new.yxq") }}:{{ item.rate_day }} {{ $t("index.day") }}
            </div>
          </div>

          <div class="status sl">
            {{ item.rate_num || 0 }}
          </div>
        </div>
      </div>
    </div>

    <!-- 项目详情 -->
    <!-- <div class="block_div item_detail">
      <div class="title">
        {{ $t("invest.detail") }}
      </div>
      <div class="content" v-html="item.content"></div>
    </div> -->

    <div class="btn flex flex-c" @click="showPopup = true">
      <div class="icon tz"></div>
      <div>{{ $t("invest.investNow") }}</div>
    </div>

    <!-- 投资下单弹窗 -->
    <van-popup
      v-model:show="showPopup"
      position="bottom"
      :closeable="false"
      round
    >
      <div class="item_info popup_info">
        <div class="title">
          {{ $t("invest.orderInfo") }}
        </div>
        <div class="detail">
          <van-cell-group :border="false">
            <!--  :title="item.type == 1 ? $t('index.dailyRate') : $t('index.rate')" -->
            <van-cell
              :title="$t(`l${item.type}`)"
              value-class="value_class"
              :border="false"
              :value="item.rate + '%'"
            />

            <van-cell
              :title="$t('invest.cycle')"
              value-class="value_class"
              :border="false"
              :value="item.day + $t(`t${item.type}`)"
            />
            <!--  :value="
                item.day + (item.type == 3 ? $t('index.hour') : $t('index.day'))
              " -->
            <van-cell
              :title="$t('invest.amount')"
              value-class="value_class"
              :border="false"
              :value="
                // common.currency_symbol_basic() +
                // common.precision_basic(item.min)

                $thousands(item.min || 0)
              "
            />
            <van-cell
              :title="$t('invest.type')"
              value-class="value_class"
              :border="false"
              :value="$t('index.method' + item.type)"
            />

            <!-- <van-cell
              v-show="user.login"
              :title="$t('invest.paymentType')"
              value-class="value_classs"
              :border="false"
              :value="
                $t('user.fundingAccount') +
                ' ' +
                common.precision_basic(user.balance)
              "
            /> -->

            <!-- :value="
                $t('user.fundingAccount') +
                ' (' +
                common.currency_symbol_basic() +
                common.precision_basic(user.balance) +
                ')'
              " -->
          </van-cell-group>
        </div>
        <!-- 卡券和付款方式 -->
        <div class="kq">
          <div class="flex flex-b list-item" @click.stop="chooseItem">
            <div class="titles">{{ $t("new.kq") }}</div>
            <div class="flex">
              <div>
                <div class="flex itme" v-for="(item, i) in arr" :key="i">
                  <div class="icon xzq" @click.stop="canclelChoose(item)"></div>
                  <div class="txt">
                    {{ item.type == 1 ? $t("new.djq") : $t("new.jxq") }}
                  </div>
                  <div class="num">
                    {{ $thousands(item.money)
                    }}{{ item.type == 1 ? " VND" : "%" }}
                  </div>
                </div>
              </div>
              <div class="icon jtrs" @click.stop="chooseItem"></div>
            </div>
          </div>
          <!-- 付款方式 -->
          <div class="flex flex-b list-item">
            <div>{{ $t("invest.paymentType") }}</div>
            <div class="nums">
              <!-- {{
                $t("user.fundingAccount") +
                " " +
                common.precision_basic(user.balance)
              }} -->
              {{ $t("user.fundingAccount") }}
              {{ $thousands(user.balance || 0) }}
            </div>
          </div>
        </div>

        <div class="flex_center invest_detail_wrap">
          <div>
            <div class="detail_money">
              <!-- {{ common.currency_symbol_basic() }} -->
              {{ $thousands(Number(income).toFixed(0) || 0) }}
            </div>
            <div class="txt">
              {{ $t("invest.income") }}
            </div>
          </div>
          <div class="submit-btn sbtn" @click="submit">
            {{ $t("invest.submit") }}
          </div>
        </div>
      </div>
    </van-popup>

    <van-popup v-model:show="show" position="bottom" :closeable="false" round>
      <!-- 可选卡券的列表 -->
      <div class="kq">
        <div class="list-item ls">
          <div class="ts">{{ $t("new.kq") }}</div>

          <!-- <div >
            <div
              class="itme items"
              v-for="(item, i) in myCoupons"
              :key="i"
              @click="enterChoose(item)"
            >
              <div class="flex">
                <div
                  class="icon"
                  :class="idArr.some((el) => el == item.id) ? 'xzq' : 'circle'"
                ></div>
                <div class="txt">
                  {{ item.type == 1 ? $t("new.djq") : $t("new.jxq") }}
                </div>
                <div class="num">
                  {{ $thousands(item.money || 0)
                  }}{{ item.type == 1 ? " VND" : "%" }}
                </div>
              </div>

              <div class="txts">{{ $t("dqr") }}:{{ item.valid_time }}</div>
            </div>
          </div> -->

          <div class="list">
            <template v-if="myCoupons.length">
              <!-- 未使用，已过期，显示背景视已使用的背景，只是状态变成已过期 -->
              <div
                class="item icon flex flex-b"
                :class="item.type == 1 ? 'yhq' : 'jxq'"
                v-for="(item, i) in myCoupons"
                :key="i"
                @click="enterChoose(item)"
              >
                <div class="t-center num">
                  {{ $thousands(item.money || 0)
                  }}{{ item.type == 1 ? " VND" : "%" }}
                </div>
                <div class="txt">
                  <div class="tip">
                    {{ item.type == 1 ? $t("new.djq") : $t("new.jxq") }}
                  </div>
                  <div class="time">{{ $t("dqr") }}:{{ item.valid_time }}</div>
                </div>
                <div class="status">
                  <div
                    class="icon"
                    :class="
                      idArr.some((el) => el == item.id) ? 'xzq' : 'circle'
                    "
                  ></div>
                </div>
              </div>
            </template>

            <div class="no-data" v-else>
              <div class="no-img"></div>
              <div class="no-txt">
                {{ $t("utils.noData") }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import Vue from "vue";
import bsHeader from "../../components/bsHeader.vue";
import Fetch from "../../utils/fetch";
import * as echarts from "echarts";
import { Icon, Popup, Field, Cell, CellGroup, Dialog } from "vant";
Vue.use(Icon).use(Popup).use(Field).use(Cell).use(CellGroup);
export default {
  name: "",
  components: {
    bsHeader,
  },
  data() {
    return {
      id: "",
      show: false,
      arr: [], //提交列表展示
      idArr: [], //提交id数据
      data: [],
      item: {
        min: 0,
        type: 1,
        rate: 0,
        day: 0,
      },
      user: {
        balance: 0,
      },
      money: "",
      income: 0,
      showPopup: false,
      loading: false,
      myCoupons: [],
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#0F6EFF");
      plus.navigator.setStatusBarStyle("light");
    }
    this.$parent.footer("user", false);
    // this.getmyCoupons();
  },
  mounted() {
    this.start();
  },
  methods: {
    enterChoose(item) {
      this.id = item.id;
      let isHave = this.idArr.some((el) => el == item.id);
      if (isHave) {
        // 如果存在，说明已选，删除
        this.arr = this.arr
          .map((el) => {
            if (el.id == this.id) {
              return false;
            }
            return el;
          })
          .filter((e) => e);

        this.idArr = this.idArr
          .map((el) => {
            if (el == this.id) {
              return false;
            }
            return el;
          })
          .filter((e) => e);

        // console.log("123", this.arr, this.idArr);
      } else {
        this.arr.push(item);
        this.idArr.push(item.id);
      }
    },
    //获取优惠券列表
    async getmyCoupons() {
      // console.log("this.item", this.item);
      if (!this.item.is_cash_coupons && !this.item.is_rate_coupons) {
        // 都为零 就是不能用券,不需要获取
        this.myCoupons = [];
        return;
      }

      let type = "";
      if (this.item.is_cash_coupons && this.item.is_rate_coupons) {
        type = 0;
      }
      if (this.item.is_cash_coupons && !this.item.is_rate_coupons) {
        type = 1;
      }
      if (!this.item.is_cash_coupons && this.item.is_rate_coupons) {
        type = 2;
      }

      const res = await this.$Fetch("/user/myCoupons", {
        type,
        listRows: 1000,
        page: 1,
        valid: 1, //有效期内未使用
      });
      if (res.code == 1) {
        this.myCoupons = res.data.list
          .map((item) => {
            if (item.status == 0) {
              return item;
            }
          })
          .filter((item) => item);
      }
      // console.log("myCoupons", this.myCoupons);
    },
    chooseItem() {
      // 打开选取之前，更新一下列表
      this.getmyCoupons();
      this.show = true;
    },
    canclelChoose(value) {
      this.arr = this.arr
        .map((item) => {
          if (item.id == value.id) {
            return;
          }
          return item;
        })
        .filter((item) => item);
      this.idArr = this.idArr
        .map((el) => {
          if (el == value.id) {
            return false;
          }
          return el;
        })
        .filter((e) => e);
      // console.log("999", this.arr, this.idArr);
    },
    start() {
      Fetch("/index/item_detail", {
        id: this.$router.history.current.params.code,
      }).then((r) => {
        this.item = r.data.item;
        this.user = r.data.user;
        this.change();
        // this.mycharts(this.item.k_x, this.item.k_y_12m);
      });
    },
    change() {
      if (this.item.type == 1) {
        this.income = this.common.precision_basic(
          (this.item.min * this.item.rate * this.item.day) / 100
        );
      } else {
        this.income = this.common.precision_basic(
          (this.item.min * this.item.rate) / 100
        );
      }
    },
    submit() {
      if (this.loading) return false;
      if (!this.user.login) {
        this.$toast(this.$t("invest.loginFirst"));
        return false;
      }

      if (this.user.limit_today) {
        this.$toast(this.$t("invest.investNumEmpty"));
        return false;
      }

      // 超出最大投资
      if (this.user.limit) {
        this.$toast(this.$t("new.zdtz"));
        return false;
      }
      // 当前项目次数超限
      if (this.user.userLimit) {
        this.$toast(this.$t("new.dqtz"));
        return false;
      }

      // 次数就是num字段
      // if (this.user.limit) {
      //   var times = this.item.num;
      //   if (this.item.num >= 2) times = 2; //大于两次才能购买？
      //   this.$toast(
      //     this.$t("invest.investNum") +
      //       this.item.num +
      //       this.$t("utils.times" + times)
      //   );
      //   return false;
      // }

      // 所选代金券额大于投资金额，提示
      let djqArr = [];
      let sum = 0;
      this.arr
        .map((item) => {
          if (item.type == 1) {
            djqArr.push(Number(item.money));
            return item;
          }
        })
        .filter((item) => item);

      for (let i = 0; i < djqArr.length; i++) {
        sum += djqArr[i];
      }
      // console.log(djqArr, sum);

      // 投资金额小于所选券金额
      if (this.item.min < sum) {
        this.$toast(this.$t("xq"));
        return;
      }

      if (Number(this.user.balance) + sum - Number(this.item.min) < 0) {
        this.$toast(this.$t("invest.moneyNotEnough"));
        return false;
      }

      // 提交的已选券的id，字符串
      let cids = this.idArr.join(",");
      this.loading = true;
      Fetch("/user/invest", {
        id: this.item.id,
        cids,
      }).then((r) => {
        // 提交成功，清空已选券信息
        if (r.code == 1) {
          this.arr = [];
          this.idArr = [];
          this.showPopup = false;
          // this.$toast(this.$t("success"));
          Dialog({
            message: this.$t("new.tzcg"),
            confirmButtonText: this.$t("utils.confirm"),
          }).then(() => {
            // on confirm
            setTimeout(() => {
              this.$router.push("/invest/record");
            }, 2000);
          });
        }
      });
    },
    // k线吐不需要显示
    mycharts(k_x, k_y) {
      let myChart = echarts.init(this.$refs.charts, "macarons");
      myChart.setOption({
        tooltip: {
          trigger: "axis",
          position: function (pt) {
            return [pt[0], "10%"];
          },
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: k_y,
          // 坐标轴显示内容
          axisLabel: { color: "#999999", fontSize: "10px" },
          // 坐标轴线
          axisLine: {
            show: true,
            lineStyle: {
              color: "#CCCCCC",
            },
          },
        },
        yAxis: {
          type: "value",
          // boundaryGap: [0, '100%'],
          // splitNumber:7
          axisLabel: { color: "#999999", fontSize: "14px" },
          axisLine: {
            show: true, //是否显示
            lineStyle: {
              color: "#CCCCCC",
            },
          },
          // 平行于x轴的网格线
          splitLine: {
            lineStyle: {
              color: "transparent",
            },
          },
        },
        grid: [
          {
            top: "15px",
          },
        ],
        // 底部快速切换的操作
        dataZoom: [
          {
            type: "inside",
            start: 90,
            end: 100,
            show: false,
          },
          {
            start: 90,
            end: 100,
            show: false,
          },
        ],
        series: [
          {
            name: "",
            type: "line",
            // symbol: "",
            sampling: "lttb",
            smooth: true,
            // seriesLayoutBy: "row",
            // emphasis: { focus: "series" },
            showSymbol: true, // 取消线上标记点
            itemStyle: {
              color: "#606FFF",
              //   rgb(255, 70, 131)
            },
            areaStyle: {
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "#606FFF",
                  //   rgb(15, 110, 255)
                },
                {
                  offset: 1,
                  color: "#fff",
                  //   rgb(17, 232, 255)
                },
              ]),
            },
            data: k_x,
          },
        ],
      });
      //图表自适应
      window.addEventListener("resize", function () {
        myChart.resize(); // myChart 是实例对象
      });
    },
  },
};
</script>

<style lang="less" scoped>
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.list {
  padding: 10px 10px 0;
  &.ls {
    padding: 0;
    .item {
      margin: 10px 0;
    }
    .sl {
      font-size: 16px !important;
    }
  }
  .item {
    margin-bottom: 10px;
    .flex-2 {
      padding-left: 20px;
    }
    .num {
      font-size: 18px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #fff;
      width: 30%;
    }
    .txt {
      width: 55%;
      padding-left: 15px;
      .tip {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 10px;
      }
      .time {
        font-size: 12px;
        font-weight: 500;
        color: #333333;
      }
    }
    .status {
      width: 15%;
      font-size: 12px;
      font-weight: 500;
      color: #606fff;
      text-align: center;
      &.st {
        font-size: 14px;
      }
      &.st {
        color: #999999;
      }
      .icon {
        margin: auto;
      }
    }
    .circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      // border: 2px solid #e0e0e0;
      border: 2px solid #333;
    }
  }
}

.icon.tzbg {
  width: 100%; /* 默认宽度为100% */
}

.zzjl {
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 16px;
}

.kq {
  .titles {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    align-self: flex-start;
  }
  .txt {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-right: 5px;
  }
  .num {
    font-size: 16px;
    font-weight: bold;
    color: #ea001c;
  }
  .itme {
    margin-bottom: 15px;
  }
  .list-item {
    padding: 10px 0;
    max-height: 80vh;
    &:last-child {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      font-size: 16px;
      font-weight: 500;
      color: #666666;
      padding: 15px 0;
    }
    &.ls {
      &:last-child {
        border-bottom: none;
      }
    }
    .jtrs {
      align-self: flex-start;
      // margin-top:2px;
      width: 7px;
      height: 15px;
    }
    .txts {
      color: #666;
      font-size: 14px;
      margin-top: 10px;
      padding-left: 20px;
    }
    .nums {
      font-size: 16px;
      font-weight: bold;
      color: #333333;
    }

    .ts {
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid #e0e0e0;
      // margin-bottom: 15px;
    }
    .items {
      padding: 10px;
      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #e0e0e0;
        margin-right: 5px;
      }
    }
  }
}

::v-deep .van-cell__value {
  font-size: 16px;
  font-weight: bold;
  color: #1eaf2c;
}
::v-deep .van-cell__title {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}
::v-deep .van-cell {
  // font-size: unset;
  padding: 10px 0px !important;
}

.tzbg {
  padding: 70px 10px 10px;
  .title {
    font-size: 20px;
    font-family: PingFang-SC-Heavy PingFang SC;
    font-weight: 800;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
  }
  .jl-btn {
    background: linear-gradient(90deg, #606fff, #7a82fc);
    border-radius: 17px;
    padding: 5px 10px;
    // font-size: 16px;
    font-size: 12px;
    color: #ffffff;
    // min-width: 115px;
    .icon {
      margin-right: 5px;
    }
  }
  .mt {
    margin-top: 10px;
  }
  .tips {
    display: inline-block;
    background: #ffb137;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    color: #fffce6;
    // margin-top: 10px;
  }
}
.proCharts {
  margin-bottom: 10px;
  //   padding-top: 15px;
  //   height: 268px;
  // padding: 30px 10px 0;
  // height: 248px;
  padding: 15px 10px;
  margin-top: -50px;
  border-radius: 10px;

  div {
    color: #999;
    font-size: 14px;
    line-height: 25px;
  }
  .flex-2 {
    color: #000;
    margin-left: 5px;
  }
  .el {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .color-red {
    color: #ea001c;
    &.ts {
      word-wrap: break-word;
      word-break: normal;
      width: 58vw;
    }
  }
}

.basic_wrap {
  //   margin-bottom: 60px;
  background-color: #f0f0f0;
}
.red_top_bg {
  background: #0f6eff;
  position: fixed;
  z-index: 10;
  box-shadow: unset;
  .back_left {
    background: url(../img/common/back.png) no-repeat center center;
    width: 30px;
    height: 22px;
  }
  .big_tit {
    color: #ffffff;
    left: 55px;
  }
}
.item_info_bg {
  background: #0f6eff;
  width: 100%;
  height: 168px;
  border-radius: 0 0 30px 30px;
}

.item_title {
  margin-top: 54px;
  line-height: 2;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}

.logo {
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}

.item_info {
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 0 10px;
  max-height: 80vh;
  .title {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-align: center;
  }
  .value_classs {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }

  .detail {
    // padding: 10px 0;
    // line-height: 2;

    // .value_class {
    //   font-weight: bold;
    //   color: #3cb371;
    // }
    .mb10 {
      margin-bottom: 10px;
    }
    .num {
      font-size: 20px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #ea001c;
    }
    .num1 {
      font-size: 20px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #333333;
    }
    .txt {
      margin-top: 10px;
      font-size: 14px;
      color: #999999;
    }
  }
}
.info1 {
  //   margin-top: -116px;
  margin-top: 30px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 0;
}

.popup_info {
  // .title {
  //   text-align: center;
  //   padding: 16px;
  // }

  .invest_amount {
    color: #999;
    padding: 15px 20px 0 0;
    font-size: 14px;
  }

  .invest_detail_wrap {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    // padding: 15px;
    padding: 10px 0;
    // border-top: 1px solid #f7f7f7;

    .detail_money {
      // color: #ff0000;
      // font-weight: bold;
      // font-size: 16px;
      // margin-left: 5px;
      font-size: 20px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #ea001c;
    }
    .txt {
      font-size: 14px;
      font-weight: 500;
      color: #333333;
      line-height: 24px;
    }

    .sbtn {
      // width: unset;
      // height: unset;
      // line-height: unset;
      // padding: 5px 15px;
      width: 40%;
      margin: 0;
    }
  }
}

.item_detail {
  margin-bottom: 20px;
  border-radius: 10px;
  .title {
    color: #333333;
    padding: 15px 10px;
    font-size: 14px;
    font-family: PingFang-SC-Bold PingFang SC;
    font-weight: bold;
    // border-bottom: 1px solid #f7f7f7;
  }

  .content {
    padding: 0 10px 15px;
    line-height: 2;
    // p {
    //   color: #999!important;
    // }
  }
}

.btn {
  //   position: fixed;
  //   bottom: 20px;
  width: 90%;
  //   margin-left: 10%;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 22px;
  height: 44px;
  line-height: 44px;
  margin: 30px auto;
  color: #fff;
  font-size: 14px;
}

/deep/ .van-cell {
  font-size: unset;
  padding: 5px 16px;
}
</style>
