<template>
  <div class="basic_wrap">
    <div class="top-fixed">
      <div>
        <div class="title">{{ $t("home.invest") }}</div>
        <!-- 语言切换-->
        <!-- <lang-select></lang-select> -->
      </div>

      <div class="tabs" v-show="show_tabs">
        <van-tabs type="card" v-model="active" @click="sort">
          <van-tab
            v-for="(tab, index) in tabs"
            :title="tab.title"
            :key="index"
          ></van-tab>
        </van-tabs>
      </div>
    </div>

    <div class="item_wrap">
      <div class="item_list">
        <van-list
          v-model="loading"
          loading-text=" "
          offset="0"
          :finished="finished"
          :finished-text="$t('utils.noData')"
          @load="onLoad"
        >
          <div
            v-for="(item, index) in list"
            class="block_div item"
            @click="$router.push('/invest/detail/' + item.id)"
          >
            <div class="flex flex-b">
              <div class="left">
                {{ item.title }}
              </div>
              <div class="right t-right">
                <!-- <span class="">{{ $t("invest.income") }}</span>
                <span class="num">
                  {{ common.currency_symbol_basic() }}
                  {{ change(item) }}</span
                > -->

                <!-- 显示项目进度 -->
                <span class="">{{ $t("xmjd") }}</span>
                <span class="num"> {{ item.num || 0 }}%</span>
              </div>
            </div>

            <!-- 进度 -->
            <div class="progress">
              <van-progress
                :percentage="item.num || 0"
                pivot-text=""
                stroke-width="5"
                pivot-color="#EBECEE"
                color="linear-gradient(90deg, #EE001B, #FF8E43)"
              />
            </div>

            <div class="logo">
              <img v-lazy="item.img" />
              <!-- <div>{{ item.title }}</div> -->
            </div>

            <div class="detail">
              <div class="flex flex-b">
                <div
                  class="flex-2"
                  :class="{ 'flex-1': $i18n.locale == 'dk_dk' }"
                >
                  <div class="num font30">{{ item.rate || 0 }}%</div>
                  <div class="txt">
                    <!-- {{
                      item.type == 1 ? $t("index.dailyRate") : $t("index.rate")
                    }} -->
                    {{ $t(`l${item.type}`) }}
                  </div>
                </div>
                <div class="flex-1 t-center">
                  <div class="detail_num num">
                    <!-- {{ common.currency_symbol_basic() }} -->

                    <!-- {{ common.precision_basic(item.min) }} -->
                    {{ $thousands(item.min || 0) }}
                  </div>
                  <div class="txt">{{ $t("index.amount") }}</div>
                </div>

                <div class="flex-1 t-right">
                  <div class="detail_num num">
                    {{ item.day || 0 }}
                    <!-- {{ item.type == 3 ? $t("index.hour") : $t("index.day") }} -->
                    {{ $t(`t${item.type}`) }}
                  </div>
                  <div class="txt">{{ $t("index.cycle") }}</div>
                </div>
              </div>

              <div>
                <!-- <div>
                  <span class="detail_name">{{
                    item.type == 1 ? $t("index.dailyRate") : $t("index.rate")
                  }}</span
                  ><span class="detail_num">{{ item.rate }}%</span>
                </div> -->
                <!-- <div>
                  <span class="detail_name">{{ $t("invest.income") }}</span>
                  <span class="detail_num"
                    >{{ common.currency_symbol_basic()
                    }}{{ change(item) }}</span
                  >
                </div> -->
                <div class="flex left_btn">
                  <div>{{ $t("new.subscription") }}</div>
                </div>
                <!-- <div class="flex right_btn" @click="downloadInsurance()"> -->
                <div class="flex right_btn">
                  <div>{{ $t("new.insurance") }}</div>
                </div>


                <div class="flex btn">
                  <div class="icon tz"></div>
                  <div>{{ $t("new.tz") }}</div>
                </div>
              </div>
            </div>
          </div>
        </van-list>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import bsHeader from "../../components/bsHeader.vue";
import Fetch from "../../utils/fetch";
import { Tab, Tabs, List, Empty, Lazyload } from "vant";
Vue.use(Tab).use(Tabs).use(List).use(Empty).use(Lazyload);
export default {
  name: "",
  components: {
    bsHeader,
  },
  data() {
    return {
      // isLang: localStorage.getItem("lang"),
      data: [],
      show_tabs: false,
      tabs: [
        {
          id: 0,
          title: this.$t("tabs.all"),
        },
      ],
      active: 0,
      empty: false,
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 8,
    };
  },
  // //创建前设置
  // beforeCreate() {
  // 	//解决List上拉加载bug
  // 	document.querySelector('body').style["overflow-y"] = "unset";
  // },
  // //销毁前清除
  // beforeDestroy() {
  // 	document.querySelector('body').style["overflow-y"] = "scroll";
  // },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FAFAFA");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("invest", true);
  },
  mounted() {
    if (this.$router.history.current.query.type) {
      this.active = parseInt(this.$router.history.current.query.type);
    }
    this.start();
  },
  methods: {
    change(item) {
      if (item.type == 1) {
        return this.common.precision_basic(
          (item.min * item.rate * item.day) / 100
        );
      } else {
        return this.common.precision_basic((item.min * item.rate) / 100);
      }
    },
    start() {
      Fetch("/index/item_class").then((r) => {
        var tabs1 = [
          {
            id: 0,
            title: this.$t("tabs.all"),
          },
        ];
        r.data.classes.forEach((item) => {
          tabs1.push({
            id: item.id,
            title: item.title,
          });
        });
        this.tabs = tabs1;
        this.show_tabs = true;
      });
    },
    sort(index) {
      this.page = 1;
      this.empty = false;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      Fetch("/index/item_list", {
        page: this.page,
        listRows: this.listRows,
        type: this.tabs[this.active]["id"],
      }).then((r) => {
        if (r.data.length == 0) this.empty = true;
        var list = r.data.list;
        for (var i = 0; i < list.length; i++) {
          this.list.push(list[i]);
        }
        if (this.list.length >= r.data.length) {
          this.finished = true;
          return;
        }
        this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
};
</script>

<style lang="less" scoped>

.btn {
  width: 25%;
  height: 40px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  justify-content: center;
  margin: 15px auto; /* 上下15px，左右自动居中 */
  text-align: center; /* 文本居中对齐 */
}

.left_btn {
  float: left;
  width: 25%;
  height: 40px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  margin: auto; /* 上下15px，左右自动居中 */
  justify-content: center;
}

.right_btn {
  float: right;
  width: 25%;
  height: 40px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  margin:auto; /* 上下15px，左右自动居中 */
  justify-content: center;
}
.progress {
  padding: 10px 10px 0;
}
.basic_wrap {
  // position: relative;
  margin-bottom: 100px;
  background-color: #fff;
  padding-top: 100px;
}

.top-fixed {
  background: #fff;
  z-index: 999;
  width: 100%;
  padding-left: 12px; /* 调整左边距离 */
  padding-right: 25px; /* 调整左边距离 */
  .title {
    font-size: 16px;
    color: #333333;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
  }
  .tabs {
    // height: 40px;
    background: #fff;
    margin-bottom: 15px;
  }
}

@media (min-width: 730px) {
  .top-fixed .tabs {
    width: 100%;
    max-width: 730px;
  }
}

.item_wrap {
  width: 100%;
  .item_list {
    margin-bottom: 20px;
    .item {
      margin-bottom: 10px;
      background: #ffffff;
      border-radius: 10px;
      //   box-shadow: 1px 1px 2px 2px #f0f0f0;
      // box-shadow: 0px 1px 2px 2px #f0f0f0;
      box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
      .left {
        width: 60%;
        padding: 10px 15px 10px 10px;
        font-size: 16px;
        font-weight: 800;
        color: #fff3d0;
        font-family: PingFang-SC-Heavy;
        background: linear-gradient(90deg, #5e6fff, #a3acff);
        border-radius: 10px 0px 0px 0px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &::after {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background: url("../../assets/imgs/sj.png") no-repeat center/100%;
          background-size: cover;
          position: absolute;
          top: 50%;
          right: -1px;
          transform: translateY(-50%);
        }
      }
      .right {
        width: 40%;
        padding: 10px 10px 10px 0;
        span {
          font-size: 12px;
          font-weight: 500;
          color: #333333;
        }
        .num {
          font-size: 16px;
          // font-family: Euclid Circular A;
          font-weight: bold;
          color: #ea001c;
        }
      }

      .num {
        font-size: 20px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #ea001c;
        &.font30 {
          font-size: 30px;
        }
      }

      .txt {
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #666666;
      }

      .logo {
        // position: relative;
        padding: 10px;
        // div {
        //   position: absolute;
        //   bottom: 0px;
        //   width: 100%;
        //   background: #ffffff;
        //   height: 30px;
        //   line-height: 30px;
        //   opacity: 0.8;
        //   font-weight: bold;
        //   padding: 0 10px;
        //   overflow: hidden;
        //   text-overflow: ellipsis;
        //   white-space: nowrap;
        // }
        img {
          width: 100%;
          border-radius: 5px;
          max-height: 260px;
          height: 130px;
          object-fit: cover;
        }
      }

      .detail {
        padding: 0 10px 10px;
        line-height: 30px;
        .detail_num {
          color: #333333;
        }
      }
    }
  }
}

/deep/.van-tab {
  border-right: unset;
  //   background: #ffffff;
  //   margin-right: 10px;
  //   border-radius: 15px;
  margin: 0 5px;
  // height: 40px;
  // line-height:40px;
  // height:100%;
  // padding:10px 0;
  background: #e6e6e6;
  border-radius: 20px;
  font-size: 14px;
  color: #999999;
}

/deep/.van-tabs__nav--card {
  border: unset;
}
/deep/.van-tabs__nav {
  background: unset;
}
/deep/.van-tabs__nav--card .van-tab.van-tab--active {
  //   background: #0f6eff;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  color: #ffffff;
}

::v-deep .van-tabs--card > .van-tabs__wrap {
  // height: 40px;
}

::v-deep .van-tabs__nav--card {
  margin: 0 5px;
}
</style>
