<template>
  <div class="basic_wrap pad-top">
    <top-back title="user.inviteRecord"></top-back>
    <!-- <bsHeader :title="$t('user.inviteRecord')" @backurl="$router.back()"></bsHeader> -->

    <div class="item_wrap">
      <div class="item_list" v-if="list.length">
        <van-list
          v-model="loading"
          loading-text=" "
          offset="0"
          :finished="finished"
          @load="onLoad"
        >
          <!--  :finished-text="$t('utils.noData')" -->
          <div
            class="item"
            v-for="(item, index) in list"
            @click="
              $router.push(
                `/invest/contract?id=${item.itemid}&invest_id=${item.id}`
              )
            "
          >
            <!-- <div class="flex_center time">
              <p>{{ item.time_actual }}</p>
              <p class="color_blue" v-if="item.status == 0">
                {{ $t("tabs.ongoing") }}
              </p>
              <p class="color_green" v-if="item.status == 1">
                {{ $t("tabs.done") }}
              </p>
            </div> -->

            <div class="detail">
              <div class="border">
                <div class="flex flex-b">
                  <div class="title flex-3">
                    <span class="el"> {{ item.title }}</span>
                    <span class="status" v-if="item.status == 0">
                      {{ $t("tabs.ongoing") }}</span
                    >
                    <span class="status" v-if="item.status == 1">
                      {{ $t("tabs.done") }}</span
                    >
                  </div>
                  <div class="num flex-1 t-right">
                    {{ item.rate || 0 + "%" }}
                  </div>
                </div>

                <div class="flex flex-b">
                  <div class="time-txt">
                    <!-- 时间暂时没有显示？ -->
                    <!-- {{ item.time2_actual ? item.time2_actual : "-" }} -->
                    {{ item.time }}
                  </div>
                  <div class="txt">
                    <!-- {{
                      item.type == 1 ? $t("index.dailyRate") : $t("index.rate")
                    }} -->
                    {{ $t(`l${item.type}`) }}
                  </div>
                </div>
              </div>

              <van-cell-group :border="false">
                <van-cell
                  :title="$t('invest.amount')"
                  value-class="value_class"
                  :border="false"
                  :value="
                    // common.currency_symbol_basic() +
                    // common.precision_basic(item.money)
                    $thousands(item.money || 0)
                  "
                />
                <van-cell
                  :title="$t('invest.cycle')"
                  value-class="value_class"
                  :border="false"
                  :value="item.day || 0 + $t(`t${item.type}`)"
                />
                <!-- <van-cell
                  :title="
                    item.type == 1 ? $t('index.dailyRate') : $t('index.rate')
                  "
                  value-class="value_class"
                  :border="false"
                  :value="item.rate + '%'"
                /> -->
                <van-cell
                  :title="$t('invest.income')"
                  value-class="value_class"
                  :border="false"
                  :value="
                    // common.currency_symbol_basic() +
                    // common.precision_basic(item.total_interest)

                    $thousands(item.total_interest)
                  "
                />
                <van-cell
                  :title="$t('invest.type')"
                  value-class="value_class"
                  :border="false"
                  :value="$t('index.method' + item.type)"
                />

                <!-- <van-cell
                  :title="$t('invest.endTime')"
                  value-class="value_class"
                  :border="false"
                  :value="item.time2_actual"
                /> -->
              </van-cell-group>
            </div>
          </div>
        </van-list>
      </div>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import bsHeader from "../../components/bsHeader.vue";
import Fetch from "../../utils/fetch";
import { List, Cell, CellGroup } from "vant";
Vue.use(List).use(Cell).use(CellGroup);
export default {
  name: "recharge",
  components: {
    bsHeader,
  },
  data() {
    return {
      data: [],
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 8,
    };
  },
  // //创建前设置
  // beforeCreate() {
  // 	//解决List上拉加载bug
  // 	document.querySelector('body').style["overflow-y"] = "unset";
  // },
  // //销毁前清除
  // beforeDestroy() {
  // 	document.querySelector('body').style["overflow-y"] = "scroll";
  // },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
  },
  mounted() {
    this.sort();
  },
  methods: {
    sort() {
      this.page = 1;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      Fetch("/user/investRecord", {
        page: this.page,
        listRows: this.listRows,
      }).then((r) => {
        var list = r.data.list;
        for (var i = 0; i < list.length; i++) {
          this.list.push(list[i]);
        }
        if (this.list.length >= r.data.length) {
          this.finished = true;
          return;
        }
        this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
};
</script>

<style lang="less" scoped>
.item_wrap {
  width: 100%;
  // padding: 44px 0 0 0;
  border-top: 10px solid #f5f5f5;

  .item_list {
    // margin-top: 10px;

    .item {
      // padding: 10px 15px;
      padding: 10px;
      background: #ffffff;
      //   margin-bottom: 10px;
      border-bottom: 10px solid #f5f5f5;

      .time {
        // margin-bottom: 20px;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;
        padding-bottom: 15px;
        color: #999;

        p:nth-child(1) {
          text-align: left;
        }

        p:nth-child(2) {
          text-align: right;
        }
      }

      .detail {
        line-height: 30px;
        .el {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
          // width: 60%;
          max-width: 55%;
        }

        .border {
          border-bottom: 1px solid #cccccc;
          // padding-bottom:10px;
          .num {
            font-size: 18px;
            // font-family: Euclid Circular A;
            font-weight: bold;
            color: #1eaf2c;
          }
          .status {
            padding: 3px 10px;
            background: linear-gradient(90deg, #606fff, #7a82fc);
            color: #fff;
            font-size: 12px;
            border-radius: 20px;
            margin-left: 5px;
          }
        }
        .time-txt {
          font-size: 14px;
          font-weight: 500;
          color: #999999;
        }
        .txt {
          font-size: 14px;
          font-weight: 500;
          color: #666666;
        }

        .title {
          font-size: 16px;
          font-weight: bold;
          font-family: PingFang-SC-Bold PingFang SC;
          color: #333333;
          //   margin-bottom: 10px;
        }

        .value_class {
          font-size: 14px;
          font-weight: bold;
          color: #1eaf2c;
        }
      }
    }
  }
}

/deep/ .van-cell {
  font-size: unset;
  padding: 5px 0;
}
::v-deep .van-cell__title {
  font-size: 14px;
  font-weight: 500;
  color: #666666;
}
</style>
