<template>
  <div class="home_wrap" id="home_wrap">
    <!-- 标头 -->
    <!-- <div class="red_top_bg" id="red_top_bg">
			<div class="logo">
				<img :src="logo">
			</div>
			<div class="language" @click="$router.push('/language')">
				<img :src="language_logo">
			</div>
		</div> -->

    <div class="head">
      <div class="logo">
        <img :src="logo" />
      </div>
          <!-- 语言选择 -->
      <div class="language" @click="$router.push('/language')">
        <!-- <img :src="language_logo"> -->
        <div class="flex flex-b">
          <div class="icon lang"></div>
          <div class="txt">{{ langNameList[langKey] }}</div>
          <div class="icon xl"></div>
        </div>
      </div>

      <!-- <lang-select :showMsgs="true" :showLang="false"></lang-select> -->
    </div>
    <!-- 语言选择 -->
    <!-- <div class="language" @click="$router.push('/language')"> -->
      <!-- <img :src="language_logo"> -->
      <!-- <div class="flex flex-b">
        <div class="icon lang"></div>
        <div class="txt">{{ langNameList[langKey] }}</div>
        <div class="icon xl"></div>
      </div>
    </div> -->


    <!-- 轮播图 -->
    <div class="swiper_container">
      <van-swipe v-show="loading" :autoplay="2500" class="swiper-container">
        <van-swipe-item
          v-for="(image, index) in banners"
          :key="index"
          @click="jump(image.url)"
        >
          <img :src="image.img" />
        </van-swipe-item>
      </van-swipe>
    </div>

    <!-- 滚动消息 -->
    <!-- <div class="block_div notice" @click="$router.push('/notice')">
      <van-notice-bar
        background="#FFFFFF"
        left-icon="volume-o"
        :text="notice.title"
      />
    </div> -->

    <!-- 快捷菜单 -->
    <!-- <div class="work_box">
      <div class="flex_center">
        <div
          v-for="(item, index) in menus"
          class="item"
          @click="jump(item.url)"
        >
          <div class="item_img">
            <img :src="require('../img/' + item.logo)" alt="" />
          </div>
          <p class="item_title">{{ item.title }}</p>
        </div>
      </div>
      <div class="flex_center">
        <div
          v-for="(item, index) in menus2"
          class="item"
          @click="jump(item.url)"
        >
          <div class="item_img">
            <img :src="require('../img/' + item.logo)" alt="" />
          </div>
          <p class="item_title">{{ item.title }}</p>
        </div>
      </div>
    </div> -->

    <!-- 中间tab菜单项 -->
    <div class="list flex flex-b">
      <div
        class="item"
        v-for="(item, i) in tabList"
        :key="i"
        @click="jump(item.url)"
      >
        <div class="icon" :class="item.icon"></div>
        <div>{{ $t(item.name) }}</div>
      </div>
    </div>

    <!-- 货币价格 -->
    <!-- <div  class="currency_tips">
      {{ $t("index.exchangeRate") }}
    </div>
    <div class="block_div currency_wrap">
      <van-swipe
        style="height: 70px"
        :autoplay="2000"
        vertical
        :show-indicators="false"
      >
        <van-swipe-item
          v-for="(lang, index) in langs"
          :key="index"
          @click="$router.push('/currency')"
        >
          <div class="currency_detail">
            <div class="flex_center currency">
              <div class="flex_center logo">
                <img :src="lang.logo" alt="" />
                <p>{{ lang.symbol }}</p>
              </div>
              <div class="price">
                <div>
                  <span>1 USD</span>
                  <span> ≈ {{ lang.price }} {{ lang.symbol }}</span>
                </div>
              </div>
            </div>
          </div>
        </van-swipe-item>
      </van-swipe>
    </div> -->
    <!-- 精选加盟 -->
    <div class="jx-box">
      <div class="flex">
        <div class="icon jx"></div>
        <span class="text"> {{ $t("new.jx") }}</span>
      </div>

      <div class="jx-list flex flex-b">
        <div
          class="pad"
          v-for="(item, i) in recommendList"
          :key="i"
          @click="$router.push('/invest/detail/' + item.id)"
        >
          <div class="jx-item">
            <div class="icon" :class="`index${i}`">
              <div class="name">{{ item.title }}</div>
              <div>
                <div class="num">{{ item.rate || 0 }}%</div>
                <div class="txt">
                  <!-- {{
                    item.type == 1 ? $t("index.dailyRate") : $t("index.rate")
                  }} -->
                  <!-- 按类型显示利率 -->
                  {{ $t(`l${item.type}`) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tj-box">
      <!-- 项目列表 -->
      <div class="flex mb">
        <div class="icon tj"></div>
        <span class="text"> {{ $t("index.recommendedItem") }}</span>
      </div>

      <div class="item_wrap">
        <!--  :finished="finished"
          :finished-text="$t('utils.noData')"
          @load="onLoad" -->
        <div class="item_list">
          <!-- v-model="loading" loading-text=" " -->
          <van-list offset="0">
            <div
              v-for="(item, index) in items"
              class="item"
            >
              <div class="flex flex-b">
                <div class="left">
                  {{ item.title }}
                </div>
                <div class="right t-right">
                  <!-- <span class="">{{ $t("invest.income") }}</span>
                  <span class="num">
                    {{ common.currency_symbol_basic() }}
                    {{ change(item) }}</span
                  > -->

                  <!-- 显示项目进度 -->
                  <span class="">{{ $t("xmjd") }}</span>
                  <span class="num"> {{ item.num ? item.num : "0" }}%</span>
                </div>
              </div>

              <!-- 进度 -->
              <div class="progress">
                <van-progress
                  :percentage="item.num || 0"
                  pivot-text=""
                  stroke-width="5"
                  pivot-color="#EBECEE"
                  color="linear-gradient(90deg, #EE001B, #FF8E43)"
                />
              </div>

              <div class="logo">
                <img v-lazy="item.img2" />
                <!-- <div>{{ item.title }}</div> -->
              </div>

              <div class="detail">
                <div class="flex flex-b">
                  <div
                    class="flex-2"
                    :class="{ 'flex-1': $i18n.locale == 'dk_dk' }"
                  >
                    <div class="num font30">{{ item.rate || 0 }}%</div>
                    <div class="txt">
                      <!-- {{
                        item.type == 1
                          ? $t("index.dailyRate")
                          : $t("index.rate")
                      }} -->
                      {{ $t(`l${item.type}`) }}
                    </div>
                  </div>
                  <div class="flex-1 t-center">
                    <div class="detail_num num">
                      <!-- {{ common.currency_symbol_basic() }} -->
                      <!-- {{ common.precision_basic(item.min) }} -->

                      {{ $thousands(item.min || 0) }}
                    </div>
                    <div class="txt">{{ $t("index.amount") }}</div>
                  </div>

                  <div class="flex-1 t-right">
                    <div class="detail_num num">
                      {{ item.day || 0 }}
                      <!-- {{
                        item.type == 3 ? $t("index.hour") : $t("index.day")
                      }} -->
                      <!-- 时间单位按类型显示 -->
                      {{ $t(`t${item.type}`) }}
                    </div>
                    <div class="txt">{{ $t("index.cycle") }}</div>
                  </div>
                </div>


                <!-- <div>
                <span class="detail_name">{{
                    item.type == 1 ? $t("index.dailyRate") : $t("index.rate")
                  }}</span
                  ><span class="detail_num">{{ item.rate }}%</span>
                </div> -->
                  <!-- <div>
                  <span class="detail_name">{{ $t("invest.income") }}</span>
                  <span class="detail_num"
                    >{{ common.currency_symbol_basic()
                    }}{{ change(item) }}</span
                  >
                </div> -->
          
                <!-- <div class="flex left_btn" @click="downloadSubscription()"> -->
                <div class="flex left_btn">
                  <div>{{ $t("new.subscription") }}</div>
                </div>
                <!-- <div class="flex right_btn" @click="downloadInsurance()"> -->
                <div class="flex right_btn">
                  <div>{{ $t("new.insurance") }}</div>
                </div>
                <div class="flex btn" @click="$router.push('/invest/detail/' + item.id)">
                  <div class="icon tz"></div>
                  <div>{{ $t("new.tz") }}</div>
                </div>
              </div>
            </div>
          </van-list>
        </div>
      </div>

      <!-- <div  class="items">
        <div
          v-for="(item, index) in items"
          class="block_div item"
          @click="$router.push('/invest/detail/' + item.id)"
        >
          <div class="logo">
            <img v-lazy="item.img2" />
            <div>{{ item.title }}</div>
          </div>
          <div class="flex_center detail">
            <div>
              <div>
                <span class="detail_name">{{ $t("index.amount") }}</span
                ><span class="detail_num"
                  >{{ common.currency_symbol_basic()
                  }}{{ common.precision_basic(item.min) }}</span
                >
              </div>
              <div>
                <span class="detail_name">{{ $t("index.cycle") }}</span
                ><span class="detail_num"
                  >{{ item.day
                  }}{{
                    item.type == 3 ? $t("index.hour") : $t("index.day")
                  }}</span
                >
              </div>
            </div>
            <div>
              <div>
                <span class="detail_name">{{
                  item.type == 1 ? $t("index.dailyRate") : $t("index.rate")
                }}</span
                ><span class="detail_num">{{ item.rate }}%</span>
              </div>
              <div>
                <span class="detail_name">{{ $t("invest.income") }}</span
                ><span class="detail_num"
                  >{{ common.currency_symbol_basic() }}{{ change(item) }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <!-- APP -->
    <!-- <div v-if="!isApp&&app.show" id="download_app" class="flex_center">
			<div class="flex_center">
				<div class="app_close" @click="closeDown()">
					X
				</div>
				<div class="app_logo">
					<img :src="app.logo" alt="" srcset="">
				</div>
				<div class="app_name">
					<p>{{app.name}}</p>
				</div>
			</div>
			<div class="basic_btn down_btn" @click="jump(app.url)">
				{{$t('index.downApp')}}
			</div>
		</div> -->

    <!-- 弹窗 -->
    <!-- :confirmButtonText="$t('utils.confirm')" -->
    <van-dialog
      v-model="show_tc"
      @close="closePopup"
      :closeOnClickOverlay="true"
      :showConfirmButton="false"
    >
      <div class="popup icon tcbg">
        <div v-html="tc_content"></div>
        <span class="close-button" @click="closePopup"></span>
      </div>
    </van-dialog>
    <!-- 客服图标 -->
    <!-- <div class="kefu" :class="show_kefu ? '' : 'kefu_hide'" @click="kefu_to">
      <img class="kefu_img" src="../img/index/kefu.png" />
    </div> -->
  </div>
</template>

<script>
import Vue from "vue";
import Fetch from "../../utils/fetch";
import Api from "../../interface/index";
import axios from "axios";
import {
  Swipe,
  SwipeItem,
  Progress,
  Dialog,
  Field,
  Popup,
  NoticeBar,
  Lazyload,
  Search,
} from "vant";

Vue.use(Progress)
  .use(Dialog)
  .use(Field)
  .use(Popup)
  .use(NoticeBar)
  .use(Lazyload)
  .use(Search);

export default {
  name: "Index",
  components: {
    VanSwipe: Swipe,
    VanSwipeItem: SwipeItem,
  },
  data() {
    return {
      country_code: "",
      langKey: "",
      languages: [],
      langNameList: {},
      // isLang: localStorage.getItem("lang"),
      tabList: [
        {
          name: "user.luckyDraw",
          icon: "xycj",
          url: "/draw",
        },
        {
          name: "new.yqhy",
          icon: "yqhy",
          url: "/inviteFriends",
        },
        {
          name: "user.recharge",
          icon: "cz1",
          url: "/recharge",
        },
        {
          name: "new.jlzd",
          icon: "jlzd",
          url: "/encourage",
        },
        {
          name: "new.mrqd",
          icon: "mrqd",
          url: "/signArrive",
        },
        {
          name: "user.withdraw",
          icon: "tx1",
          url: "/withdraw",
        },
      ],
      language_logo: localStorage.getItem("language_logo"),
      logo: localStorage.getItem("logo2"),
      //   menus: [
      //     {
      //       title: this.$t("user.withdraw"),
      //       logo: "index/send.png",
      //       url: "/withdraw",
      //     },
      //     {
      //       title: this.$t("savings.savings"),
      //       logo: "user/savings.png",
      //       url: "/savings",
      //     },
      //     {
      //       title: this.$t("user.recharge"),
      //       logo: "index/receive.png",
      //       url: "/recharge",
      //     },
      //   ],
      //   menus2: [
      //     {
      //       title: this.$t("user.vip"),
      //       logo: "user/vip.png",
      //       url: "/vip",
      //     },
      //     {
      //       title: this.$t("user.luckyDraw"),
      //       logo: "index/luckyDraw.png",
      //       url: "/draw",
      //     },
      //     {
      //       title: this.$t("user.faq"),
      //       logo: "user/question.png",
      //       url: "/questions",
      //     },
      //   ],
      show_kefu: false,
      loading: false,
      notice: [],
      show_tc: false,
      tc_content: "",
      banners: [],
      items: [],
      langs: [],
      isApp: true,
      app: {
        show: false,
        name: "",
        url: "",
        logo: "",
      },
      value: "",
      recommendList: [],
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("index");
    this.getRecommend();
  },
  mounted() {
    this.start();
    var that = this;
    document.body.addEventListener(
      "scroll",
      function () {
        if (!that.show_kefu) {
          return;
        }
        that.show_kefu = false;
      },
      false
    );
    document.addEventListener(
      "click",
      function (ev) {
        if (ev.target.className != "kefu_img") {
          that.show_kefu = false;
        }
      },
      false
    );
  },
  methods: {
    // 获取精选列表
    async getRecommend() {
      const res = await this.$Fetch("/index/item_recommend");
      if (res.code == 1) {
        this.recommendList = res.data;
      }
    },
    downloadSubscription() {
      // 创建一个虚拟的下载链接
      var downloadLink = document.createElement('a');
      downloadLink.href = 'http://scott.yiyun/index.php/static/contact/subscription_zh_CN.docx'; // 替换为要下载的文件路径
      downloadLink.download = 'filename.pdf'; // 替换为要保存的文件名
      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    },
    change(item) {
      if (item.type == 1) {
        return this.common.precision_basic(
          (item.min * item.rate * item.day) / 100
        );
      } else {
        return this.common.precision_basic((item.min * item.rate) / 100);
      }
    },
    kefu_to() {
      if (this.show_kefu) {
        this.$router.push("/service");
      }
      this.show_kefu = !this.show_kefu;
    },
    jump(url) {
      if (url.indexOf("http") == 0) {
        console.log("http");
        window.location.href = url;
      } else {
        this.$router.push(url);
      }
    },
    closePopup() {
      // 关闭弹出层再保存
      // sessionStorage.setItem("popup_show", 1);
      this.show_tc = false; // 关闭弹窗
    },

    start() {
      // 获取语言列表
      Fetch("/index/getLanguages").then((r) => {
        this.languages = r.data.list;
        let arr = [];
        // 获取选择语言的显示内容
        r.data.list.forEach((item) => {
          console.log(item,7777);
          this.langNameList[item.country] = item.country_loc;
          arr.push(item.country_code);
        });

        this.langKey = localStorage.getItem("lang") || "zh_cn";
      });
      Fetch("/index/int").then((r) => {
        block: {
          if (r.data.popup.show == 1) {
            // 首页弹窗只弹一次
            // var popup_show = sessionStorage.getItem("popup_show");
            // if (popup_show != null && popup_show == 1) {
            //   break block;
            // }
            this.tc_content = r.data.popup.content;
            this.show_tc = true;
          }
        }
        this.banners = r.data.banner;
        this.notice = r.data.notice;
        this.langs = r.data.langs;
        this.items = r.data.items;
        this.loading = true;

        this.app = r.data.version;
        this.showApp();
      });
    },
    showApp() {
      if (window.plus) {
        this.isApp = true;
      } else {
        if (this.app.show) {
          this.isApp = false;
          // document.getElementById("red_top_bg").style.top = "60px";
          // document.getElementById("home_wrap").style.paddingTop = "60px";
        }
      }
    },
    closeDown(url) {
      this.app.show = false;
      // document.getElementById("red_top_bg").style.top = "0";
      // document.getElementById("home_wrap").style.paddingTop = "0";
    },
  },
};
</script>

<style lang="less" scoped>
::v-deep .van-dialog {
  background-color: transparent;
}
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

::v-deep .language {
  top: 25px;
}

.progress {
  padding: 10px 10px 0;
}

.btn {
  width: 25%;
  height: 40px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  justify-content: center;
  margin: 15px auto; /* 上下15px，左右自动居中 */
  text-align: center; /* 文本居中对齐 */
}
.left_btn {
  float: left;
  width: 25%;
  height: 40px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  margin: 15px auto; /* 上下15px，左右自动居中 */
  justify-content: center;
}

.right_btn {
  float: right;
  width: 25%;
  height: 40px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  margin: 15px auto; /* 上下15px，左右自动居中 */
  justify-content: center;
}

.language {
  position: absolute;
  top: 40px;
  right: 16px;
  height: 18px;
  z-index: 11;
  .txt {
    margin: 0 5px;
    color: #333333;
    font-size: 16px;
  }

  //   img {
  //     height: 100%;
  //   }
}

.tj-box {
  padding: 0 10px;
  // .tj {
  //   font-size: 16px;
  //   font-weight: 800;
  //   color: #333333;
  //   text-align: center;
  //   line-height: 23px;
  //   margin-bottom: 15px;
  // }
  .mb {
    margin-bottom: 15px;
  }
  .text {
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding: 0 5px;
    background: linear-gradient(60deg, #e1e4ff, #f3f4ff);
    vertical-align: middle;
  }
}

.jx-box {
  border-top: 10px solid #f5f5f5;
  padding: 15px 5px 5px;
  // .jx {
  //   font-size: 16px;
  //   font-weight: 800;
  //   color: #333333;
  //   text-align: center;
  //   line-height: 23px;
  // }
  .text {
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding: 0 5px;
    background: linear-gradient(60deg, #e1e4ff, #f3f4ff);
    vertical-align: middle;
  }
  .jx-list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    .pad {
      width: 50%;
      padding: 0 5px;
    }
    .jx-item {
      margin-bottom: 10px;
      width: 100%;
      .icon {
        padding: 15px 10px;
      }
      .name {
        font-size: 14px;
        font-weight: 800;
        color: #333333;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .num {
        font-size: 22px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #ef1c34;
      }
      .txt {
        font-size: 12px;
        font-weight: 500;
        color: #333333;
        margin-top: 5px;
      }
    }
  }
}

.item_wrap {
  width: 100%;
  .item_list {
    margin-bottom: 20px;
    .item {
      margin-bottom: 10px;
      background: #ffffff;
      border-radius: 10px;
      //   box-shadow: 1px 1px 2px 2px #f0f0f0;
      // box-shadow: 0px 1px 2px 2px #f0f0f0;
      box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
      .left {
        width: 60%;
        padding: 10px 15px 10px 10px;
        font-size: 16px;
        font-weight: 800;
        color: #fff3d0;
        font-family: PingFang-SC-Heavy;
        background: linear-gradient(90deg, #5e6fff, #a3acff);
        border-radius: 10px 0px 0px 0px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &::after {
          // content: "";
          // display: block;

          // width: 0;
          // height: 0;
          // border: 19px solid;
          // border-color: transparent #ffffff #ffffff transparent;
          // position: absolute;

          // top: 50%;
          // right: -10px;
          // transform: translateY(-50%) rotateY(60deg);
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background: url("../../assets/imgs/sj.png") no-repeat center/100%;
          background-size: cover;
          position: absolute;
          top: 50%;
          right: -1px;
          transform: translateY(-50%);
        }
      }
      .right {
        width: 40%;
        padding: 10px 10px 10px 0;
        span {
          font-size: 12px;
          font-weight: 500;
          color: #333333;
        }
        .num {
          font-size: 16px;
          // font-family: Euclid Circular A;
          font-weight: bold;
          color: #ea001c;
        }
      }

      .num {
        font-size: 20px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #ea001c;
        &.font30 {
          font-size: 30px;
        }
      }

      .txt {
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #666666;
      }

      .logo {
        // position: relative;
        padding: 10px;
        div {
          position: absolute;
          bottom: 0px;
          width: 100%;
          background: #ffffff;
          height: 30px;
          line-height: 30px;
          opacity: 0.8;
          font-weight: bold;
          padding: 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        img {
          width: 100%;
          border-radius: 5px;
          max-height: 260px;
          height: 130px;
          object-fit: cover;
        }
      }

      .detail {
        padding: 0 10px 10px;
        line-height: 30px;
        .detail_num {
          color: #333333;
        }
      }
    }
  }
}

.list {
  flex-wrap: wrap;

  .item {
    width: 33.3%;
    text-align: center;
    // font-size: 14px;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 15px;
    .icon {
      margin: 0 auto 10px;
    }
  }
}
.home_wrap {
  position: relative;
  margin-bottom: 60px;
  .head {
    padding: 10px;
    .logo {
      height: 50px;
      img {
        height: 100%;
      }
    }
  }
}

.red_top_bg {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 68px;
  padding: 10px 0;
  background: #ffffff;
  .logo {
    position: absolute;
    top: 10px;
    left: 3%;
    height: 48px;

    img {
      height: 100%;
    }
  }
  .language {
    position: absolute;
    top: 19px;
    right: 2%;
    height: 36px;

    img {
      height: 100%;
    }
  }
}
.swiper_container {
  // min-height: 182px;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 10px;
}
.swiper-container {
  width: 100%;
  height: 145px;
  // margin: 80px 0 0 0;
  .van-swipe-item {
    overflow: hidden;
  }
  img {
    border-radius: 10px;
    // margin-left: 3%;
    height: 100%;
    width: 100%;
  }
}

.notice {
  margin-bottom: 10px;
}

.work_box {
  padding: 10px 0 0 0;
  height: 160px;
  margin-bottom: 15px;

  .item {
    width: 33.33%;
    text-align: center;
    margin-bottom: 10px;

    .item_img {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 44px;
        height: 44px;
        padding: 4px;
      }
    }

    .item_title {
      width: 100%;
      line-height: 14px;
      font-size: 12px;
      color: #333333;
      text-align: center;
      transform: scale(0.85);
    }
  }
}

.currency_wrap {
  margin-bottom: 15px;

  img {
    width: 40px;
  }

  .currency_detail {
    padding: 20px 0;
  }

  .currency {
    justify-content: space-around;

    p {
      font-size: 14px;
      font-weight: bold;
    }

    .logo {
      p {
        margin-left: 5px;
      }
    }

    .price {
      color: #3cb371;
      font-weight: bold;
    }
  }
}

.close-button {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #cacfff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-button::before, .close-button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: #fff;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}


.popup {
  // -webkit-box-flex: 1;
  // -webkit-flex: 1;
  // flex: 1;
  // max-height: 60vh;
  // padding: 26px 24px;
  // overflow-y: auto;
  // font-size: 14px;
  // line-height: 20px;
  padding: 100px 15px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 24px;
}

.currency_tips {
  margin-bottom: 10px;
  margin-left: 3%;
  border-left: 5px solid #0f6eff;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.items {
  margin-bottom: 20px;

  .item {
    margin-bottom: 10px;

    .logo {
      position: relative;
      div {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: #ffffff;
        height: 30px;
        line-height: 30px;
        opacity: 0.8;
        font-weight: bold;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      img {
        width: 100%;
        border-radius: 5px;
        max-height: 260px;
      }
    }

    .detail {
      padding: 15px;
      line-height: 2;

      .detail_name {
      }

      .detail_num {
        font-weight: bold;
        color: #3cb371;
      }
    }
  }
}

#download_app {
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  height: 60px;
  z-index: 11;
  justify-content: space-between;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 0 20px 0 0;

  .app_close {
    color: #999;
    width: 50px;
    line-height: 60px;
    height: 60px;
    text-align: center;
  }

  .app_logo {
    margin-right: 5px;
    img {
      height: 30px;
    }
  }

  .down_btn {
    padding: 0 15px;
    width: unset;
    height: 32px;
    line-height: 32px;
  }
}
/deep/.van-notice-bar {
  border-radius: 0 0 5px 5px;
}
</style>
