<template>
  <div>
    <div id="qrcode" ref="qrCode"></div>
    <!-- <div class="btn" @click="downs">{{ $t("new.bcqr") }}</div> -->

    <div class="btn">
      <a :href="imgData" download>{{ $t("new.bcqr") }}</a>
    </div>
  </div>
</template>

<script>
import QRcode from "qrcodejs2";
import html2canvas from "html2canvas";
export default {
  name: "qrCode",
  props: {},
  data() {
    return {
      imgData: "",
      code: "",
    };
  },
  components: {},
  methods: {
    async getInviteCode() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      const res = await this.$Fetch("/user/info", {
        isapp,
      });
      if (res.code == 1) {
        this.code = res.data.invite_code;
        this.$emit("getCode", this.code);
        this.get_qrcode();
      }
    },
    get_qrcode() {
      // console.log("window.location", window.location);
      new QRcode(this.$refs.qrCode, {
        text: `${window.location.origin + "/#/login?invite_code=" + this.code}`,
        //text为转换为二维码的文本，可以是所有东西：图片、文本、电话、链接等等
        width: 200, //生成二维码的宽度
        height: 200, //生成二维码的高度
        // colorDark: "#404242", // 二维码颜色
        // colorLight: "#EFF2F2", //二维码背景颜色
        colorDark: "#000000", // 二维码颜色
        colorLight: "#ffffff", //二维码背景颜色
      }),
        this.createPicture(); //转换图片
    },
    createPicture() {
      //二维码转为图片
      html2canvas(this.$refs.qrCode, {
        //设置图片的背景颜色、宽度、高度
        backgroundColor: null,
        width: 200,
        height: 200,
      }).then((canvas) => {
        var imgData = canvas.toDataURL("image/png"); //这里转为图片方式
        // console.log("imgData",imgData);
        this.imgData = imgData;
      });
    },
    downs() {
      //必须同源才能下载
      var alink = document.createElement("a");
      alink.href = this.imgData;
      alink.download = "inviteQrcode"; //图片名
      alink.click();

      //保存到本地
      if (window.plus) {
        //imgUrl 图片网络路径
        var timestamp = new Date().valueOf();
        var downLoader = plus.downloader.createDownload(
          this.imgData,
          {
            method: "GET",
            filename: "_downloads/image/" + timestamp + ".png",
          },
          function (download, status) {
            if (status == 200) {
              var fileName = download.filename;
              plus.gallery.save(
                fileName,
                function () {
                  // console.log("保存成功");
                },
                function () {
                  // console.log("保存失败，请重试");
                }
              );
            } else {
              // console.log("下载失败，请重试");
            }
          }
        );
      }
    },
    clear_qrcode() {
      //清除二维码
      const codehtml = document.getElementById("qrcode");
      codehtml.innerHTML = "";
    },
  },
  created() {},
  mounted() {
    // this.get_qrcode();
    this.getInviteCode();
  },
  computed: {},
};
</script>

<style lang="less" scoped>
#qrcode {
  width: 200px;
  height: 200px;
  margin: auto;
}
.btn {
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  padding: 10px 0;
  width: 40%;
  margin: 15px auto 0;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  a {
    color: #fff;
  }
}
</style>
