<template>
  <div class="pad-top">
    <top-back :title="namelist[$route.query.id]"></top-back>

    <div v-if="content" class="content" v-html="content">
      <!-- {{ $t(namelist[$route.query.id]) }} -->
    </div>

    <div class="no-data" v-else>
      <div class="no-img"></div>
      <div class="no-txt">
        {{ $t("utils.noData") }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  props: {},
  data() {
    return {
      namelist: ["new.jtjj", "new.zzry", "new.cztx", "new.rhzc", "new.safe"],
      cotArr: [
        "group_profile",
        "qualification",
        "recharge_withdrawal",
        "how_register",
        "Security_privacy",
      ],
      content: "",
    };
  },
  components: {},
  methods: {
    async getList() {
      const res = await this.$Fetch("/index/articles");
      if (res.code == 1) {
        let id = this.$route.query.id;
        this.content = res.data[this.cotArr[id]].content;
      }
    },
  },
  created() {
    this.getList();
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.content {
  border-top: 5px solid #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  padding: 10px;
  line-height: 24px;
}
</style>
