<template>
  <div class="pad-top">
    <top-back title="new.szsh"></top-back>

    <div class="list">
      <div class="item flex flex-b">
        <div class="title flex-1">
          {{ $t("new.shdz") }}
        </div>
        <div class="flex-3 flex" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
          <!-- <div class="icon dw"></div> -->
          <input v-model="form.address" :placeholder="$t('new.srdz')" />
          <!-- <div class="icon xz"></div> -->
        </div>
      </div>

      <div class="item flex flex-b">
        <div class="title flex-1">
          {{ $t("new.lxr") }}
        </div>
        <div class="flex-3" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
          <input v-model="form.contact" :placeholder="$t('new.srshr')" />
        </div>
      </div>

      <div class="item flex flex-b">
        <div class="title flex-1">
          {{ $t("login.phone") }}
        </div>
        <div class="flex-3" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
          <input v-model="form.user_phone" :placeholder="$t('new.srsjh')" />
        </div>
      </div>
    </div>

    <div class="submit-btn" @click="submit">
      {{ $t("new.bcdz") }}
    </div>
  </div>
</template>

<script>
export default {
  name: "addShippingAddress",
  props: {},
  data() {
    return {
      form: {
        user_phone: "",
        address: "",
        contact: "",
      },
    };
  },
  components: {},
  methods: {
    async submit() {
      if (!this.form.address) {
        this.$toast(this.$t("new.srdz"));
        return;
      }
      if (!this.form.contact) {
        this.$toast(this.$t("new.srshr"));
        return;
      }
      if (!this.form.user_phone) {
        this.$toast(this.$t("new.srsjh"));
        return;
      }
      const res = await this.$Fetch("/user/addAddress", this.form);
      if (res.code == 1) {
        this.$toast(this.$t("success"));
        this.$router.go(-1);
      }
    },
  },
  created() {
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.list {
  padding: 0 10px;
  .item {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    input {
      font-size: 14px;
      font-weight: bold;
      color: #000000;
      // text-align: right;
      width: 100%;
      &::placeholder {
        font-size: 12px;
        font-weight: 500;
        color: #999999;
      }
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      color: #000000;
    }
  }
}
</style>
