<template>
  <div class="pad-top">
    <top-back title="new.gywm"></top-back>

    <div class="list">
      <div
        class="item flex flex-b"
        v-for="(item, i) in list"
        :key="i"
        @click="$router.push(item.url)"
      >
        <div class="flex">
          <div class="icon" :class="item.icon"></div>
          <div>{{ $t(item.name) }}</div>
        </div>
        <div>
          <div class="icon jtrs"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "adoutUs",
  props: {},
  data() {
    return {
      list: [
        {
          name: "new.jtjj",
          icon: "jtjj",
          url: "/aboutContent?id=0",
        },
        {
          name: "new.zzry",
          icon: "zzry",
          url: "/aboutContent?id=1",
        },
        {
          name: "new.cztx",
          icon: "cztx",
          url: "/aboutContent?id=2",
        },
        {
          name: "new.rhzc",
          icon: "rhzc",
          url: "/aboutContent?id=3",
        },
        {
          name: "new.safe",
          icon: "safe",
          url: "/aboutContent?id=4",
        },
      ],
    };
  },
  components: {},
  methods: {},
  created() {
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.list {
  padding: 0 10px;
  border-top: 5px solid #f5f5f5;
  .item {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    .txt {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
  }
}
</style>
