<template>
  <div class="basic_wrap pad-top">
    <!-- <bsHeader :title="$t('auth.authCenter')" @backurl="$router.back()"></bsHeader> -->
    <top-back
      @back="$router.push('/user')"
      :isAuth="true"
      title="auth.authCenter"
    ></top-back>

    <!-- 认证成功 -->
    <div class="rz-box" v-if="data.auth_phone == 1">
      <div class="rz">
        <div class="icon auth"></div>
        <div class="tip">
          {{ $t("new.auth") }}
        </div>
      </div>
      <div class="info">
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("wallet.name") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            {{ data.real_name ? data.real_name : "-" }}
          </div>
        </div>
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.sfz") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            {{ data.id_card ? data.id_card : "-" }}
          </div>
        </div>
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.yhkh") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            {{ data.bank ? data.bank : "-" }}
          </div>
        </div>
      </div>
    </div>

    <div class="rz-box" v-if="data.auth_phone == 2">
      <div class="tips t-center">
        {{ $t("shz") }}
      </div>
    </div>

    <!-- 未认证  实名认证,0未认证/1已认证2认证中3认证失败-->
    <div class="rz-box" v-if="data.auth_phone == 0 || data.auth_phone == 3">
      <div class="tips">
        {{ $t("new.authTip") }}
      </div>

      <div class="infos">
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("wallet.name") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            <input
              type="text"
              v-model="form.username"
              :placeholder="$t('new.srxm')"
            />
          </div>
        </div>
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.sfz") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            <input
              type="text"
              v-model="form.id_card"
              :placeholder="$t('new.srsfh')"
            />
          </div>
        </div>
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.yhkh") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            <input
              type="text"
              v-model="form.bank"
              :placeholder="$t('new.srkh')"
            />
          </div>
        </div>
      </div>

      <div class="submit-btn btn" @click="submit()">
        {{ $t("utils.submit") }}
      </div>
    </div>

    <!-- 原来的 -->
    <div class="desc_warp" v-if="false">
      <img src="../img/user/certification.png" />
      <p>{{ $t("auth.authSafe") }}</p>
      <p>{{ $t("auth.authTips1") }}</p>
    </div>

    <div class="item_warp" v-if="false">
      <div v-show="data.auth_phone_status" class="block_div flex_center item">
        <div class="flex_center item_info">
          <div>
            <img src="../img/user/phone.png" />
          </div>
          <div>
            <p>{{ $t("auth.authPhone") }}</p>
            <p v-if="!bind_phone">{{ $t("auth.bindPhone") }}</p>
            <p v-if="bind_phone">{{ phone }}</p>
          </div>
        </div>
        <div>
          <p v-if="bind_phone" class="btn_0">{{ $t("auth.authed") }}</p>
          <p
            v-if="!bind_phone"
            class="btn_1 basic_btn"
            @click="$router.replace('/authPhone')"
          >
            {{ $t("auth.toAuth") }}
          </p>
        </div>
      </div>
      <div v-show="data.auth_email_status" class="block_div flex_center item">
        <div class="flex_center item_info">
          <div>
            <img src="../img/user/email.png" />
          </div>
          <div>
            <p>{{ $t("auth.authEmail") }}</p>
            <p v-if="!bind_email">{{ $t("auth.bindEmail") }}</p>
            <p v-if="bind_email">{{ email }}</p>
          </div>
        </div>
        <div>
          <p v-if="bind_email" class="btn_0">{{ $t("auth.authed") }}</p>
          <p
            v-if="!bind_email"
            class="btn_1 basic_btn"
            @click="$router.replace('/authEmail')"
          >
            {{ $t("auth.toAuth") }}
          </p>
        </div>
      </div>
      <div
        v-show="data.auth_authenticator_status"
        class="block_div flex_center item"
      >
        <div class="flex_center item_info">
          <div>
            <img src="../img/user/authenticator.png" />
          </div>
          <div>
            <p>{{ $t("auth.authAuthenticator") }}</p>
            <p v-if="!bind_authenticator">{{ $t("auth.bindAuthenticator") }}</p>
            <p v-if="bind_authenticator">{{ authenticator }}</p>
          </div>
        </div>
        <div>
          <p v-if="bind_authenticator" class="btn_0">{{ $t("auth.authed") }}</p>
          <p
            v-if="!bind_authenticator"
            class="btn_1 basic_btn"
            @click="$router.replace('/authGoogle')"
          >
            {{ $t("auth.toAuth") }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Fetch from "../../utils/fetch";
import bsHeader from "../../components/bsHeader.vue";
import { CountDown, Checkbox } from "vant";
Vue.use(CountDown).use(Checkbox);
export default {
  name: "auth",
  components: {
    bsHeader,
  },
  data() {
    return {
      form: {
        username: "",
        id_card: "",
        bank: "",
      },
      // isLang: localStorage.getItem("lang"),
      data: {},
      bind_phone: true,
      bind_email: true,
      bind_authenticator: true,
      phone: this.$t("auth.bindPhone"),
      email: this.$t("auth.bindEmail"),
      authenticator: this.$t("auth.bindAuthenticator"),
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
  },
  mounted() {
    this.start();
  },
  methods: {
    start() {
      // 获取认证状态
      Fetch("/user/getAuthStatus").then((r) => {
        if (r.code == 1) {
          this.data = r.data;
        }

        // this.bind_phone = r.data.auth_phone;
        // this.phone = r.data.phone;
        // this.bind_email = r.data.auth_email;
        // this.email = r.data.email;
        // this.bind_authenticator = r.data.auth_authenticator;
        // this.authenticator = r.data.authenticator_key;
      });
    },
    submit() {
      if (!this.form.username) {
        this.$toast(this.$t("new.srxm"));
        return;
      }
      if (!this.form.id_card) {
        this.$toast(this.$t("new.srsfh"));
        return;
      }
      if (!this.form.bank) {
        this.$toast(this.$t("new.srkh"));
        return;
      }

      // 认证提交
      Fetch("/user/authRealName", this.form).then((r) => {
        if (r.code == 1) {
          // 进行中
          // this.data.auth_phone = 2;
          this.start();
        }
      });
    },
  },
};
</script>

<style lang="less" scoped>
.btn {
  // width: 90%;
  // padding: 15px 0;
  // background: linear-gradient(90deg, #606fff, #7a82fc);
  // border-radius: 22px;
  // text-align: center;
  // font-size: 14px;
  // font-weight: 500;
  // color: #ffffff;
  margin: 40px auto;
}
.rz-box {
  .rz {
    border-top: 5px solid #f5f5f5;
    padding: 30px 0 50px;
    .auth {
      margin: auto;
    }
    .tip {
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      text-align: center;
      margin-top: 20px;
    }
  }
  .info {
    padding: 0 10px;
    .item {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
      .flex-1 {
        font-size: 16px;
        font-weight: 500;
        color: #999999;
      }
      .flex-2 {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
      }
    }
  }
  .tips {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    //   text-align: center;
    padding: 20px 10px 40px;
    border-top: 5px solid #f5f5f5;
  }

  .infos {
    padding: 0 10px;
    .item {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
      .flex-1 {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
      }
      .flex-2 {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        input {
          height: 100%;
          width: 100%;
          &::placeholder {
            font-size: 16px;
            font-weight: 500;
            color: #b3b3b3;
          }
        }
      }
    }
  }
}
.desc_warp {
  margin-top: 100px;
  text-align: center;

  img {
    width: 100px;
    height: 100px;
  }

  p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }

  p:nth-child(3) {
    font-size: 14px;
    color: #999;
    line-height: 1.5;
    padding: 0 20px;
  }
}

.item_warp {
  margin-top: 30px;

  .item {
    margin-bottom: 10px;
    padding: 30px 20px;
    justify-content: space-between;

    .item_info {
      div:nth-child(1) {
        img {
          width: 40px;
        }
      }

      div:nth-child(2) {
        margin-left: 15px;
        line-height: 1.5;

        p:nth-child(1) {
          font-size: 16px;
          font-weight: bold;
        }

        p:nth-child(2) {
          color: #999;
        }
      }
    }

    .btn_0 {
      color: #999;
    }

    .btn_1 {
      font-size: 14px;
      height: unset;
      line-height: unset;
      width: unset;
      border-radius: 14px;
      padding: 5px 10px;
      margin-left: unset;
    }
  }
}
</style>
