<template>
  <!-- 绑定银行卡 -->
  <div class="pad-top">
    <top-back title="new.tjyh"></top-back>

    <div class="infos">
      <div class="flex flex-b item">
        <div class="flex-1">{{ $t("wallet.name") }}</div>
        <div class="flex-2">
          <input
            type="text"
            v-model="form.name"
            :placeholder="$t('new.srxm')"
          />
        </div>
      </div>

      <div class="flex flex-b item">
        <div class="flex-1">{{ $t("new.yhkh") }}</div>
        <div class="flex-2">
          <input
            type="text"
            v-model="form.account"
            :placeholder="$t('new.srkh')"
          />
        </div>
      </div>

      <div class="flex flex-b item">
        <div class="flex-1">{{ $t("new.kfh") }}</div>
        <div class="flex-2">
          <input
            type="text"
            v-model="form.bank"
            :placeholder="$t('new.srkfh')"
          />
        </div>
      </div>

      <div class="flex flex-b item">
        <div class="flex-1">{{ $t("login.phone") }}</div>
        <div class="flex-2">
          <input
            type="text"
            v-model="form.phone"
            :placeholder="$t('new.phone')"
          />
        </div>
      </div>
    </div>

    <div class="submit-btn btn" @click="submit">{{ $t("utils.submit") }}</div>
  </div>
</template>

<script>
export default {
  name: "bindBankCard",
  props: {},
  data() {
    return {
      form: {
        id: 7,
        name: "",
        account: "",
        bank: "",
        phone: "",
      },
    };
  },
  components: {},
  methods: {
    submit() {
      if (!this.form.name) {
        this.$toast(this.$t("new.srxm"));
        return;
      }
      if (!this.form.account) {
        this.$toast(this.$t("new.srkh"));
        return;
      }
      if (!this.form.bank) {
        this.$toast(this.$t("new.srkfh"));
        return;
      }
      if (!this.form.phone) {
        this.$toast(this.$t("new.phone"));
        return;
      }
      // 认证提交
      this.$Fetch("/user/setWallet", this.form).then((r) => {
        if (r.code == 1) {
          // 进行中
          // this.data.auth_phone = 2;
          this.$toast(this.$t("success"));
          setTimeout(() => {
            this.$router.go(-1);
          }, 2000);
        }
      });
    },
  },
  created() {
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.infos {
  padding: 15px 10px 0;
  border-top: 5px solid #f5f5f5;
  .item {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    .flex-1 {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .flex-2 {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      input {
        height: 100%;
        width: 100%;
        &::placeholder {
          font-size: 12px;
          font-weight: 500;
          color: #b3b3b3;
        }
      }
    }
  }
}
</style>
