<template>
  <!-- 卡券列表 -->
  <div>
    <div class="icon kqbg">
      <top-back title="" :isWhite="true"></top-back>

      <div class="title-box">
        <div class="title">{{ $t("new.wdkq") }}</div>
        <div class="flex flex-c">
          <div
            class="item"
            :class="{ active: tabIndex == 1 }"
            @click="changeTab(1)"
          >
            {{ $t("new.djq") }}
          </div>
          <div
            class="item"
            :class="{ active: tabIndex == 2 }"
            @click="changeTab(2)"
          >
            {{ $t("new.jxq") }}
          </div>
        </div>
      </div>
    </div>

    <!-- 代金券 -->
    <div  class="list" v-if="tabIndex == 1">
      <template v-if="list.length">
        <!-- 未使用，已过期，显示背景视已使用的背景，只是状态变成已过期 -->
        <div
          class="item icon flex flex-b"
          :class="item.status ? 'ysy' : item.st ? 'ysy' : 'yhq'"
          v-for="(item, i) in list"
          :key="i"
        >
          <div class="t-center num">{{ $thousands(item.money || 0) }} VND</div>
          <div class="txt">
            <div class="tip">
              {{ $t("new.djq") }}
            </div>
            <div class="time">{{ $t("dqr") }}:{{ item.valid_time }}</div>
          </div>
          <div class="status">
            {{ item.status ? $t("ysy") : item.st ? $t("ygq") : $t("wsy") }}
          </div>
        </div>
      </template>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>

    <!-- 加息券 -->
    <div class="list" v-if="tabIndex == 2">
      <template v-if="list.length">
        <div
          class="item icon flex flex-b"
          :class="item.status ? 'ysy' : item.st ? 'ysy' : 'jxq'"
          v-for="(item, i) in list"
          :key="i"
        >
          <div class="t-center num">{{ item.money || 0 }}%</div>
          <div class="txt">
            <div class="tip">{{ $t("new.jxq") }}</div>
            <div class="time">{{ $t("dqr") }}:{{ item.valid_time }}</div>
          </div>
          <div class="status">
            {{ item.status ? $t("ysy") : item.st ? $t("ygq") : $t("wsy") }}
          </div>
        </div>
      </template>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "cardList",
  props: {},
  data() {
    return {
      tabIndex: 1,
      list: [],
      page: 1,
    };
  },
  components: {},
  methods: {
    changeTab(index) {
      this.tabIndex = index;
      this.getList();
    },
    getList() {
      this.$Fetch("/user/myCoupons", {
        type: this.tabIndex,
        listRows: 20,
        page: this.page,
      }).then((res) => {
        if (res.code == 1) {
          let date = new Date();
          res.data.list.forEach((item) => {
            // item.status = 0;
            // 现在时间大于过期时间，显示已过期
            if (date.getTime() > new Date(item.valid_time).getTime()) {
              item.st = true;
            } else {
              item.st = false;
            }
          });

          this.list = res.data.list;

          // console.log("this.list", this.list);
        }
      });
    },
  },
  created() {
    this.getList();
    //   隐藏底部tab栏
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.list {
  background: #ffffff;
  border-radius: 20px 20px 10px 10px;
  margin-top: -40px;
  //   padding: 15px 20px;
  padding: 10px;
  .item {
    margin-bottom: 10px;
    .flex-2 {
      padding-left: 20px;
    }
    .num {
      font-size: 18px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #fff;
      width: 30%;
    }
    .txt {
      width: 55%;
      padding-left: 15px;
      .tip {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        margin-bottom: 10px;
      }
      .time {
        font-size: 12px;
        font-weight: 500;
        color: #333333;
      }
    }
    .status {
      width: 15%;
      font-size: 12px;
      font-weight: 500;
      color: #606fff;
      text-align: center;
      &.st {
        color: #999999;
      }
    }
  }
}
.title-box {
  padding: 30px 0 20px;
  .title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
  .item {
    border: 1px solid #ffffff;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 35%;
    margin: 30px 10px 0;
    &.active {
      background: linear-gradient(45deg, #ff8502, #ffaf02);
      border-color: transparent;
    }
  }
}

.icon.kqbg {
  width: 100%; /* 默认宽度为100% */
}

@media (min-width: 730px) {
  .icon.kqbg {
    width: 750px; /* 当宽度大于730px时，宽度固定为730px */
  }
}
</style>
