<template>
  <div class="basic_wrap pad-top">
    <!-- <bsHeader :title="$t('draw.drawRecord')" @backurl="$router.back()"></bsHeader> -->
    <top-back title="draw.drawRecord"></top-back>

    <div class="item_wrap">
      <div class="item_list">
        <van-list
          v-model="loading"
          loading-text=" "
          offset="0"
          :finished="finished"
          @load="onLoad"
        >
          <!--  :finished-text="$t('utils.noData')" -->
          <div class="item" v-for="(item, index) in list" :key="index">
            <div class="flex flex-b">
              <div class="title">{{ item.title }}</div>
              <div class="num" v-if="item.dtype != 3">
                {{ $thousands(item.money || 0)
                }}{{ item.dtype == 1 ? " VND" : "%" }}
              </div>
              <!-- dtype=3 谢谢惠顾 -->
              <div class="num" v-else>-</div>
            </div>

            <div class="flex flex-b mt10">
              <div class="time">
                {{ item.time || 0 }}
              </div>
              <div class="sy">
                {{ $t("sycs") }}:{{ $thousands(item.num || 0) }}
              </div>
            </div>
          </div>
        </van-list>
      </div>

      <div class="no-data" v-if="!list.length">
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import bsHeader from "../../components/bsHeader.vue";
import Fetch from "../../utils/fetch";
import { List } from "vant";
Vue.use(List);
export default {
  name: "recharge",
  components: {
    bsHeader,
  },
  data() {
    return {
      data: [],
      empty: false,
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 10,
    };
  },
  // //创建前设置
  // beforeCreate() {
  // 	//解决List上拉加载bug
  // 	document.querySelector('body').style["overflow-y"] = "unset";
  // },
  // //销毁前清除
  // beforeDestroy() {
  // 	document.querySelector('body').style["overflow-y"] = "scroll";
  // },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
  },
  mounted() {},
  methods: {
    // precision(money) {
    //   var precision = localStorage.getItem("precision_basic");
    //   return (money / 1).toFixed(precision);
    // },
    sort(type) {
      this.page = 1;
      this.empty = false;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      // /user/drawRecord
      Fetch("/user/prizeList", {
        page: this.page,
        listRows: this.listRows,
        type: 0,
      }).then((r) => {
        if (r.data.drawRecord.length == 0) this.empty = true;
        // var list = r.data.drawRecord;
        // for (var i = 0; i < list.length; i++) {

        //   this.list.push(list[i]);
        // }
        this.list = r.data.drawRecord;
        this.list.forEach((item, i) => {
          item.num = r.data.lottery_num + i;
        });
        if (this.list.length >= r.data.drawRecord.length) {
          this.finished = true;
          return;
        }
        // this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
};
</script>

<style lang="less" scoped>
.basic_wrap {
  position: relative;
  margin-bottom: 100px;
}
.item_wrap {
  width: 100%;
  // padding: 44px 0 0 0;
  border-top: 10px solid #f5f5f5;

  .item_list {
    // margin-top: 10px;
    padding: 0 10px;

    .item {
      //   padding: 20px;
      //   background: #ffffff;
      //   margin-bottom: 10px;
      justify-content: space-between;
      padding: 15px 5px;
      border-bottom: 1px solid #cccccc;
      .mt10 {
        margin-top: 10px;
      }

      .title {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
      }
      .num {
        font-size: 16px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #333333;
      }
      .time {
        font-size: 14px;
        font-weight: 500;
        color: #999999;
      }
      .sy {
        font-size: 14px;
        font-weight: bold;
        color: #3ab370;
      }

      //   div:nth-child(1) {
      //     text-align: left;
      //     font-size: 14px;

      //     img {
      //       width: 36px;
      //       height: 36px;
      //       margin-right: 10px;
      //     }
      //   }

      //   div:nth-child(2) {
      //     text-align: right;
      //     color: #999;
      //   }
    }
  }
}
</style>
