<template>
  <div class="pad-top">
    <top-back title="new.jlzd"></top-back>

    <div class="content" v-html="content"></div>
  </div>
</template>

<script>
export default {
  name: "encourage",
  props: {},
  data() {
    return {
      content: "",
    };
  },
  components: {},
  methods: {
    async getList() {
      const res = await this.$Fetch("/index/articles");
      if (res.code == 1) {
        // let id = this.$route.query.id;
        this.content = res.data.rewards_system.content;
      }
    },
  },
  created() {
    this.$parent.footer("user", false);
    this.getList();
  },
  computed: {},
};
</script>

<style scoped lang="less">
.content {
  border-top: 5px solid #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  padding: 10px;
  line-height: 24px;
}
</style>
