<template>
  <div class="main">
    <top-back title="new.dhjl"></top-back>
    <div class="list">
      <van-list
        v-model="loading"
        loading-text=" "
        offset="0"
        :finished="finished"
        @load="onLoad"
        v-if="list.length"
      >
        <!-- :finished-text="$t('utils.noData')" -->
        <div class="list-item" v-for="(item, index) in list" :key="index">
          <div class="flex flex-b mb15">
            <div class="title">
              {{ item.title }}
            </div>

            <div class="num">-{{ $thousands(item.integral || 0) }}</div>
          </div>
          <div class="flex flex-b">
            <div class="time">{{ item.create_time }}</div>

            <!-- <div class="status">123</div> -->
          </div>
        </div>
      </van-list>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Fetch from "../../utils/fetch";
export default {
  name: "exchangeRecord",
  props: {},
  data() {
    return {
      currency_symbol_basic: localStorage.getItem("currency_symbol_basic"),
      data: [],
      empty: false,
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 8,
    };
  },
  components: {},
  methods: {
    sort() {
      this.page = 1;
      this.empty = false;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      Fetch(`/user/exchange_list`, {
        page: this.page,
        listRows: this.listRows,
      }).then((r) => {
        if (r.data.length == 0) this.empty = true;

        var list = r.data.list;
        for (var i = 0; i < list.length; i++) {
          this.list.push(list[i]);
        }

        if (this.list.length >= r.data.length) {
          this.finished = true;
          // this.$toast(this.$t("utils.noData"));
          return;
        }
        this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
  created() {
    this.sort();
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.main {
  padding-top: 50px;
}

.list {
  padding: 10px;
  border-top: 10px solid #f5f5f5;
  .list-item {
    padding: 10px 5px;
    border-bottom: 1px solid #cccccc;
    // line-height:30px;
    .mb15 {
      margin-bottom: 15px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .num {
      //   font-size: 14px;
      font-size: 16px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      // color: #333333;
      color: #3ab370;
    }
    .time {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
    .status {
      font-size: 14px;
      font-weight: bold;
      color: #3ab370;
    }
  }
}
</style>
