<template>
  <!-- 积分商城 -->
  <div class="main" @scroll="onLoad($event)">
    <!-- <div class="icon jfbg top-fixed"> -->
    <div class="icon jfbg top-fixed">
      <top-back title="new.jfsc" :isWhite="true"></top-back>

      <div class="flex flex-b head">
        <div>
          <div class="title">{{ $t("new.jf") }}666</div>
          <div class="flex">
            <div class="icon jft"></div>
            <div class="num">{{ $thousands(integrals || 0) }}</div>
          </div>
        </div>
        <div class="btn" @click="$router.push('/exchangeRecord')">
          {{ $t("new.dhjl") }}
        </div>
      </div>
    </div>

    <div class="list flex flex-b">
      <div class="list-item" v-for="(item, i) in list" :key="i">
        <div>
          <img :src="item.image" />
        </div>
        <div class="list-title">{{ item.title }}</div>
        <div class="flex mtb10">
          <div class="icon jft"></div>
          <div class="price">
            {{ $thousands(item.integral || 0) }}<span>{{ $t("new.jft") }}</span>
          </div>
        </div>
        <div class="btn" @click="showExchange(item)">
          {{ $t("new.ljdh") }}
        </div>
      </div>
    </div>

    <!-- 兑换弹出框 -->
    <van-dialog
      v-model="show"
      title=""
      :showConfirmButton="false"
      :show-cancel-button="false"
      :closeOnClickOverlay="true"
    >
      <div class="popup">
        <div class="title">
          {{ $t("new.dh") }}
          <div class="icon gb" @click="show = false"></div>
        </div>

        <div class="cot">
          {{ $t("new.qdsy") }}<span>{{ $thousands(currentItem.integral || 0) }}</span
          >{{ $t("new.tip") }}
        </div>

        <div class="btns flex flex-b">
          <div class="btn" @click="show = false">{{ $t("utils.cancel") }}</div>
          <div class="btn1" @click="exchange">{{ $t("utils.confirm") }}</div>
        </div>
      </div>
    </van-dialog>

    <!-- 兑换提示弹窗 -->
    <van-dialog
      v-model="show1"
      title=""
      :showConfirmButton="false"
      :show-cancel-button="false"
      :closeOnClickOverlay="true"
    >
      <div class="popup">
        <!-- 成功显示 -->
        <div v-if="isSuccess">
          <div class="title">
            <!-- {{ $t("new.jfbz") }} -->
            <div class="icon gb" @click="closeDialog"></div>
          </div>
          <div class="cot cots">
            <div class="icon dhcg"></div>

            <div>
              {{ $t("new.dhcg") }}
            </div>
          </div>
        </div>

        <div v-if="!isSuccess">
          <!-- 积分不足显示 -->
          <div class="title titles">
            {{ $t("new.jfbz") }}
            <div class="icon gb" @click="closeDialog"></div>
          </div>
          <div class="cot">
            {{ $t("new.jfbztip") }}
          </div>
        </div>

        <div class="btns flex flex-b">
          <!-- <div class="btn" @click="show = false">{{ $t("utils.cancel") }}</div> -->
          <div class="btn1 mr" @click="closeDialog">
            {{ $t("utils.confirm") }}
          </div>
        </div>
      </div>
    </van-dialog>
  </div>
</template>

<script>
// import Fetch from "../../utils/fetch";
export default {
  name: "exchange",
  props: {},
  data() {
    return {
      show: false,
      show1: false,
      isSuccess: false,
      list: [],
      page: 1,
      listRows: 8,
      integrals: "",
      currentItem: {
        integral: 0,
      },
      isLoad: false,
      info: "",
    };
  },
  components: {},
  methods: {
    closeDialog() {
      this.show1 = false;
      // 如果兑换成功，关闭弹层，要刷新一下剩余积分
      if (this.isSuccess) {
        this.getSignInfo();
      }
    },
    showExchange(item) {
      this.currentItem = item;
      if (item.integral <= this.integrals) {
        this.show = true;
      } else {
        // 积分不足
        this.isSuccess = false;
        this.show1 = true;
      }
    },
    exchange() {
      this.show = false;
      // 提交兑换
      this.$Fetch("/user/exchange", { id: this.currentItem.id }).then((res) => {
        if (res.code == 1) {
          // 成功时显示
          this.show1 = true;
          this.isSuccess = true;

          if (!this.info.address) {
            setTimeout(() => {
              this.$router.push("/addShippingAddress");
            }, 2000);
          }
        }
      });
    },
    // 判断是否有添加地址，没有就去添加
    async getAddress() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      const res = await this.$Fetch("/user/info", { isapp });
      if (res.code == 1) {
        this.info = res.data;
      }
    },
    // 获取用户积分余额
    getSignInfo() {
      this.$Fetch("/user/signInDay").then((res) => {
        this.integrals = res.data.integrals;
      });
    },
    getList() {
      this.$Fetch("/index/product_list", {
        page: this.page,
        listRows: this.listRows,
        type: 0,
      }).then((res) => {
        // console.log("res", res);
        if (res.code == 1) {
          // 总条数等于本地显示的条，没有行的数据了
          if (res.data.length == this.list.length) {
            this.$toast(this.$t("utils.noData"));
            this.isLoad = true;
            return;
          }

          this.isLoad = false;
          this.list = [...this.list, ...res.data.list];
        }
      });
    },
    onLoad(e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target;
      // console.log(scrollTop, clientHeight, scrollHeight);
      if (this.isLoad) {
        return;
      }
      if (scrollTop + clientHeight - scrollHeight >= 0) {
        this.isLoad = true;
        this.page += 1;
        this.getList();
        // console.log("123456");
      }
    },
  },
  created() {
    //   隐藏底部tab栏
    this.$parent.footer("user", false);
    this.getSignInfo();
    this.getList();
    this.getAddress();
  },
  computed: {},
};
</script>

<style scoped lang="less">
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.popup {
  padding: 15px;
  .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    position: relative;
    &.titles {
      color: #fc0a0a;
    }
    .icon {
      position: absolute;
      top: 0;
      right: 0px;
      z-index: 99;
    }
  }
  .cot {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    margin: 20px 0;
    &.cots {
      margin-top: 0;
    }
    .dhcg {
      margin: 0 auto 15px;
    }
    span {
      font-size: 16px;
      font-family: EuclidCircularA-Medium;
      color: #ff7e00;
    }
  }
  .btns {
    .btn {
      flex: 1;
      background: #e0e0e0;
      opacity: 0.93;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      color: #999999;
      text-align: center;
      padding: 14px 0;
      margin-right: 10px;
    }
    .btn1 {
      flex: 1;
      background: linear-gradient(90deg, #606fff, #7a82fc);
      opacity: 0.93;
      border-radius: 5px;
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #ffffff;
      text-align: center;
      padding: 14px 0;
      margin-left: 10px;
      &.mr {
        margin-left: 0;
      }
    }
  }
}
.main {
  padding-top: 150px;
  background-color: #f0f0f0;
  height: 100vh;
  overflow-y: scroll;
}
.icon.jfbg.top-fixed {
  width: 100%; /* 默认宽度为100% */
}

@media (min-width: 730px) {
  .icon.jfbg.top-fixed {
    width: 730px; /* 当宽度大于730px时，宽度固定为730px */
  }
}

.head {
  padding: 20px 15px;
  .title {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 35px;
    margin-bottom: 10px;
  }
  .num {
    font-size: 26px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #ffffff;
    padding-left: 5px;
  }
  .btn {
    border: 1px solid #ffffff;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 10px 12px;
  }
}
.list {
  flex-wrap: wrap;
  padding: 10px 5px;
  .list-item {
    width: 47%;
    margin: 0 5px 15px;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px 5px 10px;
    img {
      width: 100%;
      height: 150px;
      border-radius: 5px;
      object-fit: contain;
    }
    .list-title {
      font-size: 16px;
      font-weight: bold;
      color: #333333;

      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .jft {
      width: 15px;
      height: 12px;
      margin-right: 5px;
    }
    .mtb10 {
      margin: 10px 0;
    }
    .price {
      font-size: 16px;
      font-weight: 500;
      color: #f10d38;
      span {
        font-size: 12px;
        font-family: PingFang-SC-Medium, PingFang SC;
        font-weight: 500;
        color: #f10d38;
      }
    }
    .btn {
      background: linear-gradient(90deg, #606fff, #7a82fc);
      border-radius: 18px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      padding: 10px 0;
      text-align: center;
      margin: 0 5px;
    }
  }
}
</style>
