<template>
  <div class="pad-top">
    <top-back title="new.zjmm"></top-back>

    <div class="border">
      <div class="infos">
        <!-- 是否设置支付密码0否1是  已经设置了就是修改密码，显示原始密码-->
        <div class="flex flex-b item" v-if="info">
          <div class="flex-1">{{ $t("new.ysmm") }}</div>
          <div class="flex-2 flex flex-b">
            <input
              :type="type ? 'password' : 'text'"
              v-model="form.old_password"
              :placeholder="$t('new.srysmm')"
            />
            <div
              class="eye_bi"
              :class="type ? '' : 'eye'"
              @click="type = !type"
            />
          </div>
        </div>

        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.xmm") }}</div>
          <div class="flex-2 flex flex-b">
            <input
              :type="type1 ? 'password' : 'text'"
              v-model="form.password"
              :placeholder="$t('new.srxmm')"
            />
            <div
              class="eye_bi"
              :class="type1 ? '' : 'eye'"
              @click="type1 = !type1"
            />
          </div>
        </div>
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.qrmm") }}</div>
          <div class="flex-2 flex flex-b">
            <input
              :type="type2 ? 'password' : 'text'"
              v-model="form.confirm_password"
              :placeholder="$t('new.srqr')"
            />
            <div
              class="eye_bi"
              :class="type2 ? '' : 'eye'"
              @click="type2 = !type2"
            />
          </div>
        </div>
      </div>

      <div class="submit-btn" @click="submit()">{{ $t("new.bc") }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "fundPass",
  props: {},
  data() {
    return {
      type: true,
      type1: true,
      type2: true,
      form: {
        old_password: "",
        password: "",
        confirm_password: "",
      },
      info: "",
    };
  },
  components: {},
  methods: {
    async getInfo() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      const res = await this.$Fetch("/user/info", {
        isapp,
      });
      this.info = res.data.is_set_paywd;
      // this.info = 0;
    },
    submit() {
      if (this.info && !this.form.old_password) {
        this.$toast(this.$t("new.srysmm"));
        return;
      }

      if (!this.form.password) {
        this.$toast(this.$t("new.srxmm"));
        return;
      }
      if (!this.form.confirm_password) {
        this.$toast(this.$t("new.qrmm"));
        return;
      }

      // 两次密码不一致，提示确认密码
      if (this.form.confirm_password != this.form.password) {
        this.$toast(this.$t("new.qrmm"));
        return;
      }
      // 登录密码长度6-16位限制
      if (this.form.password.length < 6 || this.form.password.length > 16) {
        this.$toast(this.$t("login.passwordLength"));
        return;
      }

      if (!this.info) {
        delete this.form.old_password;
      }

      // console.log("this.form", this.form);

      // 认证提交
      this.$Fetch("/user/editPayPassword", this.form).then((r) => {
        if (r.code == 1) {
          // 进行中
          // this.data.auth_phone = 2;
          this.$toast(this.$t("success"));
          setTimeout(() => {
            this.$router.go(-1);
          }, 2000);
        }
      });
    },
  },
  created() {
    this.getInfo();
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.border {
  border-top: 5px solid #f5f5f5;
  padding-top: 20px;
  .submit-btn {
    margin-top: 30px;
  }
}
.infos {
  padding: 0 10px;
  .item {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    .flex-1 {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .flex-2 {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      input {
        height: 100%;
        width: 100%;
        &::placeholder {
          font-size: 12px;
          font-weight: 500;
          color: #b3b3b3;
        }
      }
    }
  }
}
</style>
