<template>
  <div class="user_wrap">
    <!-- <div class="red_top_bg">
			<div class="big_tit">{{$t('home.my')}}</div>
			<div class="msg" @click="$router.push('/notice')">
				<img src="../img/user/msg.png">
			</div>
		</div> -->

    <div class="bg">
      <div class="head">
        <div class="title">{{ $t("home.my") }}</div>
        <!-- <lang-select :showMsg="true" :showLang='false'></lang-select> -->
      </div>

      <!-- 用户头像等 -->
      <div class="flex user-box">
        <div class="user">
          <img :src="data.user_icon" alt="" />
        </div>
        <div class="flex-1">
          <div class="user-name">{{ data.username }}</div>
          <div class="flex bgs">
            <!-- 0不是团长，不显示团队等级 -->
            <!-- data.group_level != 0  -->
            <!-- v-if="data.group_level_name" -->
            <span class="td-bg"
              ><span class="icon td"></span>{{ $t("new.td") }}:{{
                data.group_level_name ? data.group_level_name : " "
              }}</span
            >

            <span class="dj-bg"
              ><span class="icon dj"></span>{{ $t("new.hy") }}:{{
                data.vip_name || " "
              }}</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="flex flex-b">
        <div>
          <div class="txt">{{ $t("new.zye") }}</div>
          <div class="num">{{ $thousands(data.money || 0) }}</div>
        </div>
        <div>
          <div class="txt t-right">{{ $t("new.ljsy") }}</div>
          <!-- 总收益 -->
          <div class="num1 t-right">
            {{ $thousands(data.total_income || 0) }}
          </div>
        </div>
      </div>

      <div class="mtb10">
        <div
          class="flex flex-b titles"
          :class="{
            font12: $i18n.locale == 'dk_dk' || $i18n.locale == 'vi_vn',
          }"
        >
          <div class="flex-1">{{ $t("new.dsy") }}</div>
          <div class="flex-1 t-center">{{ $t("new.ktx") }}</div>
          <div class="flex-1 t-right">
            {{ $t("new.kyjf") }}
          </div>
        </div>
        <div class="flex flex-b nums">
          <!-- 待收益 -->
          <div class="flex-1">{{ $thousands(data.be_income || 0) }}</div>
          <!-- 可提现 -->
          <div class="flex-1 t-center">
            {{ $thousands(isNaN(ktx(data)) ? 0 : ktx(data)) }}
          </div>
          <div class="flex-1 t-right">
            {{ data.integrals ? $thousands(data.integrals) : "0" }}
          </div>
        </div>
      </div>

      <div class="flex flex-b cz-box">
        <div class="icon cz t-center" @click="$router.push('/recharge')">
          {{ $t("user.recharge") }}
        </div>
        <div class="icon tx t-center" @click="$router.push('/withdraw')">
          {{ $t("user.withdraw") }}
        </div>
        <div
          class="icon zz t-center"
          @click="$router.push('/transferAccounts')"
        >
          {{ $t("new.zz") }}
        </div>
      </div>
    </div>

    <div class="lists flex">
      <div
        class="list-item"
        :class="{
          dk: $i18n.locale == 'dk_dk' || $i18n.locale == 'vi_vn',
        }"
        v-for="(item, i) in list"
        :key="i"
        @click="toPage(item)"
      >
        <div class="icon" :class="item.icon"></div>
        <div
          class="name"
          :class="{
            font12: $i18n.locale == 'vi_vn',
          }"
        >
          {{ $t(item.name) }}
        </div>
      </div>
    </div>

    <!-- <div class="top_header_bg"></div>
    <div  class="block_div flex_center top_header">
      <div class="user_detail">
        <div class="user_header">
          <img :src="data.user_icon" alt="" />
        </div>
        <div class="user_name">
          <div class="user_all">
            <p class="user_nickname">{{ data.username }}</p>
          </div>
        </div>
      </div>
      <div class="invite_code">
        <p class="invite_tips">{{ $t("user.invite_code") }}</p>
        <div
          class="flex_center copy"
          v-clipboard="() => data.invite_code"
          v-clipboard:success="copy"
        >
          <p>{{ data.invite_code }}</p>
          <img class="copy_img" src="../img/user/copy.png" />
        </div>
      </div>
    </div> -->

    <div class="block_div flex_center money1" v-if="false">
      <div>
        <p @click="showMsg()">
          {{ $t("user.fundingAccount") }}
          <van-icon name="question-o" size="14" style="left: 2px; top: 1px" />
        </p>
        <p>
          {{ common.currency_symbol_basic()
          }}{{ common.precision_basic(fundBalanceUsd) }}
        </p>
        <p class="money_usd">
          ≈ {{ common.precision(fundBalance) }} ({{ currency }})
        </p>
      </div>
      <div class="recharge">
        <p @click="$router.push('/recharge')">{{ $t("user.recharge") }}</p>
        <p @click="$router.push('/withdraw')">{{ $t("user.withdraw") }}</p>
      </div>
    </div>

    <div class="block_div flex_center user_yw" v-if="false">
      <!-- <div @click="$router.push('/invest/record')">
        <img src="../img/user/order.png" alt="" />
        <p>{{ $t("user.inviteRecord") }}</p>
      </div> -->

      <!-- 资金记录和客服 -->
      <div @click="$router.push('/funding/record')">
        <img src="../img/user/details.png" alt="" />
        <p>{{ $t("user.fundingDetails") }}</p>
      </div>

      <div @click="$router.push('/service')">
        <img src="../img/user/kf.png" alt="" />
        <p>{{ $t("user.onlineService") }}</p>
      </div>
    </div>

    <div class="list">
      <van-cell
        is-link
        v-for="(item, index) in menus1"
        :key="index"
        @click="$router.push(item.url)"
      >
        <template #title>
          <img
            :class="{ last: index == menus1.length - 1 }"
            :src="require('../../assets/imgs/' + item.logo)"
            alt=""
          />
          <span class="custom-title">{{ $t(item.title) }}</span>
        </template>
      </van-cell>
    </div>

    <!-- <div class="block_div list">
      <van-cell
        is-link
        v-for="(item, index) in menus2"
        :key="index"
        @click="$router.push(item.url)"
      >
        <template #title>
          <img :src="require('../img/' + item.logo)" alt="" />
          <span class="custom-title">{{ item.title }}</span>
        </template>
      </van-cell>
    </div> -->

    <div>
      <div class="logout_btn" @click="logout">
        {{ $t("user.signOut") }}
      </div>
    </div>

    <!-- <div class="ADD">123</div> -->

    <!--红包弹出层 -->
    <van-dialog
      v-model="show"
      :closeOnClickOverlay="true"
      :showConfirmButton="false"
      style="width: 50%"
    >
      <div class="popup icon hbbg" @click="openRed()">
        <div class="btn">{{ $t("new.ljkq") }}</div>
      </div>
    </van-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import qs from "qs";
import Fetch from "../../utils/fetch";
import Api from "../../interface/index";
import Clipboard from "v-clipboard";
import { Icon, Cell, CellGroup } from "vant";

Vue.use(Cell).use(CellGroup).use(Icon).use(Clipboard);

export default {
  name: "user",
  components: {},
  data() {
    return {
      fjUrl: "",
      // isLang: this.$i18n.locale,
      show: false,
      list: [
        {
          name: "new.fjqz",
          icon: "fj",
          url: "",
        },
        {
          name: "new.yeb",
          icon: "ye",
          url: "/remainingMoney",
        },
        {
          name: "new.jfsc",
          icon: "jf",
          url: "/exchange",
        },
        {
          name: "new.kq",
          icon: "kq",
          url: "/cardList",
        },
        // {
        //   name: "new.wddd",
        //   icon: "wd",
        //   url: "/myOrder",
        // },
        {
          name: "user.inviteRecord",
          icon: "wd",
          url: "/invest/record",
        },
        {
          name: "user.vip",
          icon: "hy",
          url: "/vip",
        },
        {
          name: "user.certificationCenter",
          icon: "sm",
          url: "/auth",
        },
        {
          name: "new.aqzx",
          icon: "aq",
          url: "/safeCenter",
        },
      ],
      currency: "",
      menus1: [
        // 投资记录
        // {
        //   title: "user.inviteRecord",
        //   value: "",
        //   logo: "touzjl.png",
        //   url: "/invest/record",
        // },
        {
          // title: "new.symx",
          title: "user.fundingDetails",
          value: "",
          logo: "shouyi.png",
          url: "/revenueDetails",
        },
        {
          title: "user.withdrawAccount",
          value: "",
          logo: "yhk.png",
          url: "/wallet",
        },
        {
          title: "new.shdz",
          value: "",
          logo: "shdz.png",
          url: "/shippingAddress",
        },
        {
          title: "user.languagePreference",
          value: "",
          logo: "yuyan1.png",
          url: "/language",
        },
        {
          title: "new.gywm",
          value: "",
          logo: "gywm.png",
          url: "/adoutUs",
        },

        // 这里下面的几项没有确定是否保留？
        {
          title: "user.faq",
          value: "",
          logo: "q.png",
          url: "/questions",
        },
        // {
        //   title: this.$t("savings.savings"),
        //   value: "",
        //   logo: "yuyan.png",
        //   url: "/savings",
        // },
        // {
        //   title: this.$t("user.rewards"),
        //   value: "",
        //   logo: "yuyan.png",
        //   url: "/rewards",
        // },
        // {
        //   title: this.$t("user.fundingDetails"),
        //   value: "",
        //   logo: "yuyan.png",
        //   url: "/funding/record",
        // },

        // 充值提现
        // {
        //   title: this.$t("user.rechargeRecord"),
        //   value: "",
        //   logo: "user/recharge.png",
        //   url: "/recharge/record",
        // },
        // {
        //   title: this.$t("user.withdrawRecord"),
        //   value: "",
        //   logo: "user/cash.png",
        //   url: "/withdraw/record",
        // },
      ],
      data: {
        money: 0,
        total_income: 0,
        be_income: 0,
        integrals: 0,
      },
      fundBalance: 0.0,
      fundBalanceUsd: 0.0,
      savings: 0.0,
      eye: 1,
    };
  },
  computed: {
    // toFixed() {
    //   return (value) => {
    //     value = value ? value : 0;
    //     return Number(value);
    //   };
    // },
    ktx() {
      return (value) => {
        return isNaN(Number(value.money) - Number(value.frozen_money))
          ? "0"
          : Number(value.money) - Number(value.frozen_money);
      };
    },
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#051C3F");
      plus.navigator.setStatusBarStyle("light");
    }
    this.$parent.footer("user");
    this.getFjUrl();
  },
  mounted() {
    this.start();
  },
  methods: {
    async getFjUrl() {
      const res = await this.$Fetch("/index/service_list");
      this.fjUrl = res.data.list[1].url;
    },
    toPage(item) {
      if (!item.url) {
        // 飞机群组跳转外部链接
        this.$openUrl(this.fjUrl);
        return;
      }
      this.$router.push(item.url);
    },
    isShowRed() {
      Fetch("/index/redEnvelope").then((res) => {
        if (res.code == 1) {
          // 判断是否开启红包弹窗
          // let isReceive = localStorage.getItem("isReceive") || 0;
          //用户领过了就不需要再弹出了

          let set = res.data.set;
          let dateTime = new Date().getHours();
          let isEnter = false;
          // 是否在返回的时间段内
          if (set.start <= dateTime && dateTime <= set.end) {
            isEnter = true;
          }
          // console.log("dateTime", dateTime, isEnter);

          this.show = Boolean(
            set.show && !set.count && isEnter && set.num > set.total
          ); //(1&&!0) 弹出

          // console.log("this.show", this.show);
          // setTimeout(() => {
          //   this.$router.push("/redList");
          // }, 2000);
        }
      });
    },
    // 领取红包
    openRed() {
      Fetch("/user/receive").then((res) => {
        if (res.code == 1) {
          this.$toast(this.$t("new.lqcg"));
          this.start(); //领取成功刷新余额
          this.show = false;
          // localStorage.setItem("isReceive", 1);
          // 领取之后提示成功跳转到记录
          // setTimeout(() => {
          //   this.$router.push("/redList");
          // }, 2000);
        }
      });
    },
    copy() {
      this.$toast(this.$t("recharge.copySuccess"));
    },
    showMsg() {
      this.$dialog
        .alert({
          closeOnClickOverlay: true,
          showConfirmButton: false,
          message:
            "<p style='text-align: left'>" +
            this.$t("user.fundingTips") +
            "</p>",
        })
        .catch(() => {
          // on close
        });
    },
    start() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      Fetch("/user/info", {
        isapp: isapp,
      }).then((r) => {
        this.data = r.data;
        this.fundBalance = r.data.fundBalance;
        this.fundBalanceUsd = r.data.fundBalanceUsd;
        this.menus1[0]["value"] = r.data.vip_name;
        this.currency = r.data.currency;
      });
      this.isShowRed();
    },
    logout() {
      localStorage.removeItem("token");
      // sessionStorage.clear(); //清除弹窗标识
      this.$router.replace("/");
    },
  },
};
</script>

<style lang="less" scoped>
// @import "../../assets/font/stylesheet.css";
::v-deep .van-dialog {
  background-color: transparent;
}
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.popup {
  // padding: 100px 15px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #999999;
  line-height: 24px;
  padding-top: 65px;
  text-align: center;
  .btn {
    font-size: 16px;
    font-weight: bold;
    color: #ff4444;
  }
}
.lists {
  flex-wrap: wrap;
  padding: 0 10px 10px;
  border-bottom: 10px solid #f5f5f5;
  .list-item {
    width: 25%;
    text-align: center;
    &.dk {
      width: 50%;
    }

    .icon {
      margin: 20px auto 10px;
    }
    .name {
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
      &.font12 {
        font-size: 12px;
      }
    }
  }
}
.bg {
  height: 235px;
  background: #6270ff;
  .head {
    .title {
      font-size: 16px;
      color: #fff;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-weight: bold;
    }
  }
  .user-box {
    padding: 20px 10px;
    .user {
      width: 70px;
      height: 70px;
      // border: 1px solid #ffffff;
      // border-radius: 50%;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        // border-radius: 50%;
      }
    }
    .user-name {
      font-size: 18px;
      font-family: PingFang-SC-Bold PingFang SC;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 5px;
    }
    .bgs {
      flex-wrap: wrap;
    }
    .td-bg {
      background: linear-gradient(90deg, #ffe242, #ffc742);
      border-radius: 7px 11px 11px 3px;
      padding: 5px;
      margin-right: 5px;
      font-size: 12px;
      font-weight: 500;
      color: #2c3bdb;
      margin: 5px 5px 0 0;
    }
    .dj-bg {
      background: linear-gradient(90deg, #42d5ff, #42baff);
      border-radius: 7px 11px 11px 3px;
      padding: 5px;
      font-size: 12px;
      font-weight: 500;
      color: #ffffff;
      margin: 5px 0 0;
    }
  }
}

.info {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
  // box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  margin: -70px 10px 0;
  padding: 15px 10px;
  line-height: 30px;
  .txt {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #666666;
  }
  .num {
    font-size: 24px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #2333d1;
  }
  .num1 {
    font-size: 24px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #ff4444;
  }
  .mtb10 {
    margin: 10px 0;
    .titles {
      div {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #999999;
      }
      &.font12 {
        div {
          font-size: 12px;
        }
      }
    }
    .nums {
      div {
        font-size: 20px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #333333;
      }
    }
  }
  .cz-box {
    .t-center {
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #ffffff;
    }
  }
}

.user_wrap {
  margin-bottom: 60px;
}

.red_top_bg {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #051c3f;
  box-shadow: unset;
  .big_tit {
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
  }

  .msg {
    position: absolute;
    top: 12px;
    right: 15px;

    img {
      width: 22px;
      height: 22px;
    }
  }
}
.top_header_bg {
  background: #051c3f;
  width: 100%;
  height: 208px;
}

.top_header {
  position: relative;
  justify-content: space-between;
  margin-top: -168px;
  border-radius: 5px 5px 0 0;
  box-shadow: unset;
  color: #ffffff;
  position: fixed;
  z-index: 10;
  background: #051c3f;
  width: 100%;
  margin-left: unset;

  .user_detail {
    // width: 100%;
    padding: 28px 15px 22px 20px;
    top: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .user_header {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid rgba(255, 255, 255, 0.3);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .user_name {
      margin-left: 3px;
      margin-top: 3px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .user_all {
        // display: flex;
        // justify-content: flex-start;
        // align-items: center;

        .user_nickname {
          line-height: 21px;
          font-size: 18px;
          font-weight: bold;
          margin-top: 2px;
        }

        img {
          width: 22px;
          border-radius: 50%;
          margin-right: 3px;
        }

        .auth {
          justify-content: unset;
          margin-top: 3px;
        }

        .active {
          border: 2px solid #ffeb3b;
        }
      }
    }
  }

  .invite_code {
    margin-right: 30px;
    text-align: center;

    .invite_tips {
      color: #999;
      margin-bottom: 10px;
    }

    .copy {
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;

      .copy_img {
        width: 14px;
        height: 14px;
        margin-left: 2px;
      }
    }
  }
}

.user_yw {
  position: relative;
  padding: 15px 0;
  margin-bottom: 10px;
  justify-content: space-between;
  text-align: center;

  div {
    width: 33.33%;
  }

  p {
    margin-top: 8px;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.money1 {
  margin-bottom: 10px;
  //   margin-top: -55px;
  padding: 15px;
  justify-content: space-between;

  div:nth-child(1) {
    p:nth-child(1) {
      color: #999;
      margin-bottom: 10px;
    }

    p:nth-child(2) {
      font-size: 18px;
      font-weight: bold;
    }
  }

  div:nth-child(2) {
  }

  .money_usd {
    margin-top: 10px;
    color: #999;
  }

  .recharge {
    margin-top: 10px;

    p {
      padding: 5px 10px;
      background: #3775f4;
      margin: 0 10px 8px 0;
      color: #ffffff;
      border-radius: 8px;
    }

    p:nth-child(2) {
      background: #ff5722;
    }
  }
}

.list {
  //   margin-top: 10px;
  .custom-title {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
  }

  img {
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .last {
    height: 22px;
    width: 22px;
    margin-right: 7px;
  }
}

.logout_btn {
  min-width: 50%;
  max-width: 80%;
  margin: 20px auto;
  background: #e6e6e6;
  border-radius: 20px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #999999;
  padding: 15px 0;
  text-align: center;
}

/deep/ .van-cell {
  background: unset;
  color: #333;
  padding: 10px;
  border: none;
}
::v-deep .van-cell__right-icon {
  color: #666666;
}
::v-deep .van-cell::after {
  display: none;
}
</style>
