<template>
  <div class="icon yqbg">
    <top-back title="" :isWhite="true"></top-back>

    <div>
      <div class="yq">
        {{ $t("new.yqhy") }}
      </div>

      <div class="wd">
        {{ $t("new.wdyq") }}
      </div>
      <div class="num">{{ code }}</div>
      <!-- <div class="btn" v-clipboard="() => code" v-clipboard:success="copy"> -->
      <div class="btn" v-clipboard="copyLink" v-clipboard:success="copy">
        {{ $t("copy") }}
      </div>
    </div>

    <div class="icon qrbg">
      <div class="txt">{{ $t("new.yqqr") }}</div>

      <div class="qr">
        <!-- <img src="../img/home/vip.png" /> -->
        <qr-code @getCode="getCode($event)"></qr-code>
      </div>

      <!-- <div class="btn">{{ $t("new.bcqr") }}</div> -->
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import qrCode from "../../components/qrCode.vue";
import Clipboard from "v-clipboard";
import h5CommonUrl from '../../interface/index';
Vue.use(Clipboard);
export default {
  name: "inviteFriends",
  props: {},
  data() {
    return {
      code: "",
      h5CommonUrl: h5CommonUrl,
    };
  },
  components: { qrCode },
  methods: {
    getCode(e) {
      // 邀请码在qrCode子组件中获取了
      this.code = e;
    },
    copyLink() {
      this.$toast(this.$t("recharge.copySuccess"));
      const urlString = h5CommonUrl.h5CommonUrl;
      // console.log(commonUrlString,776);
      return urlString+`/#/register?code=${this.code}`;
      
    },
    // copy() {
    //   this.$toast(this.$t("recharge.copySuccess"));
    // },
  },
  created() {
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.btn {
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 20px;
  padding: 10px 0;
  width: 40%;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 15px auto;
}

.yqbg {
  position: relative;
  .qrbg {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 30px;
    .txt {
      font-size: 14px;
      font-weight: 500;
      color: #333333;
    }
    .qr {
      margin: 15px 0;
      img {
        width: 162px;
        height: 162px;
      }
    }
  }
  .yq {
    // margin-top: 10px;
    // font-size: 36px;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    //  font-family: FZZhengHeiS-EB-GB;
    // font-weight: 400;
    // text-shadow: 0px 5px 10px rgba(74, 0, 154, 0.8);
    // -webkit-text-stroke: 1px #7317d2;
    // text-stroke: 1px #7317d2;
    // background: linear-gradient(0deg, #ffffff 0%, #d9a7fc 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    // font-size: 40px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #333333;
    -webkit-text-stroke: 1px #7317d2;
    text-stroke: 1px #7317d2;
    background: linear-gradient(0deg, #ffffff 0%, #d9a7fc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: PingFang SC;
  }
  .wd {
    width: 40%;
    background: #7880fc;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin: 15px auto;
  }
  .num {
    font-size: 36px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #333333;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
    background: linear-gradient(0deg, #6f17c8 0.634765625%, #b266ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: PingFang SC;
  }
}
</style>
