<template>
  <div class="basic_wrap pad-top">
    <!-- <bsHeader :title="$t('user.languagePreference')" @backurl="$router.back()"></bsHeader> -->
    <top-back title="user.languagePreference"></top-back>
    <div class="wrap_box">
      <div
        v-for="(item, index) in languages"
        class="flex_center item"
        @click="changeLang(item.country, $event)"
      >
        <div class="left flex_center">
          <div><img :class="{ last: index == 3 }" :src="item.logo" /></div>
          <div class="info">{{ item.country_loc }}</div>
        </div>
        <!-- <div v-if="lang == item.country">✓</div> -->
        <div class="gou" :class="{ active_gou: lang == item.country }">
          <!-- <span>√</span> -->
          •
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Fetch from "../../utils/fetch";
import bsHeader from "../../components/bsHeader.vue";
import { Toast } from "vant";
export default {
  name: "language",
  components: {
    bsHeader,
  },
  data() {
    return {
      lang: this.$i18n.locale || "vi_vn",
      languages: [],
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
  },
  mounted() {
    this.start();
  },
  methods: {
    start() {
      Fetch("/index/getLanguages").then((r) => {
        this.languages = r.data.list;
        // .map((item, i) => {
        //   // 只保留最前面四种语言 中 英 越 丹麦
        //   if (i <= 3) {
        //     return item;
        //   }
        // })
        // .filter((item) => item);
      });
    },
    changeLang(lang, event) {
      this.lang = lang;
      this.$i18n.locale = lang;
      localStorage.setItem("lang", lang);
      Fetch("/index/changeLang").then((r) => {
        localStorage.setItem("currency", "");
        localStorage.setItem("precision", r.data.precision);
        localStorage.setItem("language_logo", r.data.language_logo);
        this.$router.go(-1);
      });
    },
  },
};
</script>

<style lang="less" scoped>
.wrap_box {
  flex-direction: column;
  align-items: center;
  // padding-top: 55px;
  padding: 10px;
  // border-top:10px solid #f5f5f5;
  .item {
    // height: 50px;
    padding: 15px 10px;
    font-size: 14px;
    // color: rgba(0, 0, 0, 0.8);
    color: #333;
    font-weight: bold;
    // line-height: 20px;
    justify-content: space-between;
    margin-bottom: 10px;

    padding: 15px 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);

    .tips {
      color: rgba(0, 0, 0, 0.6);
      margin-left: auto;
      margin-right: 4px;
      font-weight: normal;
    }

    .gou {
      // padding: 5px;
      background: #dfdfdf;
      color: #ffffff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      text-align: center;
      line-height: 20px;

      &.active_gou {
        background: #7780fc;
      }
    }

    .left {
      img {
        width: 30px;
        height: 30px;
        // margin-top: 5px;
        vertical-align: middle;
        margin-right: 5px;
        border-radius: 50%;
      }
      .info {
        color: #333;
      }
      // 丹麦的图标大了一圈
      .last {
        width: 30px;
        height: 30px;
        padding: 2px;
      }
    }
  }
}
</style>
