<template>
  <div class="basic_wrap icon bg">
    <!-- <div class="back_left" @click="$router.back()">
			<img src="../img/common/back_b.png">
		</div> -->

    <!-- 语言选择 -->
    <div class="language" @click="$router.push('/language')">
      <!-- <img :src="language_logo"> -->
      <div class="flex flex-b">
        <div class="icon lang"></div>
        <div class="txt">{{ langNameList[langKey] }}</div>
        <div class="icon xl"></div>
      </div>
    </div>

    <!-- <div class="logo">
      <img :src="config.logo" />
    </div> -->

    <!-- 欢迎来到 -->
    <div class="titel">
      <div class="t1">Hello！</div>
      <div class="t2">{{ $t("new.welcome") }} {{ webname }}</div>
    </div>

    <div class="form_div icon" :class="tabIndex ? 'regbg' : 'logbg'">
      <!-- 登录注册切换 -->
      <div class="tab flex flex-b">
        <div
          class="tab-item flex-1"
          :class="{ active: !tabIndex }"
          @click="changTab(0)"
        >
          <!-- {{ config.register_phone ? $t("手机登录") : $t("login.username") }} -->
          {{ $t("new.log") }}
        </div>
        <div
          class="tab-item flex-1"
          :class="{ active: tabIndex }"
          @click="changTab(1)"
        >
          {{ $t("new.reg") }}
        </div>
      </div>

      <!-- 登录 -->
      <form class="form" v-if="!tabIndex">
        <!-- 不走判断了，只有手机号登录 -->
        <!-- <div v-if="!config.register_phone" class="item">
          <input
            v-model.trim="data.username"
            type="text"
            class="inp"
            :placeholder="$t('login.username')"
          />
        </div> -->

        <!-- v-if="config.register_phone" -->
        <div class="item">
          <div class="code flex" @click="showCode()">
            <div>{{ country_code }}</div>
            <div class="icon xl"></div>
          </div>
          <input
            v-model.trim="data.username"
            type="number"
            class="inp"
            :placeholder="$t('new.phone')"
          />
        </div>

        <div class="item">
          <input
            v-model.trim="data.password"
            :type="password"
            class="inp"
            :placeholder="$t('new.password1')"
          />
          <div
            class="eye_bi"
            :class="password == 'text' ? 'eye' : ''"
            @click="showPwd"
          />
        </div>
        <div class="item">
          <input
            v-model.trim="data.code"
            type="text"
            class="inp"
            :placeholder="$t('new.code')"
          />
          <img
            style="height: 32px; margin-bottom: 8px"
            :src="verify_img"
            @click="getVerifyCode()"
          />
        </div>
        <div
          class="register_btn"
          :class="
            data.username == '' || data.password == '' || data.code == ''
              ? 'no_touch'
              : ''
          "
          @click="submit"
        >
          {{ $t("new.login") }}
        </div>

        <!-- 忘记密码去掉 -->
        <!-- <div class="tips">
          {{ $t("new.forget") }}
        </div> -->
      </form>

      <!-- 只有手机号注册 -->
      <form class="form" v-if="tabIndex">
        <!-- <div class="item">
					<van-dropdown-menu :overlay="false">
						<van-dropdown-item v-model="value" :options="country_code" />
					</van-dropdown-menu>
					<input v-model.trim="data.phone" type="number" class="inp" :placeholder="$t('login.phone')">
				</div> -->
        <div class="item">
          <div class="code flex" @click="showCode()">
            <div>{{ country_code }}</div>
            <div class="icon xl"></div>
          </div>
          <input
            v-model.trim="datas.phone"
            type="number"
            class="inp"
            :placeholder="$t('new.phone')"
          />
        </div>

        <div class="item flex flex-b" v-if="config.register_phone">
          <input
            v-model.trim="datas.smsCode"
            type="text"
            class="inp"
            :placeholder="$t('new.code')"
          />
          <van-count-down
            :time="time"
            class="btn get_captcha"
            @finish="timeCall"
          >
            <template v-slot="timeData">
              <span class="time_btn" @click="sendCode">{{
                timeData.seconds > 0
                  ? timeData.seconds
                  : $t("auth.sendPhoneCode")
              }}</span>
            </template>
          </van-count-down>
        </div>

        <div class="item">
          <input
            v-model.trim="datas.password"
            :type="passwords"
            class="inp"
            :placeholder="$t('new.password')"
          />
          <div
            class="eye_bi"
            :class="passwords == 'text' ? 'eye' : ''"
            @click="showPwds"
          />
        </div>

        <!-- 重复密码 -->
        <div class="item">
          <input
            v-model.trim="repassword"
            :type="passwordss"
            class="inp"
            :placeholder="$t('new.passwords')"
          />
          <div
            class="eye_bi"
            :class="passwordss == 'text' ? 'eye' : ''"
            @click="showPwdss"
          />
        </div>

        <div class="item">
          <input
            v-if="config.invite_code"
            v-model.trim="datas.invite_code"
            type="text"
            class="inp"
            :placeholder="$t('new.codes')"
          />
          <input
            v-if="!config.invite_code"
            v-model.trim="datas.invite_code"
            type="text"
            class="inp"
            :placeholder="$t('register.inviteCodeOptional')"
          />
        </div>
        <div
          class="register_btn"
          :class="
            datas.phone == '' || datas.smsCode == '' || datas.password == ''
              ? 'no_touch'
              : ''
          "
          @click="submitReg"
        >
          {{ $t("new.reg") }}
        </div>
      </form>
    </div>

    <!-- <div class="login_register">
      <router-link to="/register">
        <div>
          {{ $t("login.registerNow") }}
        </div>
      </router-link>
    </div> -->

    <!-- kefu -->
    <!-- <div class="kefu" :class="show_kefu ? '' : 'kefu_hide'" @click="kefu_to">
      <img class="kefu_img" src="../img/index/kefu.png" />
    </div> -->

    <van-popup v-model="show" round position="bottom">
      <!-- 选择区号 -->
      <van-picker
        title=""
        show-toolbar
        :columns="columns"
        @confirm="onConfirm"
        @cancel="onCancel"
        :confirm-button-text="$t('utils.confirm')"
        :cancel-button-text="$t('utils.cancel')"
        :default-index="defaultIndex"
    /></van-popup>

    <!-- 获取验证码需先验证 -->
    <van-popup
      v-model:show="show_sms_verify"
      :round="true"
      :style="{ width: '90%' }"
    >
      <div class="sms_verify">
        <div>
          <img
            style="height: 40px"
            :src="verify_img"
            @click="getVerifyCode()"
          />
          <br /><input
            v-model.trim="datas.code"
            type="text"
            class="inp"
            :placeholder="$t('auth.charEmpty')"
          />
        </div>
        <div class="btn flex_center">
          <div @click="show_sms_verify = false">{{ $t("utils.cancel") }}</div>
          <div @click="getSmsCode()">{{ $t("utils.confirm") }}</div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import Vue from "vue";
import bsHeader from "../../components/bsHeader.vue";
import { CountDown, Checkbox, Dialog, Popup, Picker } from "vant";
import Fetch from "../../utils/fetch";

Vue.use(CountDown).use(Checkbox).use(Dialog).use(Popup).use(Picker);

export default {
  name: "login",
  components: {
    bsHeader,
  },
  data() {
    return {
      repassword: "",
      defaultIndex: 0,
      country_code: "",
      codeList: [], //默认语言对应显示的code
      show: false,
      columns: [], //弹出层显示的内容
      tabIndex: 0,
      webname: localStorage.getItem("webname"), //欢迎显示网站名称
      langKey: "",
      langNameList: {},
      languages: [],
      show_kefu: false,
      password: "password",
      passwords: "password",
      passwordss: "password",
      loading: false,
      loadings: false,
      data: {
        username: "",
        password: "",
        code: "",
      },
      datas: {
        password: "",
        invite_code: "",
        code: "",
        smsCode: "",
        phone: "",
        country_code: "",
      },
      config: {
        register_phone: 1,
      },
      verify_img: "",
      time: 0,
      is_send: false,
      show_sms_verify: false,
      verify_code: "",
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FAFAFA");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
    this.getparams();
    //
    this.isInviteLogin();
  },

  mounted() {
    if (this.$route.query.agent) {
      localStorage.setItem("agent", this.$route.query.agent);
      this.data.agent = this.$route.query.agent;
    } else {
      if (localStorage.getItem("agent")) {
        this.data.agent = localStorage.getItem("agent");
      }
    }
    var that = this;
    document.body.addEventListener(
      "scroll",
      function () {
        if (!that.show_kefu) {
          return;
        }
        that.show_kefu = false;
      },
      false
    );
    document.addEventListener(
      "click",
      function (ev) {
        if (ev.target.className != "kefu_img") {
          that.show_kefu = false;
        }
      },
      false
    );
    this.start();
    this.getVerifyCode();
  },
  methods: {
    // 如果是邀请链接跳转到login，需要显示注册页面
    isInviteLogin() {
      if (this.$route.query.invite_code) {
        this.tabIndex = 1; //切换到注册

        // 邀请码赋值默认值
        this.datas.invite_code = this.$route.query.invite_code;
      }
    },
    timeCall() {
      this.is_send = false;
      this.time = 0;
    },
    // 显示发送验证码的 弹出层
    sendCode() {
      this.verify_code = "";
      if (this.is_send) {
        return false;
      }
      if (!this.datas.phone) {
        this.$toast(this.$t("auth.phoneEmpty"));
        return false;
      }
      if (this.datas.phone.length < 6 || this.datas.phone.length > 16) {
        this.$toast(this.$t("auth.phoneError"));
        return;
      }
      this.show_sms_verify = true;
    },
    //弹出层确定发送验证码
    getSmsCode() {
      if (this.is_send) {
        return false;
      }
      if (!this.datas.phone) {
        this.$toast(this.$t("auth.phoneEmpty"));
        return false;
      }
      if (this.datas.phone.length < 6 || this.datas.phone.length > 16) {
        this.$toast(this.$t("auth.phoneError"));
        return;
      }
      if (!this.datas.code) {
        this.$toast(this.$t("auth.charEmpty"));
        return false;
      }
      this.is_send = true;
      Fetch("/user/getSmsCode", {
        phone: this.datas.phone,
        country_code: this.country_code,
        verify_code: this.datas.code,
      })
        .then(() => {
          this.show_sms_verify = false;
          this.time = 60 * 1000;
          this.$toast({
            background: "#07c160",
            message: this.$t("auth.sendsuccess"),
          });
        })
        .catch(() => {
          this.is_send = false;
          this.show_sms_verify = false;
          this.getVerifyCode();
        });
    },
    showCode() {
      // 默认选中项
      this.defaultIndex = this.columns.indexOf(this.country_code);
      this.show = true;
    },
    onConfirm(value) {
      //   this.value = value;
      this.country_code = value;
      this.show = false;
    },
    onCancel() {
      this.show = false;
    },
    changTab(value) {
      this.tabIndex = value;
    },
    start() {
      // 获取配置
      Fetch("/index/getWebInfo").then((r) => {
        // r.data.register_phone = 1; //0 用户名登录,1 手机号登录
        this.config = r.data;
      });
      // 获取语言列表
      Fetch("/index/getLanguages").then((r) => {
        this.languages = r.data.list;
        let arr = [];
        // 获取选择语言的显示内容
        r.data.list.forEach((item) => {
          this.langNameList[item.country] = item.country_loc;
          arr.push(item.country_code);
          this.codeList[item.country] = item.country_code;
        });

        this.columns = [...new Set(arr)];
        // console.log(this.columns)

        this.langKey = localStorage.getItem("lang") || "zh_cn";
        // console.log('this.langKey',this.langKey)
        // 默认显示语言对应的 code
        this.country_code = this.codeList[this.langKey];
      });
    },
    kefu_to() {
      if (this.show_kefu) {
        this.$router.push("/service");
      }
      this.show_kefu = !this.show_kefu;
    },
    showPwd() {
      if (this.password == "password") {
        this.password = "text";
      } else {
        this.password = "password";
      }
    },

    showPwds() {
      if (this.passwords == "password") {
        this.passwords = "text";
      } else {
        this.passwords = "password";
      }
    },
    showPwdss() {
      if (this.passwordss == "password") {
        this.passwordss = "text";
      } else {
        this.passwordss = "password";
      }
    },

    getparams() {
      var m = this.$route.query.m;
      this.data.t_mobile = m;
    },
    submit() {
      if (this.loading) {
        return false;
      }
      //数字、字母或下划线
      var reg1 = /^[0-9a-zA-Z_]{1,}$/;
      //非手机号注册判断
      if (!this.config.register_phone) {
        if (!this.data.username) {
          this.$toast(this.$t("login.usernameEmpty"));
          return false;
        }
        if (!reg1.test(this.data.username)) {
          this.$toast(this.$t("login.usernameLimit"));
          return false;
        }
        if (this.data.username.length > 16 || this.data.username.length < 4) {
          this.$toast(this.$t("login.usernameLength"));
          return false;
        }
      }
      //手机号注册判断
      else {
        if (!this.data.username) {
          this.$toast(this.$t("auth.phoneEmpty"));
          return false;
        }
        if (this.data.username.length < 6 || this.data.username.length > 16) {
          this.$toast(this.$t("auth.phoneError"));
          return;
        }
      }

      if (!this.data.password) {
        this.$toast(this.$t("login.passwordEmpty"));
        return false;
      }
      if (!reg1.test(this.data.password)) {
        this.$toast(this.$t("login.passwordLimit"));
        return false;
      }
      if (this.data.password.length > 16 || this.data.password.length < 6) {
        this.$toast(this.$t("login.passwordLength"));
        return false;
      }
      if (!this.data.code) {
        this.$toast(this.$t("login.codeEmpty"));
        return false;
      }
      this.loading = true;
      Fetch("/index/login", {
        ...this.data,
        country_code: this.country_code,
      })
        .then((res) => {
          if (res.data.token) {
            localStorage.setItem("token", res.data.token);
          }
          this.$toast(this.$t("login.loginSuccess"));
          this.$router.replace("/");
        })
        .catch((res) => {
          this.getVerifyCode();
          this.loading = false;
        });
    },
    getVerifyCode() {
      Fetch("/index/captcha").then((r) => {
        this.verify_img = r.data.image;
      });
    },
    // 注册提交
    submitReg() {
      if (this.loadings) {
        return false;
      }
      //数字、字母或下划线
      var reg1 = /^[0-9a-zA-Z_]{1,}$/;
      if (!this.datas.phone) {
        this.$toast(this.$t("auth.phoneEmpty"));
        return false;
      }
      if (this.datas.phone.length < 6 || this.datas.phone.length > 16) {
        this.$toast(this.$t("auth.phoneError"));
        return;
      }

      // register_phone 为1是手机号注册，才需要验证码smsCode和图形验证码code
      if (this.config.register_phone) {
        if (!this.datas.code) {
          this.$toast(this.$t("login.codeEmpty"));
          return false;
        }

        if (!this.datas.smsCode) {
          this.$toast(this.$t("login.codeEmpty"));
          return false;
        }
      } else {
        // 如果不是手机号注册不提交这俩
        delete this.datas.smsCode;
        delete this.datas.code;
      }

      this.datas.country_code = this.country_code;

      if (!this.datas.password) {
        this.$toast(this.$t("login.passwordEmpty"));
        return false;
      }
      if (!reg1.test(this.datas.password)) {
        this.$toast(this.$t("login.passwordLimit"));
        return false;
      }
      if (this.datas.password.length > 16 || this.datas.password.length < 6) {
        this.$toast(this.$t("login.passwordLength"));
        return false;
      }
      if (this.repassword !== this.datas.password) {
        this.$toast(this.$t("new.repassword"));
        return false;
      }

      if (this.config.invite_code && !this.datas.invite_code) {
        this.$toast(this.$t("register.inviteCodeEmpty"));
        return false;
      }

      this.loadings = true;
      Fetch("/index/register", {
        ...this.datas,
      })
        .then((res) => {
          if (res.data.token) {
            localStorage.setItem("token", res.data.token);
          }
          this.$toast(this.$t("register.registerSuccess"));
          this.$router.replace("/");
        })
        .catch((res) => {
          this.getVerifyCode();
          this.loadings = false;
        });
    },
  },
};
</script>

<style lang="less" scoped>
.basic_wrap {
  position: relative;
  width: 100%;
  padding-top: 100px;

  .titel {
    font-family: PingFang-SC-Bold PingFang SC;
    color: #606fff;
    font-weight: bold;
    padding: 0 35px;
    .t1 {
      font-size: 40px;
    }
    .t2 {
      margin-top: 16px;
      font-size: 18px;
    }
  }

  .tab {
    .tab-item {
      font-size: 14px;
      font-family: PingFang-SC-Medium PingFang SC;
      font-weight: 500;
      color: #606fff;
      opacity: 0.78;
      position: relative;
      padding: 10px 0;
      text-align: center;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 14px;
        height: 2px;
        background: transparent;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1px;
      }
      &.active {
        font-size: 16px;
        &::after {
          background: #606fff;
        }
      }
    }
  }
}

.form_div {
  position: relative;
  margin: 45px auto 0;
  padding: 10px 10px 30px;
  .form {
    padding-top: 30px;

    .item {
      height: 45px;
      line-height: 45px;
      font-size: 14px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-bottom: 20px;
      border-radius: 25px;
      background: #f0f2fb;
      border-radius: 20px;
      padding: 0 15px;
      .code {
        margin-right: 5px;
      }

      input {
        height: 45px;
        flex: 1;
        color: #303133;
        font-size: 14px;
        &::placeholder {
          font-size: 12px;
          color: #244dc6;
          opacity: 0.5;
        }
      }

      .get_captcha {
        line-height: 45px;
        .time_btn {
          // height: 24px;
          background: #ffffff;
          border-radius: 10px;
          padding: 5px;
          font-size: 12px;
        }
      }

      .eye_bi {
        margin-bottom: 12px;
      }
    }

    .register_btn {
      background: linear-gradient(90deg, #606fff, #7a82fc);
      border-radius: 25px;
      color: #ffffff;
      height: 52px;
      text-align: center;
      line-height: 52px;
      font-size: 20px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: #ffffff;
      margin: 20px 0;
    }
    .tips {
      text-align: center;
      font-family: PingFang-SC-Medium;
      font-size: 14px;
      color: #244dc6;
      //   margin-top: 20px;
      opacity: 0.8;
    }
  }
}

.back_left {
  background: unset;

  img {
    width: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
  }
}

.language {
  position: absolute;
  top: 40px;
  right: 16px;
  height: 18px;
  z-index: 11;
  .txt {
    margin: 0 5px;
    color: #333333;
    font-size: 16px;
  }

  //   img {
  //     height: 100%;
  //   }
}

.logo {
  margin: 50px 0 0 30px;

  img {
    height: 80px;
  }
}

.sms_verify {
  padding: 20px 20px 0 20px;

  input {
    margin-top: 15px;
    height: 20px;
    font-size: 16px;
    width: 100%;
  }

  .btn {
    margin-top: 15px;
    justify-content: space-around;
    // color: #ee0a24;
    height: 48px;
    font-size: 16px;
    border-top: 1px solid #ebedf0;

    div {
      width: 50%;
      text-align: center;
    }

    div:nth-child(1) {
      border-right: 1px solid #ebedf0;
    }
  }
}

.login_register {
  position: relative;
  top: -60px;
  font-size: 14px;
  margin-left: 50px;
}

/deep/ .van-dropdown-menu__bar {
  background-color: unset;
  box-shadow: unset;
  height: 50px;
  margin-right: 10px;
}

/deep/ .van-popup--top {
  left: 5%;
  width: 30%;
}
</style>
