<template>
  <!-- 账单明细 -->
  <div class="main">
    <top-back ></top-back>
    <div  class="zdmx">
      <!-- <top-back title="new.zdmx"></top-back> -->
      {{$t("new.zdmx")}}
    </div>

    <div class="fixed">
      <div class="tab flex flex-b">
        <div
          class="item flex-1"
          :class="{ active: tabIndex == 0 }"
          @click="changTab(0)"
        >
          {{ $t("user.rechargeRecord") }}
        </div>
        <div
          class="item flex-1"
          :class="{ active: tabIndex == 1 }"
          @click="changTab(1)"
        >
          {{ $t("user.withdrawRecord") }}
        </div>
      </div>
    </div>

    <div class="list">
      <van-list
        v-model="loading"
        loading-text=" "
        offset="0"
        :finished="finished"
        @load="onLoad"
        v-if="list.length"
      >
        <div class="list-item" v-for="(item, index) in list" :key="index">
          <div class="flex flex-b mb15">
            <p class="title">
              {{ tabIndex ? item.wname : item.name }}
            </p>

            <div class="num">
              {{ tabIndex ? "-" : "+" }}{{ $thousands(item.money || 0) }} VND
            </div>
          </div>
          <div class="flex flex-b">
            <p class="time">
              {{ item.act_time ? item.act_time : item.time }}
            </p>

            <div class="status">
              <p
                class="color_blue"
                v-if="item.status == 0 || item.status == 3 || item.status == 4"
              >
                {{ $t("tabs.pending") }}
              </p>
              <p class="color_green" v-if="item.status == 1">
                {{ $t("tabs.done") }}
              </p>
              <p class="color_red" v-if="item.status == 2">
                {{ $t("tabs.fail") }}
              </p>
            </div>
          </div>
        </div>
      </van-list>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Fetch from "../../utils/fetch";
export default {
  name: "moneyRecord",
  props: {},
  data() {
    return {
      tabIndex: Number(this.$route.query.type) || 0,
      currency_symbol_basic: localStorage.getItem("currency_symbol_basic"),
      data: [],
      empty: false,
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 8,
    };
  },
  components: {},
  methods: {
    changTab(value) {
      this.tabIndex = value;
      this.sort();
    },

    precision(money) {
      var precision = localStorage.getItem("precision");
      return (money / 1).toFixed(precision);
    },
    precision_basic(money) {
      var precision = localStorage.getItem("precision_basic");
      return (money / 1).toFixed(precision);
    },

    sort() {
      this.page = 1;
      this.empty = false;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      let type = "";
      switch (this.tabIndex) {
        case 0:
          type = "rechargeRecord";
          break;
        case 1:
          type = "withdrawRecord";
          break;
      }

      Fetch(`/user/${type}`, {
        page: this.page,
        listRows: this.listRows,
      }).then((r) => {
        if (r.data.length == 0) this.empty = true;
        var list = r.data.list;
        for (var i = 0; i < list.length; i++) {
          this.list.push(list[i]);
        }
        if (this.list.length >= r.data.length) {
          this.finished = true;
          return;
        }
        this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
  created() {
    this.changTab(this.tabIndex);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.main {
  padding-top: 116px;
}
.zdmx {
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 16px;
}

.tab {
  margin-top: 50px;
  width: 100%;
  padding: 10px 10px;
  //position: fixed;
  top: 50px;
  z-index: 99;
  background-color: #fff;
  .item {
    margin: 0 10px;
    background: #e0e0e0;
    border-radius: 18px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    text-align: center;
    &.active {
      background: linear-gradient(90deg, #606fff, #7a82fc);
      color: #ffffff;
    }
  }
  border-bottom: 10px solid #f5f5f5;
}
.list {
  padding: 10px;
  .list-item {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    .mb15 {
      margin-bottom: 15px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .num {
      font-size: 12px;
      font-weight: bold;
      color: #333333;
    }
    .time {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
    .status {
      font-size: 14px;
      font-weight: bold;

      .color_red {
        color: #fa0302;
      }
      .color_green {
        color: #3ab370;
      }
    }
  }
}
</style>
