<template>
  <div class="main">
    <top-back title="new.wddd"></top-back>
    <div class="list">
      <van-list
        v-model="loading"
        loading-text=" "
        offset="0"
        :finished="finished"
        @load="onLoad"
        v-if="list.length"
      >
        <!-- :finished-text="$t('utils.noData')" -->
        <div class="list-item" v-for="(item, index) in list" :key="index">
          <div class="flex flex-b mb15">
            <p class="title">
              {{ item.wname }}
              <span v-if="item.status == 2">
                <br /><br /><span class="color_red">{{
                  $t("withdraw.withdrawFailTips")
                }}</span>
              </span>
            </p>

            <div class="num">
                1000.00 美元
              <!-- <p class="num">
                {{ currency_symbol_basic }}{{ precision_basic(item.money) }}
                <span class="money_usd num" v-if="item.wtype != 1"
                  >≈ {{ common.precision(item.money2) }}
                  {{ item.currency }}</span
                >
                <span class="money_usd num" v-if="item.wtype == 1"
                  >≈ {{ common.precision_basic(item.money) }} USDT</span
                >
              </p> -->
            </div>
          </div>
          <div class="flex flex-b">
            <p class="time">{{ item.act_time }}</p>

            <div class="status">
              {{ $t("new.gmje") }}
              <!-- <p
                class="color_blue"
                v-if="item.status == 0 || item.status == 3 || item.status == 4"
              >
                {{ $t("tabs.pending") }}
              </p>
              <p class="color_green" v-if="item.status == 1">
                {{ $t("tabs.done") }}
              </p>
              <p class="color_red" v-if="item.status == 2">
                {{ $t("tabs.fail") }}
              </p> -->
            </div>
          </div>
        </div>
      </van-list>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Fetch from "../../utils/fetch";
export default {
  name: "myOrder",
  props: {},
  data() {
    return {
      currency_symbol_basic: localStorage.getItem("currency_symbol_basic"),
      data: [],
      empty: false,
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 8,
    };
  },
  components: {},
  methods: {
    precision(money) {
      var precision = localStorage.getItem("precision");
      return (money / 1).toFixed(precision);
    },
    precision_basic(money) {
      var precision = localStorage.getItem("precision_basic");
      return (money / 1).toFixed(precision);
    },
    // 目前用的是提现记录的数据，后面对接口修改？

    sort() {
      this.page = 1;
      this.empty = false;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      Fetch(`/user/withdrawRecord`, {
        page: this.page,
        listRows: this.listRows,
      }).then((r) => {
        if (r.data.length == 0) this.empty = true;
        var list = r.data.list;
        for (var i = 0; i < list.length; i++) {
          this.list.push(list[i]);
        }
        if (this.list.length >= r.data.length) {
          this.finished = true;
          return;
        }
        this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
  created() {
    this.sort();
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.main {
  padding-top: 50px;
}

.list {
  padding: 10px;
  border-top: 10px solid #f5f5f5;
  .list-item {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    // line-height:30px;
    .mb15 {
      margin-bottom: 15px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .num {
      font-size: 16px;
      font-weight: bold;
      color: #1eaf2c;
    }
    .time {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
    .status {
      font-size: 14px;
      font-weight: 500;
      color: #666666;
    }
  }
}
</style>
