<template>
  <div class="pad-top">
    <top-back title="new.kefu"></top-back>
    <div class="cot">
      <iframe :src="url" width="100%" height="100%"></iframe>
      <!-- scrolling='no'页面高度固定，不显示滚动条 -->
    </div>
  </div>
</template>

<script>
export default {
  name: "onlineService",
  props: {},
  data() {
    return {
      url: "",
    };
  },
  components: {},
  methods: {},
  created() {
    this.url = JSON.parse(this.$route.query.url);
    // this.url ="https://www.google.com.hk/webhp?hl=zh-CN&sourceid=cnhp&gws_rd=ssl";
    // console.log("this.url", this.url);
    this.$parent.footer("kefu", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.cot {
  width: 100%;
  height: calc(100vh - 50px);
}
</style>
