<template>
  <div class="basic_wrap pad-top">
    <!-- <bsHeader :title="$t('user.faq')" @backurl="$router.back()"></bsHeader> -->
    <top-back title="user.faq"></top-back>
    <div class="wrap_box">
      <div>
        <van-cell
          class="item"
          is-link
          v-for="(item, index) in data"
          :key="index"
          @click="$router.push('article/' + item.id)"
        >
          <template #title>
            <div class="flex">
              <div class="icon" :class="item.icon"></div>
              <div class="txt">{{ item.title }}</div>
            </div>
          </template>
        </van-cell>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import bsHeader from "../../components/bsHeader.vue";
import Fetch from "../../utils/fetch";
import { Cell, CellGroup } from "vant";
Vue.use(Cell).use(CellGroup);
export default {
  name: "",
  components: {
    bsHeader,
  },
  data() {
    return {
      data: [],
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
  },
  mounted() {
    Fetch("/index/questions").then((r) => {
      this.data = r.data.list;
      this.data.forEach((item, i) => {
        item.icon = `q${i + 1}`;
      });
      //   console.log("this.data", this.data);
    });
  },
  methods: {},
};
</script>

<style lang="less" scoped>
::v-deep .van-cell__right-icon {
  color: #333;
}
.wrap_box {
  //   margin-top: 54px;
  padding: 0 10px;
  border-top: 5px solid #f5f5f5;

  .item {
    // padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    .txt {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }
  }

  .custom-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/deep/ .van-cell__title {
  width: 80%;
}
/deep/.van-cell {
  padding: 15px 0;
}
</style>
