<template>
  <div class="basic_wrap">
    <!-- <div class="red_top_bg">
			<div class="back_left" @click="$router.back()"></div>
			<div class="record" @click="$router.push('/recharge/record')">
				<img src="../img/user/record.png">
			</div>
		</div> -->
    <div class="bg">
      <top-back title="user.recharge" :isWhite="true"></top-back>
      <div class="flex flex-b pd">
        <div class="num-box">
          <div class="num">
            <!-- {{ common.precision_basic(userBalance) }} -->
            {{ $thousands(userBalance) }}
          </div>
          <div>
            {{ $t("withdraw.fundBalance") }}
          </div>
        </div>

        <div class="flex log-btn" @click="$router.push('/moneyRecord?type=0')">
          <div>
            {{ $t("new.zdmx") }}
          </div>
          <div class="icon jtr"></div>
        </div>
      </div>
    </div>

    <div class="recharge_wrap">
      <div class="num-list">
        <div class="title">
          {{ $t("recharge.money") }}
        </div>
        <div class="list flex flex-b">
          <div
            class="item"
            v-for="(v, i) in commonMoney"
            @click="changeItem(v, i)"
            :class="{ active: active_money == i }"
          >
            {{ $thousands(v || 0) }}
          </div>
        </div>
      </div>

      <div class="num-list num-lists">
        <div class="title">
          {{ $t("recharge.anotherMoney") }}
        </div>
        <div class="input">
          <input
            v-model="money"
            @change="moneyInput"
            type="text"
            :placeholder="$t('recharge.moneyMinPlaceholder') + minMoney"
          />
        </div>
      </div>

      <!-- <div  class="block_div common_money_wrap">
        <p class="tips">{{ $t("recharge.money") }}</p>
        <div class="flex_center common_money">
          <p
            v-for="(v, i) in commonMoney"
            @click="
              money = v;
              active_money = i;
            "
            v-bind:class="{ active_money: active_money == i }"
          >
            {{ common.currency_symbol_basic() }}{{ v }}
          </p>
        </div>
      </div> 

      <div class="block_div recharge_money_wrap">
        <p class="tips">{{ $t("recharge.anotherMoney") }}</p>
        <div class="flex_center">
          <van-field
            v-model="money"
            type="number"
            :placeholder="
              $t('recharge.moneyMinPlaceholder') +
              common.currency_symbol_basic() +
              minMoney
            "
          />
        </div>
      </div> -->

      <!-- 选择充值方式 -->
      <!-- <div  class="recharge_method_wrap">
        <p class="tips">{{ $t("recharge.method") }}</p>
        <div class="recharge_item">
          <div
            class="flex_center item"
            v-for="(item, index) in rechargeMethod"
            :class="{ active_item: active == index }"
            @click="active = index"
          >
            <div class="flex_center item_name">
              <img :src="item.logo" />
              <p>{{ item.name }}</p>
            </div>
            <div class="gou" :class="{ active_gou: active == index }">
              •
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="block_div flex_center recharge_detail_wrap">
        <div>
          {{ $t("recharge.money") }}
          <span class="detail_money"
            >{{ common.currency_symbol_basic() }}{{ money }}</span
          >
        </div>
        <div
          class="basic_btn btn"
          :class="money > 0 ? '' : 'no_touch'"
          @click="submit"
        >
          {{ $t("recharge.rechargeNow") }}
        </div>
      </div> -->
      <div class="bot-fixed">
        <div class="btns" :class="money > 0 ? '' : 'no_touch'" @click="submit">
          {{ $t("recharge.rechargeNow") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Fetch from "../../utils/fetch";
import { Field, Dialog } from "vant";
Vue.use(Field);
export default {
  name: "",
  data() {
    return {
      commonMoney: [],
      userBalance: "0",
      money: "",
      rechargeMethod: [],
      active: 0,
      active_money: -1,
      minMoney: 0,
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
  },
  computed: {
    // onKeyPrice() {
    //   return (t) => {
    //     t = String(t);
    //     let ms = t
    //       .replace(/[^\d\.]/g, "")
    //       .replace(/(\.\d{2}).+$/, "$1")
    //       .replace(/^0+([1-9])/, "$1")
    //       .replace(/^0+$/, "0");
    //     let txt = ms.split(".");
    //     while (/\d{4}(,|$)/.test(txt[0])) {
    //       txt[0] = txt[0].replace(/(\d)(\d{3}(,|$))/, "$1,$2");
    //     }
    //     t = txt[0] + (txt.length > 1 ? "." + txt[1] : "");
    //     return t;
    //   };
    // },
  },
  mounted() {
    this.start();
  },
  methods: {
    changeItem(v, i) {
      this.money = this.$thousands(v);
      this.active_money = i;
    },
    moneyInput() {
      this.money = this.$thousands(this.money);
    },
    start() {
      Fetch("/user/getRechargeMethod").then((r) => {
        this.userBalance = r.data.userBalance;
        this.commonMoney = r.data.commonMoney;
        this.rechargeMethod = r.data.rechargeMethod;
        this.minMoney = r.data.minMoney;
      });

      // 获取认证状态
      Fetch("/user/getAuthStatus").then((r) => {
        // console.log(r);return
        if (r.code == 1) {
          // 只要未认证或没有成功，都应该提示
          if (r.data.auth_phone != 1) {
            Dialog({
              message: this.$t("qxsm"),
              confirmButtonText: this.$t("utils.confirm"),
            }).then(() => {
              // on confirm
              setTimeout(() => {
                this.$router.push("/auth");
              }, 1000);
            });
          }
        }
      });
    },
    submit() {
      if (this.money == "") {
        this.$toast(this.$t("recharge.moneyEmpty"));
        return false;
      }
      if (this.money <= 0) {
        this.$toast(this.$t("recharge.moneyError"));
        return false;
      }
      let money = this.money.replace(/\./g, "");

      if (this.money - this.minMoney < 0) {
        this.$toast(
          this.$t("recharge.moneyMinError") +
            this.common.currency_symbol_basic() +
            this.minMoney
        );
        return false;
      }
      //银行卡
      if (this.rechargeMethod[this.active]["type"] == 4) {
        this.$router.replace(
          "/recharge/bank?money=" +
            money +
            "&id=" +
            this.rechargeMethod[this.active]["id"]
        );
      } else {
        this.$router.replace(
          "/recharge/qrcode?money=" +
            money +
            "&id=" +
            this.rechargeMethod[this.active]["id"]
        );
      }
    },
  },
};
</script>

<style lang="less" scoped>
.btns {
  // margin-left: auto;
  // margin-right: auto;
  //width: 90%;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 22px;
  padding: 16px 0;
  margin: 0 auto 30px;
  text-align: center;
}
.bg {
  height: 300px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  .num-box {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #ffffff;
    .num {
      font-size: 30px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
  .log-btn {
    background: #c6caff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #565fed;
  }
  .pd {
    padding: 20px 10px;
  }
}

.num-list {
  padding: 20px 10px 0;
  &.num-lists {
    padding: 10px 10px 15px;
    // border-bottom: 10px solid #f5f5f5;
    .input {
      background: #ebebeb;
      border-radius: 5px;
      input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #333;
        &::placeholder {
          font-size: 16px;
          color: #cccccc;
        }
      }
    }
  }
  .title {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
  }
  .list {
    flex-wrap: wrap;
    .item {
      width: 32%;
      text-align: center;
      background: #f4f5ff;
      border-radius: 10px;
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #7780fc;
      padding: 20px 0;
      margin-bottom: 10px;
      &.active {
        background: linear-gradient(90deg, #606fff, #7a82fc);
        // border: 1px solid #e0e0e0;
        color: #ffffff;
      }
    }
  }
}

.bot-fixed{
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 900px) {
  .bot-fixed {
    width: 100%;
    max-width: 730px;
  }
}

.basic_wrap {
  //   margin-bottom: 70px;
}
.red_top_bg {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #ffffff;

  .record {
    position: absolute;
    top: 11px;
    right: 15px;

    img {
      width: 22px;
      height: 22px;
    }
  }
}

.recharge_wrap {
  margin-top: -140px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;

  .tips {
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
  }

  .common_money_wrap {
    padding: 20px;
    margin-bottom: 10px;

    .common_money {
      justify-content: space-around;

      p {
        padding: 12px 8px;
        margin-left: 5px;
        background: #dfdfdf;
        border-radius: 5px;
      }

      .active_money {
        background: #1989fa;
        color: #ffffff;
      }
    }
  }

  .recharge_money_wrap {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
  }

  .recharge_method_wrap {
    padding: 20px 10px;
    .tips {
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      margin-bottom: 20px;
    }

    .recharge_item {
      .item {
        justify-content: space-between;
        border: 1px solid #f5f5f5;
        border-radius: 54px;
        margin-bottom: 15px;
        padding: 10px 15px;

        .item_name {
          p {
            margin-left: 10px;
            color: #333333;
          }
        }

        img {
          width: 32px;
          height: 32px;
        }

        .gou {
          // padding: 5px;
          background: #dfdfdf;
          color: #ffffff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          text-align: center;
          text-align: center;
          line-height: 20px;
        }

        .active_gou {
          background: #7780fc;
        }
      }

      .active_item {
        border-color: #7780fc;
      }
    }
  }

  .recharge_detail_wrap {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    padding: 15px;

    .detail_money {
      color: #ff0000;
      font-weight: bold;
      font-size: 16px;
      margin-left: 5px;
    }

    .btn {
      width: unset;
      height: unset;
      line-height: unset;
      padding: 5px 15px;
      margin-left: unset;
    }
  }
}
</style>
