<template>
  <div class="main">
    <top-back title="new.hbjl"></top-back>
    <div class="list">
      <van-list
        v-model="loading"
        loading-text=" "
        offset="0"
        :finished="finished"
        @load="onLoad"
        v-if="list.length"
      >
        <!-- :finished-text="$t('utils.noData')" -->
        <div
          class="list-item flex flex-b"
          v-for="(item, index) in list"
          :key="index"
        >
          <div class="flex flex-b">
            <div class="num">
              {{ item.money }}VND
              <!-- <p class="num">
                {{ currency_symbol_basic }}{{ precision_basic(item.money) }}
                <span class="money_usd num" v-if="item.wtype != 1"
                  >≈ {{ common.precision(item.money2) }}
                  {{ item.currency }}</span
                >
                <span class="money_usd num" v-if="item.wtype == 1"
                  >≈ {{ common.precision_basic(item.money) }} USDT</span
                >
              </p> -->
            </div>
          </div>
          <div class="flex flex-b">
            <p class="time">{{ item.time }}</p>
          </div>
        </div>
      </van-list>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "redList",
  props: {},
  data() {
    return {
      currency_symbol_basic: localStorage.getItem("currency_symbol_basic"),
      //   data: [],
      //   empty: false,
      //   loading: false,
      //   finished: false,
      list: [],
      //   page: 1,
      //   listRows: 8,
    };
  },
  components: {},
  methods: {
    precision(money) {
      var precision = localStorage.getItem("precision");
      return (money / 1).toFixed(precision);
    },
    precision_basic(money) {
      var precision = localStorage.getItem("precision_basic");
      return (money / 1).toFixed(precision);
    },
    // 目前用的是提现记录的数据，后面对接口修改？

    sort() {
      //   this.page = 1;
      //   this.empty = false;
      //   this.list = [];
      //   this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      this.$Fetch(`/index/redEnvelope`).then((r) => {
        this.list = r.data.logs;
        this.loading = false;
      });
    },
  },
  created() {
    this.sort();
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.main {
  padding-top: 50px;
}

.list {
  padding: 10px;
  border-top: 10px solid #f5f5f5;
  .list-item {
    padding: 15px 10px;
    border-bottom: 1px solid #cccccc;
    // line-height:30px;
    .mb15 {
      margin-bottom: 15px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .num {
      font-size: 16px;
      font-weight: bold;
      color: #1eaf2c;
    }
    .time {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
    .status {
      font-size: 14px;
      font-weight: 500;
      color: #666666;
    }
  }
}
</style>
