<template>
  <!-- 余额宝 -->
  <div class="main">
    <div class="icon yebg">
      <top-back title="" :isWhite="true"></top-back>

      <div class="flex mx" @click="$router.push('/transactionDetails')">
        <div class="icon jymx"></div>
        <div>
          {{ $t("new.jymx") }}
        </div>
      </div>
      <!--  -->
      <div class="title">
        <div class="t1">
          {{ $t("new.yeb") }}
        </div>
        <div class="t2">
          {{ $t("new.yet") }}
        </div>
      </div>

      <!--  -->
      <div class="tip flex flex-b">
        <div class="flex">
          <div class="icon sscq"></div>
          <div>{{ $t("new.t1") }}</div>
        </div>

        <div class="flex">
          <div class="icon sxtz"></div>
          <div>{{ $t("new.t2") }}</div>
        </div>

        <div class="flex">
          <div class="icon hsy"></div>
          <div>{{ $t("new.t3") }}</div>
        </div>
      </div>

      <!--  -->
      <div class="nums">
        <div class="t-center">
          <span class="icon wjlc">{{ $t("new.t4") }}</span>
        </div>

        <div class="mtb20">
          <div class="num num-s">
            {{ savingsData.savings.flexible_rate || 0 }}%
          </div>
          <div class="txt txt-s">{{ $t("new.syl") }}</div>
        </div>
        <div>
          <div class="flex flex-b">
            <div class="num flex-1">
              <!-- Number(savingsData.flexible_usd).toFixed(2) -->
              {{ $thousands(savingsData.flexible_usd || 0) }}
            </div>
            <div class="num flex-1">
              {{ $thousands(savingsData.income_ye || 0) }}
            </div>
            <div class="num flex-1">
              {{ $thousands(savingsData.income || 0) }}
            </div>
          </div>
          <div class="flex flex-b">
            <div class="txt flex-1">{{ $t("new.trje") }}</div>
            <div class="txt flex-1">{{ $t("new.zrsy") }}</div>
            <div class="txt flex-1">{{ $t("new.ljsy") }}</div>
          </div>
        </div>
        <!--  -->
        <div class="btns flex flex-c">
          <div class="btn" @click="zcEvent">{{ $t("new.zc") }}</div>
          <div class="btn1" @click="zrEvent">{{ $t("new.zr") }}</div>
        </div>
      </div>

      <!--  -->
      <div class="titles">
        <div class="flex">
          <div class="icon wdsy"></div>
          <span class="text"> {{ $t("new.wdsy") }}</span>
        </div>
      </div>

      <!--  -->
      <div class="white-bg">
        <div class="list" v-if="list.length">
          <div class="item" v-for="(item, i) in list" :key="i">
            <div class="flex flex-b">
              <div class="name">{{ $t("new.sy") }}</div>
              <div class="number">+{{ $thousands(item.money || 0) }} VND</div>
            </div>

            <div class="time">{{ item.act_time || item.time }}</div>
          </div>
        </div>

        <div class="no-data" v-else>
          <div class="no-img"></div>
          <div class="no-txt">
            {{ $t("utils.noData") }}
          </div>
        </div>
      </div>
    </div>

    <!-- 转出弹出 -->
    <van-dialog
      v-model="show"
      title=""
      :showConfirmButton="false"
      :show-cancel-button="false"
      :closeOnClickOverlay="true"
    >
      <div class="popup">
        <div class="title">
          {{ $t("new.zc") }}
          <div class="icon gb" @click="show = false"></div>
        </div>

        <div class="cot">
          <div>
            {{ $t("new.kzc") }}:<span>{{ $thousands(zcye || 0) }} VND</span>
          </div>

          <div class="input flex flex-b">
            <input
              v-model="money"
              @change="moneyInput"
              :placeholder="$t('new.zctip')"
            />
            <span class="all" @click="money = $thousands(zcye || 0)">{{
              $t("tabs.all")
            }}</span>
          </div>
        </div>

        <div class="btns flex flex-b">
          <div class="btn1" @click="zcSubmit">{{ $t("utils.confirm") }}</div>
        </div>
      </div>
    </van-dialog>

    <!-- 转入弹出 -->
    <van-dialog
      v-model="show1"
      title=""
      :showConfirmButton="false"
      :show-cancel-button="false"
      :closeOnClickOverlay="true"
    >
      <div class="popup">
        <div class="title">
          {{ $t("new.zr") }}
          <div class="icon gb" @click="show1 = false"></div>
        </div>

        <div class="cot">
          <div>
            {{ $t("withdraw.fundBalance") }}:<span
              >{{ $thousands(zrye || 0) }} VND</span
            >
          </div>

          <div class="input flex flex-b">
            <input
              v-model="money1"
              @change="moneyInput1"
              :placeholder="$t('new.zrtip')"
            />
            <span class="all" @click="money1 = $thousands(zrye || 0)">{{
              $t("tabs.all")
            }}</span>
          </div>
        </div>

        <div class="btns flex flex-b">
          <div class="btn1" @click="zrSubmit">{{ $t("utils.confirm") }}</div>
        </div>
      </div>
    </van-dialog>
  </div>
</template>

<script>
export default {
  name: "remainingMoney",
  props: {},
  data() {
    return {
      info: {},
      // 转出
      show: false,
      money: "",
      zcye: "",
      // 转入
      zrye: "",
      show1: false,
      money1: "",
      zrMin: "", //转入的最小金额
      list: [],
      page: 1,
      savingsData: {
        savings: "",
        flexible_usd: 0,
        income_ye: 0,
        income: 0,
      },
    };
  },
  components: {},
  methods: {
    // async getInfo() {
    //   var isapp = 0;
    //   if (window.plus) {
    //     isapp = 1;
    //   }
    //   const res = await this.$Fetch("/user/info", {
    //     isapp: isapp,
    //   }).then((r) => {
    //     this.info = r.data;
    //     this.zrye = this.ktx(this.info);
    //   });
    // },

    moneyInput() {
      this.money = this.$thousands(this.money);
    },
    moneyInput1() {
      this.money1 = this.$thousands(this.money1);
    },
    // 获取转出详情
    async zcEvent() {
      const res = await this.$Fetch("/user/savingsRedeemDetail");
      if (res.code == 1) {
        this.zcye = Number(res.data.balance);
        this.show = true;
      }
    },
    // 转出提交
    async zcSubmit() {
      this.money = this.money.replace(/\./g, "");
      //余额不足
      if (Number(this.money) > Number(this.zcye) || Number(this.money) <= 0) {
        this.$toast(this.$t("invest.moneyNotEnough"));
        return;
      }

      // 转出提交
      const res = await this.$Fetch("/user/savingsRedeem", {
        money: this.money,
      });
      if (res.code == 1) {
        this.show = false;
        this.money = "";
        this.$toast(this.$t("success"));
        this.getSyInfo();
      }
    },

    // 获取转入详情
    async zrEvent() {
      const res = await this.$Fetch("/user/savingsSubscribeDetail", {
        type: 1,
      });
      if (res.code == 1) {
        this.zrMin = Number(res.data.min);
        this.zrye = Number(res.data.userBalance); //用户可转入的余额
        this.show1 = true;
      }
    },
    // 转入提交
    async zrSubmit() {
      this.money1 = this.money1.replace(/\./g, "");
      //余额不足
      if (Number(this.money1) > Number(this.zrye)) {
        this.$toast(this.$t("invest.moneyNotEnough"));
        return;
      }

      // 小于最小转入
      if (Number(this.money1) < this.zrMin) {
        this.$toast(
          this.$t("recharge.moneyMinPlaceholder") + this.zrMin + " VND"
        );
        return;
      }

      // 转入提交
      const res = await this.$Fetch("/user/savingsSubscribe", {
        money: this.money1,
        type: 1,
        day: 0,
      });
      if (res.code == 1) {
        this.show1 = false;
        this.money1 = "";
        this.$toast(this.$t("success"));
        this.getSyInfo();
        this.getInfo(); //更新余额
      }
    },
    // 获取收益列表
    async getSyList() {
      // 转入提交
      const res = await this.$Fetch("/user/fundingRecord", {
        page: 1,
        listRows: 1000,
        type: 0,
        fund_type: 18,
      });
      if (res.code == 1) {
        this.list = res.data.list;
      }
    },
    // 获取收益率等
    async getSyInfo() {
      const res = await this.$Fetch("/user/savingsDetail");
      if (res.code == 1) {
        this.savingsData = res.data;
      }
    },
  },
  created() {
    //   隐藏底部tab栏
    this.$parent.footer("user", false);
    this.getSyInfo();
    this.getSyList();
    // this.getInfo();
  },
  mounted() {},
  computed: {
    ktx() {
      return (value) => {
        return isNaN(Number(value.money) - Number(value.frozen_money))
          ? "0"
          : Number(value.money) - Number(value.frozen_money);
      };
    },
  },
};
</script>

<style scoped lang="less">
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.main {
  background-color: #f5f5f5;
  min-height: 100vh;
}
.popup {
  padding: 15px;
  .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      right: 0px;
      z-index: 99;
    }
  }
  .cot {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    // text-align: center;
    margin: 20px 0;
    span {
      font-size: 16px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #333333;
    }
    .input {
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
      input {
        // width: 100%;
        height: 100%;
      }
      .all {
        font-size: 14px;
        font-weight: bold;
        color: #606fff;
      }
    }
  }
  .btns {
    .btn1 {
      flex: 1;
      background: linear-gradient(90deg, #606fff, #7a82fc);
      opacity: 0.93;
      border-radius: 5px;
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #ffffff;
      text-align: center;
      padding: 14px 0;
      // margin-left: 10px;
    }
  }
}

.yebg {
  position: relative;
  .mx {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    z-index: 999;
    .icon {
      margin-right: 5px;
    }
  }
  .title {
    padding: 30px;
    .t1 {
      font-size: 30px;
      font-family: PingFang-SC-Heavy, PingFang SC;
      font-weight: 800;
      color: #ffffff;
      background: linear-gradient(0deg, #fef9f8 0%, #fff5c2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .t2 {
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
      margin-top: 10px;
    }
  }
  .tip {
    background: #ffffff;
    opacity: 0.8;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 10px 10px;

    font-size: 12px;
    font-weight: 500;
    color: #934302;
    .icon {
      margin-right: 5px;
    }
  }
  .nums {
    background: #ffffff;
    border-radius: 10px;
    padding: 0 10px 30px;
    margin: 0 10px;
    .wjlc {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      color: #9e5f27;
      text-align: center;
      line-height: 36px;
      margin: 0px auto 0;
      padding: 0 20px;
    }

    .mtb20 {
      margin: 20px 0;
    }

    .num {
      font-size: 18px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #eb4532;
      text-align: center;
      &.num-s {
        font-size: 40px;
      }
    }
    .txt {
      font-size: 12px;
      font-weight: 500;
      color: #666666;
      text-align: center;
      margin-top: 10px;
      &.txt-s {
        margin-top: 20px;
      }
    }
    .btns {
      margin-top: 20px;
      .btn {
        flex: 1;
        border: 1px solid #606fff;
        // background: linear-gradient(90deg, #606fff, #7a82fc);
        border-radius: 22px;
        font-size: 14px;
        font-weight: 500;
        color: #606fff;
        padding: 15px 0;
        margin-right: 5px;
        text-align: center;
      }
      .btn1 {
        flex: 1;
        background: linear-gradient(90deg, #606fff, #7a82fc);
        border-radius: 22px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        padding: 15px 0;
        margin-left: 5px;
        text-align: center;
      }
    }
  }

  .titles {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    line-height: 32px;
    text-align: center;
    margin: 10px 20px;
    .text {
      text-align: center;
      display: inline-block;
      line-height: 22px;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      padding: 0 5px;
      background: linear-gradient(60deg, #e1e4ff, #f3f4ff);
      vertical-align: middle;
    }
  }
  .no-data {
    margin: 0 auto;
    padding: 50px 0;
  }

  .white-bg {
    background-color: #f5f5f5;
  }
  .list {
    background: #ffffff;
    border-radius: 10px;
    margin: 0 10px;
    padding: 0 10px;
    .item {
      padding: 15px 0;
      border-bottom: 1px solid #cccccc;
      //   &:first-child {
      //     border-bottom: none;
      //   }
      &:last-child {
        border-bottom: none;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
      }
      .time {
        font-size: 14px;
        font-weight: 500;
        color: #999999;
        margin-top: 10px;
      }
      .number {
        font-size: 18px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #eb4532;
      }
    }
  }
}
</style>
