<template>
  <!-- 列表内容需要替换 -->
  <div class="main">
    <top-back title="user.fundingDetails"></top-back>
    <div class="list">
      <van-list
        v-model="loading"
        loading-text=" "
        offset="0"
        :finished="finished"
        @load="onLoad"
        v-if="list.length"
      >
        <!-- :finished-text="$t('utils.noData')" -->
        <div class="list-item" v-for="(item, index) in list" :key="index">
          <div class="flex flex-b flex-1">
            <p class="title mb15">{{ $t("s" + item.fund_type) }}</p>
            <!-- Number(item.money).toFixed(2) -->
            <div class="num" :class="{ red: item.type == 2 }">
              {{ item.type == 1 ? "+" : "-"
              }}{{ $thousands(item.money || 0) }} VND
            </div>
          </div>
          <div class="flex-1 time">
            {{ item.time ? item.time : item.act_time }}
          </div>
        </div>
      </van-list>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Fetch from "../../utils/fetch";
export default {
  name: "revenueDetails",
  props: {},
  data() {
    return {
      currency_symbol_basic: localStorage.getItem("currency_symbol_basic"),
      data: [],
      empty: false,
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 8,
    };
  },
  components: {},
  methods: {
    // precision(money) {
    //   var precision = localStorage.getItem("precision");
    //   return (money / 1).toFixed(precision);
    // },
    // precision_basic(money) {
    //   var precision = localStorage.getItem("precision_basic");
    //   return (money / 1).toFixed(precision);
    // },
    sort() {
      this.page = 1;
      this.empty = false;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      Fetch(`/user/fundingRecord`, {
        page: this.page,
        listRows: this.listRows,
        // fund_type: 5,
        fund_type: 0,
        type: 0,
      }).then((r) => {
        if (r.data.length == 0) this.empty = true;
        var list = r.data.list;
        for (var i = 0; i < list.length; i++) {
          this.list.push(list[i]);
        }
        if (this.list.length >= r.data.length) {
          this.finished = true;
          return;
        }
        this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
  created() {
    this.sort();
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.main {
  padding-top: 50px;
}

.list {
  padding: 10px;
  border-top: 10px solid #f5f5f5;
  .list-item {
    padding: 15px 5px;
    border-bottom: 1px solid #cccccc;
    // line-height:30px;
    .mb15 {
      margin-bottom: 15px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .num {
      font-size: 16px;
      font-weight: bold;
      color: #1eaf2c;
      &.red {
        color: #ff4444;
      }
    }
    .time {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
    .status {
      font-size: 14px;
      font-weight: 500;
      color: #666666;
    }
  }
}
</style>
