<template>
  <div class="pad-top">
    <top-back title="new.aqzx"></top-back>

    <div class="list">
      <div class="item flex flex-b" @click="$router.push('/loginPass')">
        <div class="flex">
          <div class="icon dlmm"></div>
          <div>{{ $t("new.dlmm") }}</div>
        </div>
        <div class="flex">
          <div class="txt">{{ $t("new.xctip") }}</div>
          <div class="icon jtrs"></div>
        </div>
      </div>

      <div class="item flex flex-b" @click="$router.push('/fundPass')">
        <div class="flex">
          <div class="icon zjmm"></div>
          <div>{{ $t("new.zjmm") }}</div>
        </div>
        <div class="flex">
          <div class="txt">{{ $t("new.xctip") }}</div>
          <div class="icon jtrs"></div>
        </div>
      </div>

      <div class="item flex flex-b" @click="clear()">
        <div class="flex">
          <div class="icon qchc"></div>
          <div>{{ $t("new.qchc") }}</div>
        </div>
        <div>
          <!-- <div>{{ $t("new.xctip") }}</div> -->
          <div class="icon jtrs"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "safeCenter",
  props: {},
  data() {
    return {};
  },
  components: {},
  methods: {
    clear() {
        // 清除本地all
      localStorage.clear();
    },
  },
  created() {
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.list {
  padding: 0 10px;
  border-top: 5px solid #f5f5f5;
  .item {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    .txt {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
  }
}
</style>
