<template>
  <div class="kefu_wrap">
    <!-- <bsHeader
      :title="$t('user.onlineService')"
      @backurl="$router.back()"
    ></bsHeader> -->
    <div>
      <div class="title">{{ $t("new.kefu") }}</div>
      <!-- 语言切换-->
      <!-- <lang-select></lang-select> -->
    </div>

    <!-- <div class="list">
      <div class="item" v-for="(item, index) in data.list">
        <van-cell is-link @click="$router.push('/service/' + item.id)">
          <template #title>
            <img :src="item.logo" alt="" />
            <span class="custom-title">{{ item.title }}</span>
          </template>
        </van-cell>
      </div>
    </div> -->
    <div class="list">
      <div class="item" v-for="(item, index) in data.list" v-show="index == 0">
        <van-cell is-link @click="goPage(item)">
          <template #title>
            <img :src="item.logo" alt="" />
            <span class="custom-title">{{ item.title }}</span>
          </template>
        </van-cell>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Fetch from "../../utils/fetch";
import bsHeader from "../../components/bsHeader.vue";
import { Cell, CellGroup } from "vant";

Vue.use(Cell).use(CellGroup);
export default {
  name: "service",
  components: {
    bsHeader,
  },
  data() {
    return {
      data: {},
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    // this.$parent.footer('user', false); //控制显示底部tab
    this.$parent.footer("kefu"); //控制当前激活项
  },
  mounted() {
    this.start();
  },
  methods: {
    goPage(item) {
      if (item.id == 3) {
        let url = JSON.stringify(item.url);
        // 在线客服跳转内嵌页
        this.$router.push(`/onlineService?url=${url}`);
      } else {
        // 其他跳转外部链接
        this.$openUrl(item.url);
      }
    },
    start() {
      Fetch("/index/service_list").then((res) => {
        this.data = res.data;
      });
    },
  },
};
</script>

<style lang="less" scoped>
/deep/ .van-cell__right-icon {
  line-height: 40px;
  color: #333;
  font-size: 20px;
}
::v-deep .van-cell {
  padding: 0;
}
.title {
  font-size: 16px;
  color: #333333;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

.list {
  //   margin-top: 55px;
  //   border-radius: 5px;
  padding: 10px;

  img {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .item {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding: 15px 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.08);
  }
}
</style>
