<template>
  <!-- 收货地址 -->
  <div class="main pad-top">
    <top-back title="new.shdz"></top-back>

    <div class="list">
      <div class="inner">
        <!-- 列表地址只有一个 -->
        <div class="item" v-if="info.contact">
          <div class="border">
            <div class="flex flex-b">
              <div class="name">{{ info.contact }}</div>
              <div class="num">{{ info.user_phone }}</div>
            </div>
            <div class="txt">
              {{ info.address }}
            </div>
          </div>
          <div class="flex edit">
            <div class="flex" @click="editAddress()">
              <div class="icon bj"></div>
              <div>{{ $t("new.bj") }}</div>
            </div>
            <!-- <div class="flex ml20">
              <div class="icon sc"></div>
              <div>{{ $t("new.sc") }}</div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="submit-btn"
      v-if="!info.contact"
      @click="$router.push('/addShippingAddress')"
    >
      {{ $t("new.szdz") }}
    </div>

    <!-- 编辑弹层 -->
    <van-dialog
      v-model="show"
      title=""
      :showConfirmButton="false"
      :show-cancel-button="false"
      :closeOnClickOverlay="true"
    >
      <div class="popup">
        <div class="title">
          {{ $t("new.bj") }}
          <div class="icon gb" @click="show = false"></div>
        </div>

        <div class="cot">
          <div class="flex flex-b">
            <div class="txt flex-1">{{ $t("new.shdz") }}</div>
            <div class="flex-3" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
              <!-- <input class="input" placeholder="点击选择收货地址" /> -->
              <textarea
                name=""
                id="input"
                class="form-control"
                rows="2"
                v-model="info.address"
                required="required"
                :placeholder="$t('new.srdz')"
              ></textarea>
            </div>
          </div>
          <div class="flex flex-b">
            <div class="txt flex-1">
              {{ $t("new.lxr") }}
            </div>
            <div class="flex-3" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
              <input
                class="input"
                v-model="info.contact"
                :placeholder="$t('new.srshr')"
              />
            </div>
          </div>
          <div class="flex flex-b">
            <div class="txt flex-1">
              {{ $t("login.phone") }}
            </div>
            <div class="flex-3" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
              <input
                class="input"
                v-model="info.user_phone"
                :placeholder="$t('new.srsjh')"
              />
            </div>
          </div>
        </div>

        <div class="btns flex flex-b">
          <div class="btn1" @click="submit">{{ $t("utils.confirm") }}</div>
        </div>
      </div>
    </van-dialog>
  </div>
</template>

<script>
export default {
  name: "shippingAddress",
  props: {},
  data() {
    return {
      show: false,
      info: {
        contact: "",
      },
      // isLang: localStorage.getItem("lang"),
    };
  },
  components: {},
  methods: {
    editAddress() {
      this.show = true;
    },
    async getAddress() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      const res = await this.$Fetch("/user/info", { isapp });
      if (res.code == 1) {
        this.info = res.data;
      }
    },
    async submit() {
      if (!this.info.address) {
        this.$toast(this.$t("new.srdz"));
        return;
      }
      if (!this.info.contact) {
        this.$toast(this.$t("new.srshr"));
        return;
      }
      if (!this.info.user_phone) {
        this.$toast(this.$t("new.srsjh"));
        return;
      }
      const { address, contact, user_phone } = this.info;

      let params = { address, contact, user_phone };

      const res = await this.$Fetch("/user/addAddress", params);
      if (res.code == 1) {
        this.$toast(this.$t("success"));
        this.$router.go(0);
      }
    },
  },
  created() {
    this.$parent.footer("user", false);
    this.getAddress();
  },
  computed: {},
};
</script>

<style scoped lang="less">
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.main {
  min-height: 100vh;
  background-color: #f5f5f5;
}
.list {
  background-color: #f5f5f5;
  .inner {
    padding: 10px 5px;
    .item {
      background: #ffffff;
      border-radius: 5px;
      padding: 15px 10px;
      margin-bottom: 10px;
      .border {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 15px;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
      }
      .num {
        font-size: 18px;
        // font-family: SimHei;
        font-weight: 400;
        color: #000000;
      }
      .txt {
        font-size: 14px;
        font-weight: 500;
        color: #999999;
        padding: 15px 0;
      }
      .edit {
        justify-content: flex-end;
        .ml20 {
          margin-left: 20px;
        }
      }
    }
  }
}

.popup {
  padding: 15px;
  .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      right: 0px;
      z-index: 99;
    }
  }
  .txt {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
  }
  .cot {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    // text-align: center;
    margin: 20px 0;
    .flex-3 {
      margin-bottom: 10px;
      .form-control {
        width: 100%;
        min-height: 50px;
        max-height: 200px;

        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 10px;
      }
    }
    .input {
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 10px;
      width: 100%;
      height: 100%;
    }
  }
  .btns {
    .btn1 {
      flex: 1;
      background: linear-gradient(90deg, #606fff, #7a82fc);
      opacity: 0.93;
      border-radius: 5px;
      font-size: 16px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #ffffff;
      text-align: center;
      padding: 14px 0;
      // margin-left: 10px;
    }
  }
}
</style>
