<template>
  <div class="pad-top">
    <top-back title="new.qdgz"></top-back>

    <div class="content" v-html="info.content"></div>
  </div>
</template>

<script>
export default {
  name: "encourage",
  props: {},
  data() {
    return {
      info: "",
    };
  },
  components: {},
  methods: {
    start() {
      this.$Fetch("/user/signInDay").then((res) => {
        //签到规则在获取签到详情里面
        this.info = res.data.sign_detail;
      });
    },
  },
  created() {
    this.$parent.footer("user", false);
    this.start();
  },
  computed: {},
};
</script>

<style scoped lang="less">
.content {
  border-top: 5px solid #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  padding: 10px;
  line-height: 24px;
}
</style>
