<template>
  <!-- 积分商城 -->
  <div class="main">
    <div class="icon qdbg">
      <top-back title="new.qd" :isWhite="true"></top-back>

      <div class="flex flex-b head">
        <div class="flex-1">
          <div class="title" :class="{ ts: $i18n.locale !== 'zh_cn' }">
            {{ $t("new.jf") }}
          </div>
          <div class="flex">
            <div class="icon jft"></div>
            <div class="num">{{ $thousands(signInfo.integrals || 0) }}</div>
          </div>
        </div>

        <div class="flex flex-b btn-box flex-1">
          <div
            class="btn btns"
            :class="{ lang: $i18n.locale !== 'zh_cn' }"
            @click="signArrive"
          >
            {{ $t("new.ljqd") }}
          </div>
          <div
            class="btn"
            :class="{ lang: $i18n.locale !== 'zh_cn' }"
            @click="$router.push('/exchange')"
          >
            {{ $t("new.dhsc") }}
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="flex flex-b title">
        <div class="tip">
          {{ $t("new.qdt") }}<span>{{ signInfo.sign_in_reward || 0 }}</span>
        </div>
        <div class="flex" @click="$router.push('/signRules')">
          <div class="icon qdgz"></div>
          <div class="gz">
            {{ $t("new.qdgz") }}
          </div>
        </div>
      </div>

      <div class="calendar">
        <!-- 年月 -->
        <div class="ym">
          {{ year }}{{ $t("sign.year") }}{{ month }}{{ $t("sign.month") }}
        </div>
        <!-- 星期 -->
        <div class="flex flex-b week">
          <div>{{ $t("sign.w1") }}</div>
          <div>{{ $t("sign.w2") }}</div>
          <div>{{ $t("sign.w3") }}</div>
          <div>{{ $t("sign.w4") }}</div>
          <div>{{ $t("sign.w5") }}</div>
          <div>{{ $t("sign.w6") }}</div>
          <div>{{ $t("sign.w7") }}</div>
        </div>

        <!-- 天 -->
        <div class="days flex">
          <div class="item" v-for="(item, i) in dateArr" :key="i">
            <div class="day" :class="{ active: item.isSign }">
              {{ item.day }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tips">
      {{ $t("new.lgqd")
      }}<span>
        <!-- {{ $thousands(daysArr.length) }} -->
        {{ $thousands(signInfo.total || 0) }}
        {{ $t("index.day") }}</span
      >
    </div>
  </div>
</template>

<script>
// import Fetch from "../../utils/fetch";
import { Dialog } from "vant";
export default {
  name: "exchange",
  props: {},
  data() {
    return {
      // isLang: localStorage.getItem("lang"),
      dateArr: [],
      daysArr: [],
      year: "",
      month: "",
      signInfo: {
        integrals: 0,
        total: 0,
      },
    };
  },
  components: {},
  methods: {
    // 获取已签到信息
    start() {
      this.$Fetch("/user/signInDay").then((res) => {
        // 当月已签到的日期[1,2,3]
        this.signInfo = res.data;
        this.daysArr = res.data.days || [];
        this.dateArr.forEach((item) => {
          this.daysArr.forEach((it) => {
            if (item.day == it) {
              item.isSign = true;
            }
          });
        });
      });
    },
    // 进行签到
    signArrive() {
      this.$Fetch("/user/signIn").then((res) => {
        // console.log("res", res);
        if (res.code == 1) {
          // this.$toast(this.$t(res.info));
          Dialog({
            message: this.$t("new.qdcg"),
            confirmButtonText: this.$t("utils.confirm"),
          });
          this.start();
        }
      });
    },
    getMonthData() {
      // 获取当前月份数据
      let date = {
        year: new Date().getFullYear(),
        month: new Date().getMonth() + 1,
        day: new Date().getDate(),
      };
      const { year, month, day } = date;
      this.year = year;
      this.month = month;
      // console.log("month", month);
      let dateArr = [];
      // 每月的天数
      let daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
      // 闰年处理,二月29天
      if ((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) {
        daysInMonth[1] = 29;
      }

      let monthStartWeekDay = new Date(year, month - 1, 1).getDay(); //当月第一天周几
      let monthEndWeekDay = new Date(
        year,
        month - 1,
        daysInMonth[month - 1]
      ).getDay(); //当月最后一天周几 0-6 日-六
      // let monthEndWeekDay = new Date(year, month, 1).getDay(); //下月第一天是周几
      // console.log("monthStartWeekDay", monthStartWeekDay, monthEndWeekDay);

      // 上一个最后几天占位
      for (let i = 0; i < monthStartWeekDay - 1; i++) {
        let template = {
          type: "before",
          day: "",
          month: "",
          year: "",
        };
        dateArr.push(template);
      }

      for (let i = 0; i < daysInMonth[month - 1]; i++) {
        let template = {
          type: "center",
          day: i + 1,
          month: "",
          year: "",
          // isSign: Number(day) === i + 1,
          isSign: false,
        };
        dateArr.push(template);
      }
      // 下一个开头几天占位
      monthEndWeekDay = monthEndWeekDay == 0 ? 7 : monthEndWeekDay;
      for (let i = 0; i < 7 - monthEndWeekDay; i++) {
        let template = {
          type: "after",
          day: "",
          month: "",
          year: "",
        };
        dateArr.push(template);
      }

      this.dateArr = dateArr;

      // console.log("dateArr", dateArr);
    },
  },
  created() {
    //   隐藏底部tab栏
    this.$parent.footer("user", false);
    this.start();
    this.getMonthData();
  },
  computed: {},
};
</script>

<style scoped lang="less">
.main {
  //   padding-top: 150px;
  background-color: #f0f0f0;
  min-height: 100vh;
}
.head {
  padding: 50px 15px;
  .title {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding-left: 35px;
    margin-bottom: 10px;
    &.ts {
      margin-bottom: 15px;
    }
  }
  .num {
    font-size: 26px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #ffffff;
    padding-left: 5px;
  }
  .btn-box {
    flex-wrap: wrap;
  }
  .btn {
    border: 1px solid #ffffff;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    // width: 100%;
    // margin: 5px;
    &.btns {
      background: linear-gradient(45deg, #ff8502, #ffaf02);
      border-color: transparent;
      // margin-right: 10px;
    }
    &.lang {
      width: 100%;
      &.btns {
        margin-bottom: 5px;
      }
    }
  }
}

.card {
  background: #ffffff;
  border-radius: 10px;
  margin: -48px 10px 20px;
  .title {
    padding: 15px 10px;
    border-bottom: 1px dashed #e0e0e0;
    flex-wrap: wrap;
    line-height: 20px;
    .tip {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
      // margin-top: 5px;
      span {
        font-size: 16px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #fa0202;
        margin-left: 5px;
      }
    }
    .gz {
      font-size: 14px;
      font-weight: 500;
      color: #333333;
    }
  }
  .calendar {
    // padding: 15px 10px;
    // padding: 0 5px;
    .ym {
      font-size: 14px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #333333;
      text-align: center;
      margin: 10px 0 20px;
    }
    .week {
      font-size: 12px;
      font-weight: bold;
      color: #999999;
      div {
        width: 14.28%;
        text-align: center;
      }
    }
    .days {
      flex-wrap: wrap;
      padding: 5px 0;
      .item {
        width: 14.28%;
        padding: 5px 0;
      }
      .day {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        // font-family: Euclid Circular A;
        font-weight: bold;
        color: #999999;
        &.active {
          background: linear-gradient(90deg, #606fff, #7a82fc);
          border-radius: 50%;
          font-size: 14px;
          // font-family: Euclid Circular A;
          font-weight: bold;
          color: #ffffff;
        }
      }
    }
  }
}
.tips {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  span {
    font-size: 14px;
    // font-family: Euclid Circular A;
    font-weight: bold;
    color: #fa0202;
    margin-left: 5px;
  }
}
</style>
