<template>
  <div>
    <div class="bg">
      <top-back title="new.zz" :isWhite="true"></top-back>
      <div class="flex flex-b pd">
        <div class="num-box">
          <div class="num">
            <!-- {{ common.precision_basic(userBalance) }} -->
            {{ $thousands(isNaN(number(info)) ? 0 : number(info)) }}
          </div>
          <div>
            {{ $t("withdraw.fundBalance") }}
          </div>
        </div>
        <!-- @click="$router.push('/moneyRecord?type=2') -->
        <div class="flex log-btn" @click="$router.push('/ztransactionDetails')">
          <div>
            {{ $t("new.zdmx") }}
          </div>
          <div class="icon jtr"></div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="infos">
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.dfzh") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            <input
              type="text"
              v-model="form.username"
              :placeholder="$t('new.srzh')"
            />
          </div>
        </div>
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.zzje") }}</div>
          <div class="flex-2" :class="{ 'flex-1': $i18n.locale == 'dk_dk' }">
            <input
              type="text"
              v-model="form.money"
              :placeholder="$t('new.srje')"
              @change="moneyInput"
            />
          </div>
        </div>
        <div class="flex flex-b item">
          <div class="flex-1">{{ $t("new.zjmm") }}</div>
          <div
            class="flex-2 flex flex-b"
            :class="{ 'flex-1': $i18n.locale == 'dk_dk' }"
          >
            <input
              :type="type ? 'password' : 'text'"
              v-model="form.paypassword"
              :placeholder="$t('new.srzjmm')"
            />
            <div
              class="eye_bi"
              :class="type ? '' : 'eye'"
              @click="type = !type"
            />
          </div>
        </div>
      </div>

      <div class="submit-btn" @click="submit">{{ $t("utils.submit") }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "transferAccounts",
  props: {},
  data() {
    return {
      type: true,
      form: {
        username: "",
        money: "",
        paypassword: "",
      },
      userBalance: "0",
      info: {
        money: 0,
        frozen_money: 0,
      },
      // isLang: localStorage.getItem("lang"),
    };
  },
  components: {},
  methods: {
    moneyInput() {
      this.form.money = this.$thousands(this.form.money);
    },
    async getInfo() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      const res = await this.$Fetch("/user/info", { isapp });
      if (res.code == 1) {
        this.info = res.data;
      }
    },
    submit() {
      if (!this.form.username) {
        this.$toast(this.$t("new.srzh"));
        return;
      }
      if (!this.form.money) {
        this.$toast(this.$t("new.srje"));
        return;
      }
      if (!this.form.paypassword) {
        this.$toast(this.$t("new.srzjmm"));
        return;
      }

      let money = this.form.money.replace(/\./g, "");
      let params = { ...this.form };
      params.money = money;

      // 认证提交
      this.$Fetch("/user/transfer", params).then((r) => {
        if (r.code == 1) {
          // 进行中
          // this.data.auth_phone = 2;
          this.$toast(this.$t("success"));
        }
      });
    },
  },
  created() {
    this.$parent.footer("user", false);
    this.getInfo();
  },
  computed: {
    number() {
      return (info) => {
        return Number(info.money) - Number(info.frozen_money);
      };
    },
  },
};
</script>

<style scoped lang="less">
.bg {
  height: 300px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  .num-box {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #ffffff;
    .num {
      font-size: 30px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
  .log-btn {
    background: #c6caff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #565fed;
  }
  .pd {
    padding: 20px 10px;
  }
}
.list {
  margin-top: -140px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  padding: 30px 15px;
  .submit-btn {
    margin-top: 40px;
  }
}

.infos {
  padding: 0 10px;
  .item {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    .flex-1 {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .flex-2 {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      input {
        height: 100%;
        width: 100%;
        &::placeholder {
          font-size: 12px;
          font-weight: 500;
          color: #b3b3b3;
        }
      }
    }
  }
}
</style>
