<template>
  <div class="basic_wrap">
    <!-- <div class="red_top_bg">
			<div class="back_left" @click="$router.back()"></div>
			<div class="record" >
				<img src="../img/user/record.png">
			</div>
		</div> -->
    <div class="bg">
      <top-back title="user.withdraw" :isWhite="true"></top-back>
      <div class="flex flex-b pd">
        <div class="num-box">
          <div class="num">
            <!-- {{ common.precision_basic(userBalance) }} -->
            {{ $thousands(userBalance) }}
          </div>
          <div>
            {{ $t("withdraw.fundBalance") }}
          </div>
        </div>

        <div class="flex log-btn" @click="$router.push('/moneyRecord?type=1')">
          <div>
            {{ $t("new.zdmx") }}
          </div>
          <div class="icon jtr"></div>
        </div>
      </div>
    </div>

    <!-- <div class="desc_warp">
      <img src="../img/user/withdraw.png" />
      <div class="flex_center userBalance">
        <p>{{ $t("withdraw.fundBalance") }}</p>
        <van-icon
          v-show="frozenAmount != 0"
          name="question-o"
          size="16"
          color="#999"
          style="margin-left: 5px"
          @click="showMsg()"
        />
      </div>
      <p>
        {{ common.currency_symbol_basic()
        }}{{ common.precision_basic(userBalance) }}
      </p>
    </div> -->

    <div class="withdraw_wrap">
      <!-- <div class="item choose_wallet">
        <div class="flex_center">
          <p>{{ $t("withdraw.account") }}</p>
          <div @click="show = true">
            <span>{{ withdraw_name }}</span>
            <van-icon name="arrow" color="#999" />
          </div>
        </div>
      </div> -->

      <div class="items">
        <div class="flex flex-b" @click="show = true">
          <div class="title">{{ $t("withdraw.account") }}</div>
          <van-icon name="arrow" size="16" color="#333333" />
        </div>

        <!-- 默认显示第一个 -->
        <div class="icon cbg">
          <div class="name">{{ firstCard.cardName }}</div>
          <div class="num">{{ firstCard.cardAccount }}</div>

          <div
            class="add"
            @click="$router.push('/bindBankCard')"
            v-if="!firstCard.cardName"
          >
            {{ $t("new.tjyh") }}
          </div>
        </div>
      </div>

      <van-action-sheet
        v-model="show"
        :actions="wallets"
        cancel-text=""
        :description="$t('withdraw.accountPlaceholder')"
        close-on-click-action
        @select="onSelect"
      />

      <!-- 提现金额 -->
      <div class="item">
        <div class="">
          <p class="withdraw_money_tips">{{ $t("withdraw.amount") }}</p>
          <div class="input">
            <!-- <van-field
              v-model="wallet.money"
              type="number"
              :placeholder="$t('withdraw.amountPlaceholder')"
            /> -->

            <input
              v-model="wallet.money"
              type="text"
              :placeholder="$t('withdraw.amountPlaceholder')"
              @change="moneyInput"
            />
          </div>
        </div>
      </div>

      <!-- 资金密码 -->
      <div class="item it">
        <div class="">
          <p class="withdraw_money_tips">{{ $t("new.zjmm") }}</p>
          <div class="input flex flex-b">
            <!-- <van-field
              v-model="wallet.money"
              type="number"
              :placeholder="$t('withdraw.amountPlaceholder')"
            /> -->

            <input
              v-model="wallet.paypassword"
              :type="type ? 'password' : 'text'"
              :placeholder="$t('new.srzjmm')"
            />
            <div
              class="eye_bi"
              :class="type ? '' : 'eye'"
              @click="type = !type"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- 提现提示 -->
    <!-- <p class="withdraw_time_tips">
      {{ $t("withdraw.withdrawNum") }}{{ withdraw_num
      }}{{ $t("utils.times" + times) }}<br />
      {{ $t("withdraw.withdrawAmount") }}{{ common.currency_symbol_basic()
      }}{{ common.precision_basic(withdraw_min) }}<br />
      {{ $t("withdraw.withdrawTips") }}
    </p> -->

    <div class="bot-fixed">
      <div
        class="btns"
        :class="wallet.money > 0 ? '' : 'no_touch'"
        @click="submit()"
      >
        {{ $t("withdraw.withdrawNow") }}
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import bsHeader from "../../components/bsHeader.vue";
import Fetch from "../../utils/fetch";
import { Icon, ActionSheet, Field } from "vant";
Vue.use(Icon).use(ActionSheet).use(Field);
export default {
  name: "",
  components: {
    bsHeader,
  },
  data() {
    return {
      type: true,
      rate: localStorage.getItem("rate"),
      data: [],
      userBalance: "0",
      frozenAmount: "0",
      withdraw_name: this.$t("withdraw.bindAccount"),
      show: false,
      wallets: [],
      wallet: {
        money: "",
        id: 0,
      },
      withdraw_num: 0,
      withdraw_min: 0,
      times: 0,
      firstCard: {
        cardName: "",
        cardAccount: "",
      },
    };
  },
  created() {
    if (window.plus) {
      plus.navigator.setStatusBarBackground("#FFFFFF");
      plus.navigator.setStatusBarStyle("dark");
    }
    this.$parent.footer("user", false);
  },
  mounted() {
    this.start();
    this.getInfo();
  },
  methods: {
    moneyInput() {
      this.wallet.money = this.$thousands(this.wallet.money);
    },
    async getInfo() {
      var isapp = 0;
      if (window.plus) {
        isapp = 1;
      }
      const res = await this.$Fetch("/user/info", {
        isapp,
      });
      // this.info = res.data.is_set_paywd;
      // this.info = 0;
      // 提示需要设置资金密码,并跳转
      if (res.data.is_set_paywd == 0) {
        this.$toast(this.$t("szzjmm"), 3000);
        setTimeout(() => {
          this.$router.push("/fundPass");
        }, 4000);
      }
    },
    start() {
      Fetch("/user/getWallets").then((r) => {
        this.userBalance = r.data.userBalance;
        this.frozenAmount = r.data.frozenAmount;
        this.withdraw_min = r.data.withdrawMin;
        this.withdraw_num = r.data.withdrawNum;
        this.times = r.data.withdrawNum;
        if (this.times > 1) this.times = 2;
        var walletList = [];
        r.data.wallets.forEach((item) => {
          walletList.push({
            name: item.wname + "(" + item.account + ")",
            value: item.id,
            type: item.type,

            cardName: item.wname,
            cardAccount: item.account,
          });
        });

        if (walletList.length == 0) {
          walletList.push({
            // name: this.$t("withdraw.bindAccount"),
            naem: this.$t("new.tjyh"),
            value: 0,
            color: "#FF0000",
          });
        }
        this.withdraw_name = walletList[0].name;
        this.wallet.id = walletList[0].value;
        this.wallets = walletList;

        // 初始默认显示第一个
        this.firstCard = walletList[0];
      });
    },
    onSelect(item) {
      if (item.value == 0) {
        // this.$router.push("/wallet");
        this.$router.push("/bindBankCard");
      }
      this.withdraw_name = item.name;
      this.wallet.id = item.value;
      //   console.log('item',item)
      this.firstCard = item;
    },
    changeAmount() {},
    submit() {
      if (this.wallet.id == 0) {
        this.$toast(this.$t("withdraw.accountEmpty"));
        return false;
      }
      if (this.wallet.money == "") {
        this.$toast(this.$t("withdraw.amountEmpty"));
        return false;
      }
      let money = this.wallet.money.replace(/\./g, "");
      if (money - this.userBalance > 0) {
        this.$toast(this.$t("withdraw.amountError"));
        return false;
      }
      if (money - this.withdraw_min < 0) {
        this.$toast(
          this.$t("withdraw.withdrawAmount") +
            this.common.currency_symbol_basic() +
            this.common.precision_basic(this.withdraw_min)
        );
        return false;
      }
      if (!this.wallet.paypassword) {
        this.$toast(this.$t("new.srzjmm"));
        return false;
      }

      // this.wallet.id = 7; //固定银行卡
      // console.log('money',money)
      this.wallet.money = money;
      Fetch("/user/withdraw", {
        ...this.wallet,
      }).then((r) => {
        // this.$router.replace("/withdraw/record");
        this.$router.replace("/moneyRecord?type=1");
      });
    },
    showMsg() {
      this.$dialog
        .alert({
          closeOnClickOverlay: true,
          showConfirmButton: false,
          message:
            "<p style='text-align: left'>" +
            this.$t("withdraw.frozenAmount") +
            this.common.currency_symbol_basic() +
            this.common.precision_basic(this.frozenAmount) +
            " " +
            "<br>" +
            this.$t("withdraw.needInvest") +
            "</p>",
        })
        .catch(() => {
          // on close
        });
    },
  },
};
</script>

<style lang="less" scoped>
::v-deep .van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.items {
  //   margin-bottom: 20px;
  padding: 20px 10px 0;
  .title {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    //   margin-bottom: 20px;
  }
  .cbg {
    padding: 15px 10px;
    margin-top: 20px;
    border-radius: 5px;
    .add {
      font-size: 16px;
      text-align: center;
      line-height: 4;
    }
    .name {
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
      margin-bottom: 20px;
    }
    .num {
      font-size: 18px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #333333;
      text-align: center;
    }
  }
}

.btns {
  width: 90%;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  border-radius: 22px;
  padding: 16px 0;
  margin: 0 auto 30px;
  text-align: center;
}
.bg {
  height: 300px;
  background: linear-gradient(90deg, #606fff, #7a82fc);
  .num-box {
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #ffffff;
    .num {
      font-size: 30px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
  .log-btn {
    background: #c6caff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #565fed;
  }
  .pd {
    padding: 20px 10px;
  }
}

.red_top_bg {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #ffffff;

  .record {
    position: absolute;
    top: 11px;
    right: 15px;

    img {
      width: 22px;
      height: 22px;
    }
  }
}

.desc_warp {
  margin-top: 60px;
  text-align: center;
  .userBalance {
    justify-content: center;
  }

  img {
    width: 100px;
    height: 100px;
  }

  p:nth-child(2) {
    font-size: 14px;
    color: #999;
  }

  p:nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
}

.withdraw_wrap {
  margin-top: -140px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  .item {
    margin-bottom: 10px;
    padding: 20px 10px;
    &.it {
      padding-top: 0;
    }
    .input {
      background: #ebebeb;
      border-radius: 5px;
      padding: 10px;
      input {
        width: 100%;

        font-size: 16px;
        color: #333;
        &::placeholder {
          font-size: 16px;
          color: #cccccc;
        }
      }
    }

    .flex_center {
      justify-content: space-between;
    }

    .withdraw_money_tips {
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      margin-bottom: 20px;
    }

    .money_mark {
      font-size: 18px;
      font-weight: bold;
      margin-left: 6px;
    }

    div:nth-child(1) {
      font-size: 14px;
      // font-weight: bold;
      color: #999;
    }

    // div:nth-child(2) {
    // 	text-align: right;
    // 	font-size: 14px;
    // 	font-weight: bold;
    // 	color: #999;
    // }
  }
}

.withdraw_time_tips {
  padding: 10px 16px 14px 16px;
  line-height: 2;
  font-size: 12px;
  color: #f12211;
}

.btn {
  width: 80%;
  margin: 50px 0 0 10%;
}

.bot-fixed {
  width: 100%; /* 默认宽度为100% */
}

@media (min-width: 730px) {
  .bot-fixed {
    width: 730px; /* 当宽度大于730px时，宽度固定为730px */
  }
}

/deep/ .van-cell {
  padding: 10px 16px 10px 10px;
}

/deep/ .van-action-sheet__item {
  text-align: left;
}

/deep/ .van-action-sheet__item {
  padding: 10px 16px;
  font-size: 14px;
}

/deep/ .van-dialog__message {
  text-align: left;
}
/deep/.van-action-sheet {
  padding-bottom: 10px;
}
::v-deep .van-action-sheet__name,
::v-deep .van-action-sheet__description {
  color: #333;
}
</style>
