<template>
  <!-- 站内转账明细 -->
  <div class="main">
    <top-back title="new.zzjl"></top-back>


    <div class="fixed">
      <div class="tab flex flex-b">
        <div
          class="item"
          :class="{ active: tabIndex == 0 }"
          @click="changTab(0)"
        >
          {{ $t("new.zr") }}
        </div>
        <div
          class="item"
          :class="{ active: tabIndex == 1 }"
          @click="changTab(1)"
        >
          {{ $t("new.zc") }}
        </div>
      </div>
    </div>

    <div class="list">
      <van-list
        v-model="loading"
        loading-text=" "
        offset="0"
        :finished="finished"
        @load="onLoad"
        v-if="list.length"
      >
        <!-- :finished-text="$t('utils.noData')" -->
        <div class="list-item" v-for="(item, index) in list" :key="index">
          <div class="flex flex-b mb15">
            <div class="title">
              {{ tabIndex ? $t("new.zc") : $t("new.zr") }}
            </div>

            <div class="num">
              {{ tabIndex ? "-" : "+" }}{{ $thousands(item.money) }} VND
            </div>
          </div>
          <div class="flex flex-b">
            <!-- 转出是赎回时间 act_time-->
            <p class="time">
              <!-- {{ tabIndex ? item.act_time : item.time }} -->
              {{ item.act_time ? item.act_time : item.time }}
            </p>
          </div>
        </div>
      </van-list>

      <div class="no-data" v-else>
        <div class="no-img"></div>
        <div class="no-txt">
          {{ $t("utils.noData") }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Fetch from "../../utils/fetch";
export default {
  name: "moneyRecord",
  props: {},
  data() {
    return {
      tabIndex: Number(this.$route.query.type) || 0,
      currency_symbol_basic: localStorage.getItem("currency_symbol_basic"),
      data: [],
      empty: false,
      loading: false,
      finished: false,
      list: [],
      page: 1,
      listRows: 20,
    };
  },
  components: {},
  methods: {
    changTab(value) {
      this.tabIndex = value;
      this.sort();
    },
    sort() {
      this.page = 1;
      this.empty = false;
      this.list = [];
      this.finished = false;
      this.loading = true;
      this.onLoad();
    },
    onLoad() {
      let fund_type = "";
      switch (this.tabIndex) {
        // 转入记录
        case 0:
          fund_type = "10";
          break;
        // 转出记录
        case 1:
          fund_type = "11";
          break;
      }
      Fetch(`/user/fundingRecord`, {
        page: this.page,
        listRows: this.listRows,
        type: 0,
        fund_type,
      }).then((r) => {
        if (r.data.length == 0) this.empty = true;
        var list = r.data.list;
        for (var i = 0; i < list.length; i++) {
          this.list.push(list[i]);
        }
        if (this.list.length >= r.data.length) {
          this.finished = true;
          return;
        }
        this.page = this.page + 1;
        this.loading = false;
      });
    },
  },
  created() {
    this.changTab(this.tabIndex);
    this.$parent.footer("user", false);
  },
  computed: {},
};
</script>

<style scoped lang="less">
.main {
  padding-top: 116px;
}
.zzjl {
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 16px;
}
.tab {
  margin-top: 50px;
  width: 100%;
  padding: 10px 20px;
  // position: fixed;
  top: 50px;
  z-index: 99;
  background-color: #fff;
  .item {
    background: #e0e0e0;
    border-radius: 18px;
    padding: 10px 20px;
    font-size: 16px;
    // font-family: PingFang SC;
    font-weight: 500;
    color: #999999;
    width: 45%;
    text-align: center;
    &.active {
      background: linear-gradient(90deg, #606fff, #7a82fc);
      color: #ffffff;
    }
  }
  border-bottom: 10px solid #f5f5f5;
}
.list {
  padding: 10px;
  .list-item {
    padding: 10px 5px;
    border-bottom: 1px solid #cccccc;
    // line-height:30px;
    .mb15 {
      margin-bottom: 15px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }
    .num {
      //   font-size: 14px;
      font-size: 12px;
      // font-family: Euclid Circular A;
      font-weight: bold;
      color: #333333;
    }
    .time {
      font-size: 14px;
      font-weight: 500;
      color: #999999;
    }
    .status {
      font-size: 14px;
      font-weight: bold;
      //   .color_blue{

      //   }

      .color_red {
        color: #fa0302;
      }
      .color_green {
        color: #3ab370;
      }
    }
  }
}
</style>
